Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

another deselection due to tolerances
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

skip on unsupported sklearn versions
  daal4py/sklearn/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

returns false as intended instead of throwing an error.
  onedal/datatypes/sycl_usm/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Fixed formatting issue.
  onedal/datatypes/sycl_usm/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Fixes for get_namespace.
  onedal/datatypes/sycl_usm/data_conversion.cpp
  onedal/utils/_array_api.py
  sklearnex/utils/_array_api.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add many changes
  onedal/tests/dummy.cpp
  onedal/tests/fake_onedal.hpp
  onedal/tests/prototype.py
Due: .ci/pipeline/nightly.yml

rename file for clarity
  onedal/tests/dummy.cpp
  onedal/tests/dummy_onedal.hpp
  onedal/tests/prototype.py
Due: .ci/pipeline/nightly.yml

break
  onedal/tests/dummy.cpp
Due: .ci/pipeline/nightly.yml

Update test_data.py
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

fix issues
  onedal/tests/dummy.cpp
  onedal/tests/dummy_onedal.hpp
Due: .ci/pipeline/nightly.yml

fix issues
  onedal/tests/dummy_onedal.hpp
Due: .ci/pipeline/nightly.yml

more info
  onedal/tests/dummy.cpp
Due: .ci/pipeline/nightly.yml

Update _data_conversion.py
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

more careful conditions around versioning
  daal4py/sklearn/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update requirements-doc.txt
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

fix version
  daal4py/sklearn/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

stopping point
  onedal/tests/dummy.cpp
Due: .ci/pipeline/nightly.yml

set -e to catch errors
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

set -e to catch errors (#2643)
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

note about the icd package under conda
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
