Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

print: print in save attributes
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: tuple handling
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

print: add print
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

print: test print
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more links
  doc/sources/algorithms.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

fix random forest on single-class data
  doc/sources/algorithms.rst
  sklearnex/ensemble/_forest.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update renovate.json
  .github/renovate.json
Due: .ci/pipeline/nightly.yml

fix tests
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update install_dpcpp.sh
  .ci/scripts/install_dpcpp.sh
Due: .ci/pipeline/nightly.yml

more hints
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

fix wrong method
  onedal/tests/utils/_dataframes_support.py
Due: .ci/pipeline/nightly.yml

make changes to reflect new design
  onedal/dummy/dummy.py
Due: .ci/pipeline/nightly.yml

missing import
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[maintenance] track DPC++ compiler with Renovate (#2724)
  .ci/scripts/install_dpcpp.sh
  .github/renovate.json
Due: .ci/pipeline/nightly.yml

[maintenance] track pre-commit via Renovate (#2720)
  .github/renovate.json
Due: .ci/pipeline/nightly.yml

test: test fix for typle
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: more print
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: test fix for tuyple issue
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: test fix for tuyple issue
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: try add validation
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: try restore neighbors funcitons
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

rename test
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unreachable branch
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: test restore
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further simplifications
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update requirements for knn
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

use 'get_namespace'
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

missing line
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unused import
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use more specialized function when possible
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Revert "use more specialized function when possible"
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Correct the phrase about DAAL interface deprecation in the docs
  doc/sources/about_daal4py.rst
Due: .ci/pipeline/docs.yml

Correct the phrase about DAAL interface deprecation in the docs (#2728)
  doc/sources/about_daal4py.rst
Due: .ci/pipeline/docs.yml

address last comments
  onedal/dummy/dummy.py
  sklearnex/dummy/_dummy.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

address last comments
  sklearnex/dummy/_dummy.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

grammar
  sklearnex/dummy/_dummy.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add torch examples
  doc/sources/array_api.rst
  doc/sources/index.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

add docs about serialization
  doc/sources/index.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/serialization.rst
Due: .ci/pipeline/docs.yml

standardize references to sycl
  doc/sources/array_api.rst
  doc/sources/input-types.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml
