Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

fix __init__
  onedal/datatypes/__init__.py
Due: .ci/pipeline/nightly.yml

fixes
  onedal/linear_model/incremental_linear_model.py
Due: .ci/pipeline/nightly.yml

readd aspect removed in #2346
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix issues with validate_data
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add some validate data violoations to rules
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix the kneightbors calls
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove addtional tests
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: format
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: try use array api xp
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes including addition from #2465
  onedal/linear_model/tests/test_linear_regression.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

install scikit-learn to build docs (#2592) (#2593)
  .github/workflows/docs-release.yml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[enhancement] enable array_api return values from ```from_table``` (#2441)
  onedal/cluster/dbscan.py
  onedal/covariance/covariance.py
  onedal/datatypes/__init__.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/sycl_usm/data_conversion.cpp
  onedal/datatypes/sycl_usm/data_conversion.hpp
  onedal/datatypes/table.cpp
  onedal/datatypes/tests/test_data.py
  onedal/ensemble/forest.py
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/logistic_regression.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
  sklearnex/spmd/linear_model/tests/test_linear_regression_spmd.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further fixes for local testing
  sklearnex/linear_model/linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

interim save
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
  sklearnex/spmd/linear_model/linear_model.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try to fix return values from predict
  sklearnex/linear_model/incremental_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove sklearn coformance from onedal module
  onedal/linear_model/incremental_linear_model.py
Due: .ci/pipeline/nightly.yml

remove print statement
  onedal/linear_model/linear_model.py
Due: .ci/pipeline/nightly.yml

sort indices of sparse matrices
  deselected_tests.yaml
  sklearnex/svm/tests/test_svm.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix for older scipy
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

missing import
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix for older scipy
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add fixes for onedal
  onedal/linear_model/tests/test_linear_regression.py
Due: .ci/pipeline/nightly.yml

add back deselected tests
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix: add if check for nearest neighbors
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test: test np for knn regression predict
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: format
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: format
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: revert previous
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_linear_regression.py
  onedal/linear_model/tests/test_linear_regression.py
Due: .ci/pipeline/nightly.yml

Update pairwise.py
  sklearnex/metrics/pairwise.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add option and instructions for json report of conformance tests
  .ci/scripts/run_sklearn_tests.py
  scikit-learn-tests.md
Due: .ci/pipeline/nightly.yml

add copyright header
  scikit-learn-tests.md
Due: .ci/pipeline/nightly.yml

add note in docs
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Formatting; Remove unused imports
  sklearnex/decomposition/pca.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/covariance/tests/test_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add small util to compare reports
  scikit-learn-tests.md
  tests/util_compare_json_reports.py
Due: .ci/pipeline/nightly.yml

add copyright header
  tests/util_compare_json_reports.py
Due: .ci/pipeline/nightly.yml
