Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

fix: remove duplicate _validate_center_shape, use inherited sklearn method
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add comment explaining why _check_sample_weight was removed
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove unnecessary section comments
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

fix: revert _init_centroids_sklearn signature to match main
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

fix: revert cosmetic changes to match main (variable names, formatting)
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

fix: handle non-array sample_weight types in _validate_sample_weight
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: black formatting
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

fix: validate sample_weight shape matches X in _validate_sample_weight
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: also check sample_weight is 1-d in _validate_sample_weight
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: use _check_sample_weight for numpy, xp ops for GPU arrays
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: array API compatible _validate_sample_weight with proper shape checks
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: pass is_csr to _predict_backend for sparse predict support
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

fix no error when zero weights
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect test that requires failure where sklearnex works
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Apply suggestion from @david-cortes-intel
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

Apply suggestion from @david-cortes-intel
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

rewrite docs after CPU/GPU split
  doc/sources/about.rst
  doc/sources/array_api.rst
  doc/sources/building-from-source.rst
  doc/sources/distributed-mode.rst
  doc/sources/index.rst
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

Add array_api_dispatch to spmd validation scope (#2940)
  onedal/_device_offload.py
  sklearnex/spmd/basic_statistics/tests/test_basic_statistics_spmd.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/cluster/tests/test_dbscan_spmd.py
  sklearnex/spmd/cluster/tests/test_kmeans_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/spmd/ensemble/tests/test_forest_spmd.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
  sklearnex/spmd/linear_model/tests/test_linear_regression_spmd.py
  sklearnex/spmd/linear_model/tests/test_logistic_regression_spmd.py
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

rewrite docs after CPU/GPU split (#3097)
  doc/sources/about.rst
  doc/sources/array_api.rst
  doc/sources/building-from-source.rst
  doc/sources/distributed-mode.rst
  doc/sources/index.rst
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

Apply suggestion from @ethanglaser
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

mention that GPU package is required for array API on CPU
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

stronger check for dpctl availability
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

remove function that's only used once
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

don't add rpath automatically when not using a conda environment
  conda-recipe/build.sh
Due: .ci/pipeline/nightly.yml

add attribution notice to specific files in addition to general notice
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/manifold/_t_sne.py
  daal4py/sklearn/metrics/_ranking.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove spdx identifiers
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/manifold/_t_sne.py
  daal4py/sklearn/metrics/_ranking.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

reuse sklearn's array API methods when available
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try another way
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

move comment to more appropriate place
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip test that fails due to tolerances
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

create model on the fly for predictions if it doesnt exist
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

avoid trying to run logreg with array api from sklearn when it doesn't support it
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

allow passing encoded 'y' to ensemble classifiers
  sklearnex/ensemble/_forest.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/utils/class_weight.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test also class weights
  onedal/ensemble/forest.py
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

workaround for broken functionality
  sklearnex/ensemble/_forest.py
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

typo
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove details that are not applicable anymore
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

don't test CPU sycl queues when DPC module is not available
  onedal/tests/utils/_device_selection.py
Due: .ci/pipeline/nightly.yml

correct condition
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
