Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Apply suggestion from @ethanglaser
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

[maintenance] Simplify wrap_output_data and fix transform_output guard (#3248)
  onedal/tests/utils/_dataframes_support.py
  sklearnex/_device_offload.py
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/tests/utils/__init__.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Address coverity + cleanup pairwise logic
  daal4py/sklearn/metrics/_pairwise.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add potential test updates for green CI
  onedal/tests/utils/_dataframes_support.py
  sklearnex/cluster/tests/test_dbscan.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/dummy/tests/test_dummy.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/linear_model/tests/test_logreg.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove references to onedal_svd solver
  doc/sources/algorithms.rst
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

cleanup residual dpctl df usage
  sklearnex/spmd/preprocessing/tests/test_data_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more test accommodations
  sklearnex/dummy/tests/test_dummy.py
  sklearnex/neighbors/common.py
  sklearnex/spmd/basic_statistics/tests/test_basic_statistics_spmd.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/spmd/linear_model/tests/test_logistic_regression_spmd.py
  sklearnex/spmd/preprocessing/tests/test_data_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

cleanup residual dpctl df usage (#3339)
  sklearnex/spmd/preprocessing/tests/test_data_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Fix SVD solver in PCA not being patched (#3276)
  deselected_tests.yaml
  doc/sources/algorithms.rst
  sklearnex/decomposition/pca.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove redundant empty line
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unused
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unused imports
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update pca.py
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update incremental_pca.py
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX Address follow-up review feedback
  .ci/pipeline/ci.yml
  .github/workflows/ci.yml
  conda-recipe/meta.yaml
  doc/sources/installation.rst
  doc/sources/unsupported.rst
  generator/wrapper_gen.py
  onedal/common/result_options.hpp
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/tests/test_free_threading.py
  tests/result_options_threading.cpp
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unused imports (#3341)
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX Address free-threaded CI review feedback
  .github/workflows/ci.yml
  doc/sources/installation.rst
  doc/sources/parallelism.rst
  scripts/CMakeLists.txt
  scripts/build_backend.py
  tests/test_build_backend.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Initial commit
  README.md
  doc/sources/_static/scikit-learn-acceleration-2023.0.1.PNG
  doc/sources/_static/scikit-learn-acceleration.PNG
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Use relative path
  README.md
Due: .ci/pipeline/nightly.yml

FIX Skip unavailable Polars tests on CPython 3.14t
  .github/workflows/ci.yml
  doc/sources/parallelism.rst
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

reduce unnecessary test_linear diff
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

numpydoc in _dataframes_support functions
  onedal/tests/utils/_dataframes_support.py
Due: .ci/pipeline/nightly.yml

STYLE Apply isort to PCA tests
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add assert_allclose_numpy and related cleanup
  onedal/tests/utils/_dataframes_support.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/linear_model/tests/test_incremental_linear.py
  sklearnex/linear_model/tests/test_incremental_ridge.py
  sklearnex/linear_model/tests/test_linear.py
  sklearnex/linear_model/tests/test_ridge.py
  sklearnex/preview/covariance/tests/test_covariance.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/preview/preprocessing/tests/test_data.py
  sklearnex/spmd/basic_statistics/tests/test_basic_statistics_spmd.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/spmd/linear_model/tests/test_logistic_regression_spmd.py
  sklearnex/spmd/preprocessing/tests/test_data_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

mixed_device_params and address failing tests
  onedal/tests/utils/_dataframes_support.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/linear_model/tests/test_logreg.py
  sklearnex/linear_model/tests/test_mixed_inputs.py
  sklearnex/neighbors/tests/test_neighbors.py
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Deselect flaky PCA XFAIL tests
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update wording
  .github/instructions/general.instructions.md
  AGENTS.md
  README.md
  daal4py/AGENTS.md
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

address sklearn nightly conformance fails
  daal4py/sklearn/linear_model/logistic_path.py
  onedal/datatypes/dlpack/data_conversion.cpp
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip also for regular covariance
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more details about loading asan
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

Update benchmarking results (#3336)
  .github/instructions/general.instructions.md
  AGENTS.md
  README.md
  daal4py/AGENTS.md
  doc/sources/_static/scikit-learn-acceleration-2023.0.1.PNG
  doc/sources/_static/scikit-learn-acceleration.PNG
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[enhancement] enforce relative importing capability for the `onedal` module (#3318)
  onedal/tests/test_common.py
Due: .ci/pipeline/nightly.yml

Deselect flaky PCA XFAIL tests (#3345)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

drop cpp, align logreg, generalize deselections
  daal4py/sklearn/linear_model/logistic_path.py
  deselected_tests.yaml
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

address comment and revise move_to issues
  onedal/tests/utils/_dataframes_support.py
  sklearnex/linear_model/tests/test_mixed_inputs.py
  sklearnex/neighbors/tests/test_neighbors.py
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix dlpack gpu deselections
  deselected_tests.yaml
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

document thread-safety issues in KNN
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

reword
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
