Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

fix: fix indent
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix: format
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

DOC: fix broken support link
  README.md
Due: .ci/pipeline/nightly.yml

fix: works
  .github/workflows/docs-release.yml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix italics formatting (#2510)
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

Add check warning to build-doc.sh (#2511)
  doc/build-doc.sh
Due: .ci/pipeline/docs.yml

remove unnecessary conditions
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try to fix
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: address comments
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Update _device_offload.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update install_dpcpp.sh
  .ci/scripts/install_dpcpp.sh
Due: .ci/pipeline/nightly.yml

Update _sycl_usm.py
  onedal/datatypes/_sycl_usm.py
Due: .ci/pipeline/nightly.yml

Update _third_party.py
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

Update _device_offload.py
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

Update _pairwise.py
  daal4py/sklearn/metrics/_pairwise.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update CMakeLists.txt
  scripts/CMakeLists.txt
Due: .ci/pipeline/nightly.yml

Update _array_api.py
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

formatting
  onedal/_device_offload.py
  onedal/utils/_array_api.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update setup.py
  setup.py
Due: .ci/pipeline/nightly.yml

Update build-and-test-lnx.yml
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

Update build-and-test-win.yml
  .ci/pipeline/build-and-test-win.yml
Due: .ci/pipeline/nightly.yml

Change scaling method to `clip`
  daal4py/sklearn/ensemble/_forest.py
  onedal/ensemble/forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
