Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

fix: foloow ridge patten ensure y numberic requrie ksnearln >=1.5
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test: try regressor without ynumric but verify it ouside validate dat
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: format
  sklearnex/spmd/neighbors/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: attribute error
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add violation back
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add rst back
  doc/sources/array_api.rst
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add the dunmmy check back
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix the reshape
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Fix processing of sparse data frames (#2826)
  conda-recipe/meta.yaml
  daal4py/sklearn/_utils.py
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/manifold/_t_sne.py
  deselected_tests.yaml
  onedal/svm/svm.py
  requirements-test.txt
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/cluster/dbscan.py
  sklearnex/cluster/k_means.py
  sklearnex/decomposition/pca.py
  sklearnex/dummy/_dummy.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/ridge.py
  sklearnex/neighbors/common.py
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/svm/_classes.py
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

lower tolerance for test
  onedal/linear_model/tests/test_linear_regression.py
Due: .ci/pipeline/nightly.yml

lower more tolerances
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

correct name of test
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update tests/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

fix: add post processing to onedal
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

fix: kneighbors
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

fix: remove post prossing from skelarnex
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Clean up onedal4py device offload logic
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

fix: format
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: format
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Don't add queue if func doesn't accept
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

FIX, DOC: Fix and document patching-related functions (#2895)
  doc/sources/about_daal4py.rst
  doc/sources/array_api.rst
  doc/sources/index.rst
  doc/sources/non-scikit-algorithms.rst
  doc/sources/patching.rst
  doc/sources/quick-start.rst
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

separate patching maps for sklearnex and daal4py
  .ci/scripts/test_global_patch.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  daal4py/sklearn/monkeypatch/tests/test_monkeypatch.py
  doc/sources/config-contexts.rst
  doc/sources/patching.rst
  examples/sklearnex/patch_sklearn.py
  sklearnex/dispatcher.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/tests/test_monkeypatch.py
  sklearnex/tests/test_patching.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  daal4py/sklearn/monkeypatch/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove non-sklearn estimator
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

DOC: Document support for preview estimators + various corrections (#2894)
  doc/sources/algorithms.rst
  doc/sources/preview.rst
Due: .ci/pipeline/docs.yml

fixes for thread safety
  daal4py/sklearn/monkeypatch/dispatcher.py
  sklearnex/dispatcher.py
  sklearnex/tests/test_monkeypatch.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix tests
  daal4py/sklearn/monkeypatch/tests/test_monkeypatch.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

missing imports
  daal4py/sklearn/monkeypatch/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix imports
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes
  daal4py/sklearn/monkeypatch/dispatcher.py
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for dummyregressor
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove poorly designed tests (#2887)
  sklearnex/tests/test_memory_usage.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Minor follow up to test_memory_usage removal
  doc/sources/contributor-reference.rst
Due: .ci/pipeline/docs.yml

fix: move tet
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: address various comments
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/build-and-test-win.yml
Due: .ci/pipeline/nightly.yml

fix: address various comments
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/neighbors/tests/test_neighbors.py
  sklearnex/spmd/neighbors/neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add test
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update sklearnex/tests/test_monkeypatch.py
  sklearnex/tests/test_monkeypatch.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
