Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Update validation.py
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

Update _sycl_queue_manager.py
  onedal/utils/_sycl_queue_manager.py
Due: .ci/pipeline/nightly.yml

Update _backend.py
  onedal/common/_backend.py
Due: .ci/pipeline/nightly.yml

Update _utils.py
  sklearnex/_utils.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_config.py
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

sklearn 1.4 gpu conformance fix attempt
  sklearnex/svm/_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

feature: one liner to check dead links
  doc/build-doc.sh
Due: .ci/pipeline/docs.yml

fix: check rate limit after build
  doc/build-doc.sh
Due: .ci/pipeline/docs.yml

fix: rate error
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

fix broken links
  doc/sources/daal4py.rst
  examples/notebooks/svc_adult.ipynb
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

generate artifacts
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

fix upload-artifact version
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

remove failing test
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

more details about GPGPU drivers
  doc/sources/oneapi-gpu.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

advertise iGPU compat more visibly
  README.md
  doc/sources/index.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update doc/sources/oneapi-gpu.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

tracebacK
  daal4py/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further tests
  .github/workflows/ci.yml
  daal4py/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

catch all exceptions
  daal4py/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestions from code review
  onedal/linear_model/incremental_linear_model.py
  onedal/primitives/kernel_functions.py
  onedal/utils/_sycl_queue_manager.py
  onedal/utils/validation.py
  sklearnex/_utils.py
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

change path
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

restore svm changes and move ridge checks to sklearnex
  onedal/linear_model/linear_model.py
  sklearnex/linear_model/ridge.py
  sklearnex/svm/_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _device_offload.py
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

fix: ignore intel.com links
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

fix: remove ignored checks
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

fix: fix broken links
  doc/sources/conf.py
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml
