Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

try again
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_common.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update CMakeLists.txt
  scripts/CMakeLists.txt
Due: .ci/pipeline/nightly.yml

Update pca.cpp
  onedal/decomposition/pca.cpp
Due: .ci/pipeline/nightly.yml

Update build-and-test-lnx.yml
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

fixes
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

attempt to re-introduce changes
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _device_offload.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove reference to daal4py from readme
  README.md
Due: .ci/pipeline/nightly.yml

mention usage without patching
  README.md
Due: .ci/pipeline/nightly.yml

typo
  README.md
Due: .ci/pipeline/nightly.yml

move unpatched examples to separate section
  README.md
Due: .ci/pipeline/nightly.yml

switch get_tags
  sklearnex/_device_offload.py
  sklearnex/_utils.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/utils/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

merge main into branch
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update setup.py
  setup.py
Due: .ci/pipeline/nightly.yml

Update doc/sources/about_daal4py.rst
  doc/sources/about_daal4py.rst
Due: .ci/pipeline/docs.yml

Update doc/sources/distributed_daal4py.rst
  doc/sources/distributed_daal4py.rst
Due: .ci/pipeline/docs.yml

remove leftover code
  sklearnex/_utils.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

mention incremental sklearn algorithms in streaming d4p section
  doc/sources/about_daal4py.rst
Due: .ci/pipeline/docs.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

break down explanation for using d4p algorithms
  doc/sources/about_daal4py.rst
Due: .ci/pipeline/docs.yml

add new RNGs
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

Update _dpep_helpers.py
  onedal/utils/_dpep_helpers.py
Due: .ci/pipeline/nightly.yml

more missing entries
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

reword model builders
  doc/sources/model_builders.rst
Due: .ci/pipeline/docs.yml

fix version switcher
  2025.4/_static/version_switcher.js
  latest/_static/version_switcher.js
Due: .ci/pipeline/nightly.yml

Update base.py
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

formatting
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

mention logreg in model builders title
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
