Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Deselect daal4py multi-class Logistic Regression testing
  examples/daal4py/log_reg_dense.py
Due: .ci/pipeline/nightly.yml

document support for local outlier factor (#2943)
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

don't throw warning on odler sklearn
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix:comments
  conda-recipe/meta.yaml
  requirements-test.txt
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: comments
  doc/sources/algorithms.rst
  doc/sources/array_api.rst
  onedal/utils/_array_api.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Fix clipping of forest `.predict_proba()` with non-writable arrays (#2972)
  onedal/ensemble/forest.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: versionb
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

feature: add dtype checking
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update examples/daal4py/log_reg_dense.py
  examples/daal4py/log_reg_dense.py
Due: .ci/pipeline/nightly.yml

avoid adding internal variable
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove multi-class LogReg example
  examples/daal4py/log_reg_dense.py
Due: .ci/pipeline/nightly.yml

don't fall back on deprecated probabilities
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove link to the removed examples from docs
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

FIX: Update SVM signatures for deprecated probabilities in sklearn1.9 (#2964)
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: comments
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Address review: predict dtype vs y, skip fp16 dtype check, forest apply exceptions
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add dtype check exceptions for KMeans predict and SVM estimators
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

address review: fix dpctl reshape, format
  doc/sources/array_api.rst
  examples/sklearnex/knn_bf_classification_spmd.py
  onedal/neighbors/neighbors.py
  onedal/spmd/neighbors/neighbors.py
  sklearnex/neighbors/_lof.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: comments
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/spmd/neighbors/neighbors.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: comment
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add ElasticNet/Lasso predict and path to _DTYPE_CHECK_SKIP in test_patching
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update doc/sources/oneapi-gpu.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

DOC: Instructions for verifying GPU support (#2936)
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Update sklearnex/neighbors/tests/test_neighbors.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestion from @david-cortes-intel
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

fix linting and failing test
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add more estimator-method pairs to _DTYPE_CHECK_SKIP
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: Deselect daal4py multi-class Logistic Regression testing (#2973)
  doc/sources/daal4py.rst
  examples/daal4py/log_reg_dense.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Avoid setting 'p' internal metric parameter when sklearn wouldn't set it (#2945)
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

avoid warning from scipy on old sklearn version
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: torch
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Simplify _asarray check: use __dlpack__ instead of __array_namespace__
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

fix: array API compatibility for KMeans transform/predict/fit_transform
  onedal/cluster/kmeans.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

refactor: move n_init resolution to sklearnex, keep onedal fallback
  onedal/cluster/kmeans.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: replace .reshape(-1) with [:, 0] in SPMD neighbors predict
  onedal/spmd/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

Add fitted attribute checks and automate dtype/type skip logic
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add missing fitted attr skip entries for CI failures
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: restore version-conditional defaults for n_init and algorithm
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add LogisticRegression.n_iter_ to FITTED_ATTR_NUMPY_OK
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add parameter validation for sklearn < 1.2 in KMeans _onedal_fit
  onedal/cluster/kmeans.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
