Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Update doc/sources/algorithms.rst
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

more modifications
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

missing else
  daal4py/sklearn/manifold/_t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes for older sklearn
  daal4py/sklearn/manifold/_t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

correction
  daal4py/sklearn/manifold/_t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add info about TBB bug
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

remove redundant check
  daal4py/sklearn/manifold/_t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more deselections due to numeric issues
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Rewrite warnings
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

restore main branch after PR was merged
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

sklearn1.8 deprecations
  .ci/scripts/setup_sklearn.sh
  sklearnex/svm/nusvc.py
  sklearnex/svm/svc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

corrections
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more clear conditions
  daal4py/sklearn/manifold/_t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix directionality of skips
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

revert logic
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

DOC: Update support table for renamed parameter (#2743)
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

update about limitations of array api support (#2783)
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

add missing patching condition
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document conditions
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

formatting
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

wording fixes
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove the class_weight support on GPU to fix conformance tests
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  sklearnex/svm/nusvc.py
  sklearnex/svm/svc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes
  sklearnex/svm/nusvc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update signatures for sklearn1.8
  daal4py/sklearn/metrics/_pairwise.py
  sklearnex/preview/covariance/covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update signatures for sklearn1.8 (#2800)
  daal4py/sklearn/metrics/_pairwise.py
  sklearnex/preview/covariance/covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: Update TSNE for sklearn1.8 (#2793)
  daal4py/sklearn/manifold/_t_sne.py
  doc/sources/algorithms.rst
  doc/sources/guide/acceleration.rst
  sklearnex/manifold/tests/test_tsne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _forest.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: More adjustments for changes in sklearn1.8 LogisticRegression (#2784)
  daal4py/sklearn/linear_model/logistic_path.py
  doc/sources/algorithms.rst
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

pass new required xp argument
  sklearnex/svm/_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test with newer array api packages
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

Pass namespace argument to fit_calibrator in sklearn 1.8
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix check_classifiers_one_label_sample_weights test failure
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try another version
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

skip tests that fail due to array api version
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Fix
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

missing test
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
