Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

add instructions about user groups
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

add explanation about array API handling:
  doc/sources/array_api.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

document unsupported options
  doc/sources/config-contexts.rst
  doc/sources/unsupported.rst
Due: .ci/pipeline/docs.yml

remove deprecation notice
  doc/sources/deprecation.rst
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml

remove unhelpful tuning section
  doc/sources/algorithms.rst
  doc/sources/guide/acceleration.rst
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml

remove unused patching folder
  doc/sources/patching/patch-kmeans-example.rst
  doc/sources/patching/patch-one-algorithm.rst
  doc/sources/patching/patch-several-algorithms.rst
  doc/sources/patching/patching-options.rst
  doc/sources/patching/undo-patch.rst
Due: .ci/pipeline/docs.yml

add section with blueprints
  doc/sources/tutorials.rst
Due: .ci/pipeline/docs.yml

different name for top-level
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

restore test scope
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

[maintenance] use inheritance to handle spmd support in `LogisticRegression` (#3219)
  sklearnex/linear_model/logistic_regression.py
  sklearnex/spmd/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update meta.yaml
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

Update .mergify.yml
  .github/.mergify.yml
Due: .ci/pipeline/nightly.yml

Update renovate.json
  .github/renovate.json
Due: .ci/pipeline/nightly.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Additional deselection related to forest splitter (#3231)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update validation.py
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

Update knn_classification.py
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Delete src/dist_dbscan.h
  src/dist_dbscan.h
Due: .ci/pipeline/nightly.yml

Delete src/dist_kmeans.h
  src/dist_kmeans.h
Due: .ci/pipeline/nightly.yml

Delete src/dist_kmeans_init.h
  src/dist_kmeans_init.h
Due: .ci/pipeline/nightly.yml

Update basic_statistics.py
  onedal/spmd/basic_statistics/basic_statistics.py
Due: .ci/pipeline/nightly.yml

Update kmeans.py
  onedal/spmd/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

Update covariance.py
  onedal/spmd/covariance/covariance.py
Due: .ci/pipeline/nightly.yml

Update pca.py
  onedal/spmd/decomposition/pca.py
Due: .ci/pipeline/nightly.yml

Update linear_model.py
  onedal/spmd/linear_model/linear_model.py
Due: .ci/pipeline/nightly.yml

Update logistic_regression.py
  onedal/spmd/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

Update neighbors.py
  onedal/spmd/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

[maintenance] Simplify wrap_output_data and fix transform_output guard
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update __init__.py
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

Update deselect_tests.py
  .circleci/deselect_tests.py
Due: .ci/pipeline/nightly.yml

fix reference to torch when not installed (#3232)
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

downgrade for py3.10
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Add numpy version checks for array API functionality
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/linear_model/tests/test_mixed_inputs.py
  sklearnex/neighbors/tests/test_neighbors.py
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
