Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Update _device_selection.py
  onedal/tests/utils/_device_selection.py
Due: .ci/pipeline/nightly.yml

Update test_config.py
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_memory_usage.py
  sklearnex/tests/test_memory_usage.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: .ci/pipeline/nightly.yml

Create .codespellrc
  .github/.codespellrc
Due: .ci/pipeline/nightly.yml

Update .codespellrc
  .github/.codespellrc
Due: .ci/pipeline/nightly.yml

Update daal4py_data_science.ipynb
  examples/notebooks/daal4py_data_science.ipynb
Due: .ci/pipeline/nightly.yml

Update format.py
  generator/format.py
Due: .ci/pipeline/nightly.yml

Update dist_kmeans.h
  src/dist_kmeans.h
Due: .ci/pipeline/nightly.yml

Update map_reduce_tree.h
  src/map_reduce_tree.h
Due: .ci/pipeline/nightly.yml

Update transceiver.h
  src/transceiver.h
Due: .ci/pipeline/nightly.yml

Update base.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_n_jobs_support.py
  sklearnex/tests/test_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update base.py
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _device_offload.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update forest.py
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

Update data_conversion.cpp
  onedal/datatypes/sycl_usm/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Update _data_conversion.py
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

Update dtype_conversion.cpp
  onedal/datatypes/dlpack/dtype_conversion.cpp
Due: .ci/pipeline/nightly.yml

Update sycl_usm_utils.cpp
  onedal/datatypes/sycl_usm/sycl_usm_utils.cpp
Due: .ci/pipeline/nightly.yml

Update common.py
  onedal/datatypes/tests/common.py
Due: .ci/pipeline/nightly.yml

Update test_common.py
  onedal/tests/test_common.py
Due: .ci/pipeline/nightly.yml

Update _device_offload.py
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

Update dbscan.cpp
  onedal/cluster/dbscan.cpp
Due: .ci/pipeline/nightly.yml

Update gen_daal4py.py
  generator/gen_daal4py.py
Due: .ci/pipeline/nightly.yml

last changes
  doc/sources/ideas.rst
  doc/sources/kaggle/automl.rst
Due: .ci/pipeline/docs.yml

Update dbscan.py
  daal4py/sklearn/cluster/dbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[CI] upgrade dpcpp for CondaEnv to 2025.1 (#2514)
  .ci/scripts/install_dpcpp.sh
Due: .ci/pipeline/nightly.yml

fix: jupyter nightly (#2530)
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml
