Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

fix: change latest to version before delete it
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: fix tag trigger regex
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: add old latest version to git
  .ci/pipeline/docs.yml
  .github/workflows/docs-release.yml
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: should have 2 same folder for new version
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

isort
  onedal/cluster/dbscan.py
Due: .ci/pipeline/nightly.yml

Update dependencies-dev
  dependencies-dev
Due: .ci/pipeline/nightly.yml

unify and clean up onedal4py changes, remove raw ridge
  onedal/basic_statistics/basic_statistics.py
  onedal/cluster/dbscan.py
  onedal/cluster/kmeans.py
  onedal/covariance/covariance.py
  onedal/ensemble/forest.py
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/logistic_regression.py
  onedal/neighbors/neighbors.py
  onedal/utils/_dpep_helpers.py
Due: .ci/pipeline/nightly.yml

fix: remove extra depen and escape . in tag trigger
  .github/workflows/docs-release.yml
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove versions.json generate it
  .github/.licenserc.yaml
  .github/workflows/docs-release.yml
  doc/build-doc.sh
  doc/sources/conf.py
  doc/versions.json
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: minor fix to add env var
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: make sure delete finish before cp
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: cp file
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: overwrite latest do not delete first
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: try rsync instead cp
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: cp also links
  .github/workflows/docs-release.yml
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

ci-test:print
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: add latest folder in case any new files in folder
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: add switcher url back and other small fix
  .github/workflows/docs-release.yml
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unnecessary sklearnex raw inputs, move tests to spmd
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
  sklearnex/cluster/k_means.py
  sklearnex/cluster/tests/test_dbscan.py
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/decomposition/pca.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/tests/test_incremental_linear.py
  sklearnex/linear_model/tests/test_linear.py
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/covariance/tests/test_covariance.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/spmd/basic_statistics/tests/test_basic_statistics_spmd.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/cluster/tests/test_dbscan_spmd.py
  sklearnex/spmd/cluster/tests/test_kmeans_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/spmd/ensemble/tests/test_forest_spmd.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
  sklearnex/spmd/linear_model/tests/test_linear_regression_spmd.py
  sklearnex/spmd/linear_model/tests/test_logistic_regression_spmd.py
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Due: .ci/pipeline/nightly.yml

ci-test: add all for latest and verison folder
  .github/workflows/docs-release.yml
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

minor followup
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/linear_model/linear.py
Due: .ci/pipeline/nightly.yml

ci-test: verison.json for swietcher url
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

ci-test: test layout.html
  doc/sources/_templates/layout.html
Due: .ci/pipeline/docs.yml

fix: comment style fix
  doc/sources/_static/version_switcher.js
Due: .ci/pipeline/docs.yml

cleanup of remaining sklearnex changes
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/nightly.yml

oops
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/nightly.yml

ci-test: revert layout html
  doc/sources/_templates/layout.html
Due: .ci/pipeline/docs.yml

Update onedal/datatypes/dlpack/dlpack_utils.cpp
  onedal/datatypes/dlpack/dlpack_utils.cpp
Due: .ci/pipeline/nightly.yml

Update onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Update onedal/datatypes/sycl_usm/dtype_conversion.cpp
  onedal/datatypes/sycl_usm/dtype_conversion.cpp
Due: .ci/pipeline/nightly.yml

switch to config_context only on spmd estimator in tests
  sklearnex/spmd/basic_statistics/tests/test_basic_statistics_spmd.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/cluster/tests/test_dbscan_spmd.py
  sklearnex/spmd/cluster/tests/test_kmeans_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/spmd/ensemble/tests/test_forest_spmd.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
  sklearnex/spmd/linear_model/tests/test_linear_regression_spmd.py
  sklearnex/spmd/linear_model/tests/test_logistic_regression_spmd.py
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Due: .ci/pipeline/nightly.yml

Update test_data.py
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

ci: increase gbt classification example timeout
  tests/test_daal4py_examples.py
Due: .ci/pipeline/nightly.yml

CI fixes for PCA and linreg
  onedal/decomposition/pca.py
  onedal/linear_model/linear_model.py
Due: .ci/pipeline/nightly.yml

Update dlpack_utils.cpp
  onedal/datatypes/dlpack/dlpack_utils.cpp
Due: .ci/pipeline/nightly.yml
