Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

MAINT: Update error message for NaN to match with sklearn1.9 (#3013)
  onedal/utils/validation.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove wrapper for support_input_format where not needed
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

adjust to new default score metric in sklearn logreg
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

follow sklearn config for sparse return types
  onedal/svm/svm.py
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  generator/wrappers.py
Due: .ci/pipeline/nightly.yml

Remove scipy version script and ignore incompatible sklearn test (#3018)
  .ci/scripts/get_compatible_scipy_version.py
  .circleci/deselect_tests.py
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Revert "fix: add output conversion to support_sycl_format, remove skip list"
  onedal/_device_offload.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: enable array_api_dispatch for dpnp/dpctl output checks, skip dpctl linalg gaps
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove wrapper for support_input_format where not needed (#3027)
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselections due to lack of unique solutions (#2981)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

follow sklearn config for sparse return types (#3029)
  onedal/svm/svm.py
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix operator not present in array api strict
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

fix for older sklearn
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

try another way
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

remove non-patched function
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix: address review - remove caplog.clear, move imports to top, update comments
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: merge main, update sparse checks after #3029, move RF/ET classes_ to common skip list
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add missing get_namespace import
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: replace hardcoded classes_ entries with programmatic check by attr name
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't suggested internal bundled sklearn dependency
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

remove redundant section with duplicated info
  README.md
Due: .ci/pipeline/nightly.yml

fix: update comment for public fitted attr check
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: check public attrs as starts with letter and ends with _
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove redundant classes_ entries from skip list
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: update comments - SVM/clusterer attrs are skipped, not handled
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: use csr_array and _align_api_if_sparse in kneighbors_graph
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fallback to csr_matrix for older scipy without csr_array
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

trying previous onedal build
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update __init__.py
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

remove redundant section with duplicated info (#3033)
  README.md
Due: .ci/pipeline/nightly.yml

don't suggested internal bundled sklearn dependency (#3032)
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

do NOT merge this
  README.md
Due: .ci/pipeline/nightly.yml

fix error when retrieving coef_ from a GPU model
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't fallback for probability=deprecated
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove dpc requirements from pip
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

print more info
  .github/workflows/ci.yml
  sklearnex/tests/test_import_dpc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

missing import
  sklearnex/tests/test_import_dpc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try another way
  sklearnex/tests/test_import_dpc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix error when retrieving coef_ from a GPU model (#3037)
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
