Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

fix: narrow SVM skip - check type on CPU, skip GPU/device/dtype
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: use array API operations for transform with non-numpy arrays
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: update comments for skip lists and SVM checks
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: use queue.sycl_device.is_gpu instead of string parsing for GPU check
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update validation.py
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

Update validation.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add missing _set_effective_metric call in NearestNeighbors._onedal_fit
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: Deselect SVM sparse tests failing after sparse config change
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Apply suggestion from @ethanglaser
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

MAINT: Deselect SVM sparse tests failing after sparse config change (#3041)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

don't fallback for probability=deprecated (#3038)
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_data_spmd.py
  sklearnex/spmd/preprocessing/tests/test_data_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix several bugs:
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix test_logistic_regression_array_api_compliance test failures
  deselected_tests.yaml
  onedal/_device_offload.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Doc fixes
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

Remove redundant comments, minor updates
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Code format
  examples/sklearnex/logistic_regression_spmd.py
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

Update spmd example
  examples/sklearnex/logistic_regression_spmd.py
Due: .ci/pipeline/nightly.yml

Align Logistic Regression SPMD estimator with LinReg SPMD estimator
  onedal/linear_model/logistic_regression.py
  onedal/spmd/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/spmd/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Ensure LogReg execution with raw inputs happens on GPU
  sklearnex/_device_offload.py
  sklearnex/spmd/linear_model/tests/test_logistic_regression_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Code format and update docs
  doc/sources/algorithms.rst
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

Update fallbacks
  onedal/spmd/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/spmd/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Change conversion in predict method
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update checks for array api input
  daal4py/sklearn/linear_model/logistic_path.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Initial refactoring of LogReg
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix docs and enable decision function in spmd mode
  doc/sources/algorithms.rst
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix error
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestion from @ethanglaser
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

fix: change caplog to INFO level, remove SVM GPU skip - fell_back now detects fallback
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove probA_/probB_ from type skip - they are dpnp not numpy on CPU
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove unused None defaults for est and method in _check_output_type
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

set MKL rpaths
  setup.py
Due: .ci/pipeline/nightly.yml

refactor: extract helper functions, rename skip lists for clarity
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

docs: shorten comments
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

docs: shorten output skip list comments
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
