Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

cleanig instructions
  .github/.licenserc.yaml
  .github/instructions/build-config.instructions.md
  .github/instructions/daal4py.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/onedal.instructions.md
  .github/instructions/sklearnex.instructions.md
  .github/instructions/src.instructions.md
  .github/instructions/tests.instructions.md
Due: .ci/pipeline/nightly.yml

Updating md look
  AGENTS.md
Due: .ci/pipeline/nightly.yml

Updating AGENTS with details
  AGENTS.md
  daal4py/AGENTS.md
  sklearnex/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

Apply suggestions from code review
  AGENTS.md
  sklearnex/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

Updating copilot instructions
  .github/instructions/build-config.instructions.md
  .github/instructions/daal4py.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/onedal.instructions.md
  .github/instructions/sklearnex.instructions.md
  .github/instructions/src.instructions.md
  .github/instructions/tests.instructions.md
Due: .ci/pipeline/nightly.yml

Apply suggestions from code review
  .ci/AGENTS.md
  .github/instructions/build-config.instructions.md
  .github/instructions/daal4py.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/onedal.instructions.md
  .github/instructions/sklearnex.instructions.md
  .github/instructions/tests.instructions.md
  AGENTS.md
  daal4py/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

Fixed files
  .ci/AGENTS.md
  daal4py/AGENTS.md
  doc/AGENTS.md
  examples/AGENTS.md
  onedal/AGENTS.md
  sklearnex/AGENTS.md
  src/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestions from code review
  AGENTS.md
  examples/AGENTS.md
  sklearnex/AGENTS.md
Due: .ci/pipeline/nightly.yml

adressing code review comments
  daal4py/AGENTS.md
  sklearnex/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

Update tests/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

fix: fix example test
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/spmd/neighbors/neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix spmd neighbor again with runtime lookup
  onedal/spmd/neighbors/neighbors.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/spmd/neighbors/neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test: logging
  onedal/cluster/kmeans.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: spmd synetic test
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

fix: lof case
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: format
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: address past comments again except refactoring
  onedal/neighbors/tests/test_knn_classification.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: dtype
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Only raise warning if raw inputs are true
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix check onedal estimator
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: Remove unused theme packages from doc requirements (#2920)
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

Update requirements-doc.txt
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

Update setup.py
  setup.py
Due: .ci/pipeline/nightly.yml

remove unused theme
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

increase python version used for docs
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

Fix SVM test_iris (#2917)
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove unused function and refactoring
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: change to hasattr
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: bring some funcitons back
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: format
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: logging
  onedal/cluster/kmeans.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

reword (#2914)
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

increase python version used for docs (#2923)
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

Update .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/build-and-test-win.yml
Due: .ci/pipeline/nightly.yml

Update .ci/scripts/print_skl_info.py
  .ci/scripts/print_skl_info.py
Due: .ci/pipeline/nightly.yml
