Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Fixes for sklearn 1.7 pre-release support (#2451)
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/manifold/_t_sne.py
  daal4py/sklearn/metrics/_pairwise.py
  onedal/ensemble/forest.py
  onedal/utils/_array_api.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update dependencies-dev
  dependencies-dev
Due: .ci/pipeline/nightly.yml

Update CODEOWNERS with additional tree owners
  .github/CODEOWNERS
Due: .ci/pipeline/nightly.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: .ci/pipeline/nightly.yml

fix: minor basic stats quality fixes
  examples/sklearnex/basic_statistics_spmd.py
  onedal/basic_statistics/basic_statistics.py
Due: .ci/pipeline/nightly.yml

fix: fix logistic regression cpu
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

blacked
  onedal/basic_statistics/basic_statistics.py
Due: .ci/pipeline/nightly.yml

fix: fix spmd logistic regression
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

try removing unused arguments
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

[CI, enhancement] enable external oneDAL builds in build-and-test-win.yml Azure Pipelines (#2482)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-win.yml
  conda-recipe/bld.bat
Due: .ci/pipeline/nightly.yml

Update pca.py (#2506)
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

DOC: fix broken support link (#2520)
  README.md
Due: .ci/pipeline/nightly.yml

[CI, bugfix] correct stability issues in CondaRecipes (#2493)
  .ci/pipeline/conda-recipe-lnx.yml
  .ci/pipeline/conda-recipe-win.yml
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

fix: jupyter nightly
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

fix: add sklearn version ceiling to setup()
  setup.py
Due: .ci/pipeline/nightly.yml

minor
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

vary seed by rank instead of size
  examples/sklearnex/basic_statistics_spmd.py
Due: .ci/pipeline/nightly.yml

Enable Coverity scan for C++
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

Update .ci/pipeline/nightly.yml
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

initial information
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/tests/prototypes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more changes
  sklearnex/tests/prototypes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

missing space
  sklearnex/tests/prototypes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

interim changes
  sklearnex/tests/prototypes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update: update algorithm.rst based on current implementation (#2354)
  doc/sources/algorithms.rst
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Codeowners update (#2519)
  .github/CODEOWNERS
Due: .ci/pipeline/nightly.yml

fix doc req updates
  abc.txt
  requirements-doc.txt
  temp.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

oops
  abc.txt
  temp.py
Due: .ci/pipeline/nightly.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

link to docs of classes/functions in support table
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

link to docs of classes/functions in support table (#2535)
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

don't add 's' when adding 'g' or non-release builds
  setup.py
Due: .ci/pipeline/nightly.yml

remove dead code
  src/daal4py.h
Due: .ci/pipeline/nightly.yml
