Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Drop the explanatory comment on the HDBSCAN version gate
  sklearnex/preview/cluster/__init__.py
  sklearnex/preview/cluster/hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Drop the HDBSCAN SPMD surface
  examples/sklearnex/hdbscan_spmd.py
  onedal/cluster/hdbscan.cpp
  onedal/spmd/cluster/__init__.py
  onedal/spmd/cluster/hdbscan.py
  sklearnex/spmd/cluster/__init__.py
  sklearnex/spmd/cluster/hdbscan.py
  sklearnex/spmd/cluster/tests/test_hdbscan_spmd.py
  tests/run_examples.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add link to ubuntu ppa for GPU
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Migrate ci.yml to explicitly specify runs-on
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

DOC: add review-derived rules to AGENTS.md and wire up Copilot instructions
  .github/.licenserc.yaml
  .github/copilot-instructions.md
  .github/instructions/build-config.instructions.md
  .github/instructions/daal4py.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/onedal.instructions.md
  .github/instructions/sklearnex.instructions.md
  .github/instructions/src.instructions.md
  .github/instructions/tests.instructions.md
  AGENTS.md
  daal4py/AGENTS.md
  doc/AGENTS.md
  onedal/AGENTS.md
  onedal/datatypes/AGENTS.md
  sklearnex/AGENTS.md
  src/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add link to ubuntu ppa for GPU (#3433)
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Enable test (#3379)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Migrate ci.yml to explicitly specify runs-on (#3434)
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

DOC: trim root AGENTS.md to what an agent can act on
  AGENTS.md
Due: .ci/pipeline/nightly.yml

DOC: ask for short, plain comments in root AGENTS.md
  AGENTS.md
Due: .ci/pipeline/nightly.yml

apply further reductions from copilot suggestions
  .github/copilot-instructions.md
  .github/instructions/general.instructions.md
Due: .ci/pipeline/nightly.yml

Address Copilot review of agent docs
  AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

Use the onedal.svm scipy-sparse idiom in the HDBSCAN tests
  sklearnex/preview/cluster/tests/test_hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

avoid unneeded copy
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

drop copilot instructions, consolidate to AGENTS.md
  .github/.licenserc.yaml
  .github/copilot-instructions.md
  .github/instructions/build-config.instructions.md
  .github/instructions/daal4py.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/onedal.instructions.md
  .github/instructions/sklearnex.instructions.md
  .github/instructions/src.instructions.md
  .github/instructions/tests.instructions.md
  AGENTS.md
  daal4py/AGENTS.md
  onedal/AGENTS.md
  sklearnex/AGENTS.md
  src/AGENTS.md
Due: .ci/pipeline/nightly.yml

Address review: move the free-threaded leg to Azure, fix the GIL import test
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/ci.yml
  .github/workflows/ci.yml
  doc/sources/parallelism.rst
  doc/sources/unsupported.rst
  requirements-test-free-threaded.txt
  setup.py
  sklearnex/tests/test_free_threading.py
  tests/test_native_threading.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

avoid unneeded copy (#3438)
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect new sklearn parameterizations
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

FIX: Set `solver_` attribute in Ridge (#3432)
  deselected_tests.yaml
  doc/sources/algorithms.rst
  onedal/linear_model/linear_model.py
  sklearnex/linear_model/ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

implement move_estimator_to for LinearRegression
  doc/sources/array_api.rst
  doc/sources/unsupported.rst
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

avoid using float64 on GPU
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip array API on older numpy
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

merge tests
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

missing parameterization
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

workaround for torch move_to
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

correction
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

doc: free-threaded estimators are only safe with one instance per thread
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Update doc/sources/parallelism.rst
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

fix gpu check
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

move to base class
  doc/sources/array_api.rst
  sklearnex/linear_model/_base_linear_model.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/tests/test_linear.py
  sklearnex/linear_model/tests/test_linear_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unused
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

feat(hdbscan): return the dendrogram and leave preview mode
  deselected_tests.yaml
  doc/sources/algorithms.rst
  doc/sources/preview.rst
  onedal/cluster/hdbscan.cpp
  onedal/cluster/hdbscan.py
  setup.py
  sklearnex/cluster/__init__.py
  sklearnex/cluster/hdbscan.py
  sklearnex/cluster/tests/test_hdbscan.py
  sklearnex/dispatcher.py
  sklearnex/preview/cluster/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test: re-enable the HDBSCAN single-cluster epsilon test
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

refactor: gate HDBSCAN on the oneDAL version in one place
  doc/sources/algorithms.rst
  sklearnex/cluster/__init__.py
  sklearnex/cluster/hdbscan.py
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

address review
  .ci/AGENTS.md
  AGENTS.md
  daal4py/AGENTS.md
  onedal/datatypes/AGENTS.md
Due: .ci/pipeline/nightly.yml

skip test from move_to error
  sklearnex/linear_model/tests/test_linear_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove redundant conditions
  sklearnex/linear_model/tests/test_linear_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix(hdbscan): match scikit-learn on metrics, non-finite data, errors and dtypes
  sklearnex/cluster/hdbscan.py
  sklearnex/cluster/tests/test_hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

feat: derive sklearnex version from oneDAL headers
  conda-recipe/bld.bat
  conda-recipe/build.sh
  setup.py
Due: .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
