Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

fix: reverse as numpy < 2.0 does not have np.unqieu_inverse
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix unique_inverse result unpacking for Python 3.13 compatibility
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: allow numpy arrays in _onedal_gpu_supported for dpctl/dpnp path
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: ondal support
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add array API zero-copy support for KMeans on GPU
  onedal/cluster/kmeans.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove dead n_init='warn' handling and simplify defaults
  onedal/cluster/kmeans.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix svm predict on torch
  doc/sources/algorithms.rst
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document support for local outlier factor
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

avoid passing unused 'p' to sklearn neighbors
  sklearnex/neighbors/common.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

suggest llvm-tools (#2928)
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

fix svm predict on torch (#2942)
  doc/sources/algorithms.rst
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

better test and proper fixes
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unused import
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fixes in daal4py API generators
  generator/wrappers.py
  src/tree_visitor.h
Due: .ci/pipeline/nightly.yml

Update tests/test_daal4py_examples.py
  tests/test_daal4py_examples.py
Due: .ci/pipeline/nightly.yml

fix and document predict_proba with torch tensors
  doc/sources/array_api.rst
  onedal/ensemble/forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove AdaBoostClassifier
  daal4py/sklearn/ensemble/AdaBoostClassifier.py
  daal4py/sklearn/ensemble/__init__.py
  tests/test_estimators.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Minor fix
  daal4py/sklearn/ensemble/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more internal links between doc pages
  doc/sources/array_api.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

CI fixes
  doc/sources/daal4py.rst
  tests/test_estimators.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update spmd example
  examples/sklearnex/logistic_regression_spmd.py
Due: .ci/pipeline/nightly.yml

fix: gpu test
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: format
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

fix: comments
  onedal/neighbors/neighbors.py
  sklearnex/_device_offload.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: gpu test
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

more internal links between doc pages (#2947)
  doc/sources/array_api.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

fix SVC probability with array API inputs
  doc/sources/algorithms.rst
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix also for CPU
  doc/sources/algorithms.rst
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document more limitations
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix incorrect dtype casting with polars
  requirements-test.txt
  sklearnex/tests/test_dtype_preservation.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add license header
  sklearnex/tests/test_dtype_preservation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove redundant comments, minor updates
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: revert changes in device offload
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: lof
  sklearnex/neighbors/_lof.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

validate results with rc for skl1.8.1
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

fix: lof output type and gpu test
  sklearnex/neighbors/_lof.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: convert predict/predict_proba output to input namespace for torch
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestion from @david-cortes-intel
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
