Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

formatting
  onedal/covariance/covariance.py
  onedal/datatypes/_data_conversion.py
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

Update __init__.py
  onedal/datatypes/__init__.py
Due: .ci/pipeline/nightly.yml

correct argument
  setup.py
Due: .ci/pipeline/nightly.yml

remove unreachable section
  daal4py/mb/tree_based_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try another arg
  setup.py
Due: .ci/pipeline/nightly.yml

another trial
  setup.py
Due: .ci/pipeline/nightly.yml

remove unneeded flag
  setup.py
Due: .ci/pipeline/nightly.yml

yet another option
  setup.py
Due: .ci/pipeline/nightly.yml

Update forest.py
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

try another arg
  scripts/build_backend.py
Due: .ci/pipeline/nightly.yml

Update covariance.py
  onedal/covariance/covariance.py
Due: .ci/pipeline/nightly.yml

try another way
  scripts/build_backend.py
Due: .ci/pipeline/nightly.yml

remove workaround
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

Update test_data.py
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

Update data_conversion.cpp
  onedal/datatypes/sycl_usm/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Update _data_conversion.py
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

Update dependencies-dev
  dependencies-dev
Due: .ci/pipeline/nightly.yml

formatting
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/tests/test_data.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

clang-formatting
  onedal/datatypes/sycl_usm/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

update python badge for 3.13
  README.md
Due: .ci/pipeline/nightly.yml

add gc and static_cast
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

remove comment
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Fixes for sklearn 1.7 pre-release support
  daal4py/sklearn/manifold/_t_sne.py
  daal4py/sklearn/metrics/_pairwise.py
  onedal/utils/_array_api.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix ensemble probabilities interval
  daal4py/sklearn/ensemble/_forest.py
  onedal/ensemble/forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add conversion from treelite
  daal4py/mb/__init__.py
  daal4py/mb/gbt_convertors.py
  daal4py/mb/tree_based_builders.py
  doc/sources/model_builders.rst
  requirements-test.txt
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add dependency also for conda
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

`n_jobs` support details in docs
  doc/sources/index.rst
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Fixes for doc page
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: .ci/pipeline/nightly.yml
