Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Fixed for csr_matrix.
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

Fixed formatting.
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

Updated formatting.
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

Changed to use getattr.
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

Updated imports.
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

sklearn 1.7.0 for doc reqs
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

add comment
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

add copy
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Formatted.
  onedal/cluster/kmeans.py
  onedal/utils/_array_api.py
  sklearnex/utils/_array_api.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

updates:
  onedal/decomposition/incremental_pca.py
  onedal/decomposition/pca.py
  sklearnex/decomposition/pca.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

updates
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

formatting
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update pca.py
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

readd compute_noise_variance now that it is understood why
  sklearnex/decomposition/pca.py
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove reshape, must disable tests
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix again
  sklearnex/decomposition/pca.py
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

updates in an ugly way
  .ci/scripts/select_sklearn_tests.py
  onedal/datatypes/_data_conversion.py
  sklearnex/decomposition/pca.py
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

sklearn 1.7.0 for doc reqs (#2626)
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

Update sklearnex/utils/validation.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

force non-zero eigenvalues
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

readd valdiation
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further changes
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further fixes
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try again
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix incorrect processing when passing args to sklearn
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

small subtle fix
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

unusual formatting issue
  .ci/scripts/select_sklearn_tests.py
Due: .ci/pipeline/nightly.yml

more tests
  daal4py/sklearn/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add copyright header
  daal4py/sklearn/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix another error
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix testing script
  .ci/scripts/select_sklearn_tests.py
Due: .ci/pipeline/nightly.yml

[enhancement] enable array API support in ```LinearRegression```, ```Ridge``` and incremental variants (#2206)
  deselected_tests.yaml
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/tests/test_linear_regression.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/ridge.py
  sklearnex/spmd/linear_model/linear_model.py
  sklearnex/tests/test_patching.py
  sklearnex/utils/_array_api.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

allow forwarding extra args to pytest
  .ci/scripts/run_sklearn_tests.py
  scikit-learn-tests.md
Due: .ci/pipeline/nightly.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update incremental_pca.py
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
