Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

fix
  setup.py
Due: .ci/pipeline/nightly.yml

refactor: move imports to top, update docstring with call sequence
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

refactor: rename data_input to y for clarity
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

refactor: remove defensive result is None check
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

feat: add array_api output type check for pairwise_distances, restore est=None
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

docs: update _check_output_type docstring with type/device/dtype checks
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: filter caplog records by sklearnex logger to avoid extra INFO messages
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

feat: add must-be-array check for fitted attrs like n_iter_, coef_
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestion from @ethanglaser
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

fix: only skip classes_ type check when array_api_dispatch is off
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add allow_sklearn_fallback marker - pairwise_distances falls back for int dtypes
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: revert to WARNING level, remove allow_sklearn_fallback, add SVM GPU skip back
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

docs: fix docstring - classes_ only skips without dispatch
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Specify dal 2025.10
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

fix: remove array_api from pairwise test - returns numpy on CI Python 3.13
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: skip second pass when estimator doesn't support GPU for this data, remove SVM GPU skip from _should_skip_all
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

docs: remove SVM GPU from docstring skip list
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

print more info
  sklearnex/tests/test_import_dpc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

set mkl paths for dpc modules only
  doc/sources/building-from-source.rst
  scripts/CMakeLists.txt
  setup.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove non-patched function (#3031)
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update activate_components.bat
  .github/scripts/activate_components.bat
Due: .ci/pipeline/nightly.yml

Update activate_components.sh
  .github/scripts/activate_components.sh
Due: .ci/pipeline/nightly.yml

add paths only when DPC is going to be imported
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

Fix WindowsNightly CI failure (#3035)
  .github/workflows/ci.yml
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

don't try to print windows-only info
  sklearnex/tests/test_import_dpc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: rename helpers, merge main
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

move test to different file to execute on azure
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: change _dpctl_has_linalg default to False
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: simplify dpctl skip - always skip, linalg will never exist
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: detect decision_path programmatically instead of listing each estimator
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove regressor predict dtype skip - regressors preserve dtype
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

loosen tolerance for incremental pca spmd float32 test (#2970)
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: skip regressor predict dtype only for integer inputs, not float
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: skip regressor predict dtype for integer inputs only
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove n_iter_ from must-be-array - scalar for KMeans per sklearn docs
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: rename input_type to input_type_y for clarity
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove _SCALAR_METHODS, rely on np.isscalar in loop
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
