Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

fixup
  onedal/svm/tests/test_svc.py
Due: .ci/pipeline/nightly.yml

Update dependencies-dev
  dependencies-dev
Due: .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Update dlpack_utils.cpp
  onedal/datatypes/dlpack/dlpack_utils.cpp
Due: .ci/pipeline/nightly.yml

Update _n_jobs_support.py
  daal4py/sklearn/_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_run_to_run_stability.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_n_jobs_support.py
  sklearnex/tests/test_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add changes
  sklearnex/tests/test_n_jobs_support.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add other changes
  daal4py/sklearn/ensemble/AdaBoostClassifier.py
  daal4py/sklearn/ensemble/GBTDAAL.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add an affinity test
  sklearnex/tests/test_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

reduce lines
  sklearnex/tests/test_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use pylance
  sklearnex/tests/test_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further fixes
  sklearnex/tests/test_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

better docs
  sklearnex/tests/test_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

mark
  sklearnex/tests/test_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update sklearnex/linear_model/tests/test_linear.py
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update incremental_linear.py
  sklearnex/linear_model/incremental_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update incremental_ridge.py
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Update data_conversion.hpp
  onedal/datatypes/dlpack/data_conversion.hpp
Due: .ci/pipeline/nightly.yml

Renaming IntelEstomator to ExtensionEstimator
  sklearnex/_utils.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fixing linting on incremental_ridge
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Replacing oneDAL with sustitution reference
  doc/daal4py/algorithms.rst
  doc/daal4py/index.rst
  doc/daal4py/sklearn.rst
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

updating doc config with naming
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

Fix conda related naming
  INSTALL.md
  daal4py/README.md
  doc/daal4py/index.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remplacing substitute name
  doc/sources/algorithms.rst
  doc/sources/blogs.rst
  doc/sources/conf.py
  doc/sources/deprecation.rst
  doc/sources/distributed-mode.rst
  doc/sources/guide/acceleration.rst
  doc/sources/index.rst
  doc/sources/kaggle.rst
  doc/sources/kaggle/automl.rst
  doc/sources/kaggle/classification.rst
  doc/sources/kaggle/regression.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/preview.rst
  doc/sources/quick-start.rst
  doc/sources/samples.rst
  doc/sources/substitutions.rst
  doc/sources/tutorials.rst
  doc/sources/verbose.rst
Due: .ci/pipeline/docs.yml

update copyright/author
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml
