Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

remove copyright notices for sphinx
  doc/third-party-programs-sklearnex.txt
Due: .ci/pipeline/docs.yml

fix test fails
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

reuse macro
  doc/sources/contribute.rst
Due: .ci/pipeline/docs.yml

solve merge conflicts
  README.md
  SECURITY.md
  conda-recipe/meta.yaml
  examples/AGENTS.md
  examples/notebooks/README.md
  setup.py
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more replacements
  .github/instructions/build-config.instructions.md
  .github/instructions/general.instructions.md
Due: .ci/pipeline/nightly.yml

solve merge conflicts
  README.md
Due: .ci/pipeline/nightly.yml

more replacements
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

undo sample weight updates to handle in oneDAL instead
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

more replacements
  AGENTS.md
  daal4py/sklearn/_n_jobs_support.py
  doc/README.md
  doc/sources/samples.rst
  sklearnex/glob/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

DOC: Link to scikit-learn's website from readme (#3255)
  .github/instructions/build-config.instructions.md
  .github/instructions/general.instructions.md
  AGENTS.md
  README.md
  SECURITY.md
  conda-recipe/meta.yaml
  daal4py/sklearn/_n_jobs_support.py
  doc/AGENTS.md
  doc/README.md
  doc/sources/conf.py
  doc/sources/contribute.rst
  doc/sources/ideas.rst
  doc/sources/samples.rst
  doc/sources/support.rst
  doc/sources/tutorials.rst
  doc/third-party-programs-sklearnex.txt
  examples/AGENTS.md
  examples/notebooks/README.md
  setup.py
  sklearnex/dispatcher.py
  sklearnex/glob/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fall back to dlpack_to_numpy in _as_numpy when np.asarray can't read a device tensor
  onedal/tests/utils/_dataframes_support.py
Due: .ci/pipeline/nightly.yml

Add transform_output tests for PCA
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix dtype of coefficients not being preserved
  daal4py/sklearn/linear_model/logistic_path.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for older sklearn
  daal4py/sklearn/linear_model/logistic_path.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

resolve merge conflicts
  onedal/tests/utils/_dataframes_support.py
Due: .ci/pipeline/nightly.yml

remove daal4py validate_data implementation
  .claude/settings.local.json
  daal4py/sklearn/cluster/k_means.py
  daal4py/sklearn/decomposition/_pca.py
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/linear_model/_linear.py
  daal4py/sklearn/linear_model/_ridge.py
  daal4py/sklearn/manifold/_t_sne.py
  daal4py/sklearn/svm/svm.py
  daal4py/sklearn/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

clean up roc_auc_score and train_test_split
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/model_selection/_split.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove check_tree_nodes
  daal4py/sklearn/_utils.py
  daal4py/sklearn/ensemble/_forest.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

cleanup
  .claude/settings.local.json
Due: .ci/pipeline/nightly.yml

Apply suggestion from @david-cortes-intel
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

missing arg
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Address review: BufferError in _as_numpy, drop array_api_strict try-guard, add pandas/polars input test for PCA
  onedal/tests/utils/_dataframes_support.py
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[maintenance] delete unused `onedal.utils.validation._is_multilabel` function (#3268)
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

Update _device_offload.py (#3264)
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove daal4py assert_all_finite in onedal
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

downgrade after yanked version
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Fix deprecated Coverity scan keys usage
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

Update dal.cpp
  onedal/dal.cpp
Due: .ci/pipeline/nightly.yml

formatting
  onedal/dal.cpp
Due: .ci/pipeline/nightly.yml

Update validation.py (#3267)
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

downgrade after yanked version (#3299)
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Fix deprecated Coverity scan keys usage (#3300)
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

add section about REBAR
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Update __init__.py
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

formatting
  onedal/__init__.py
  onedal/dal.cpp
Due: .ci/pipeline/nightly.yml

swap daal_check_version for onedal_check_version using claude
  onedal/__init__.py
  onedal/cluster/__init__.py
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_init.py
  onedal/common/hyperparameters.py
  onedal/covariance/covariance.py
  onedal/covariance/incremental_covariance.py
  onedal/ensemble/forest.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml
