Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

windows specific deselection
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

default to recent sklearn
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Address coverity + cleanup pairwise logic (#3337)
  daal4py/sklearn/metrics/_pairwise.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update contributor reference
  doc/sources/contributor-reference.rst
Due: .ci/pipeline/docs.yml

address comments
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/table.cpp
Due: .ci/pipeline/nightly.yml

move sklearn version check out of onedal
  onedal/tests/utils/_dataframes_support.py
Due: .ci/pipeline/nightly.yml

update contributor-reference from comments
  doc/sources/contributor-reference.rst
Due: .ci/pipeline/docs.yml

address review comments
  onedal/tests/utils/_dataframes_support.py
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/linear_model/tests/test_incremental_linear.py
  sklearnex/linear_model/tests/test_incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[fix] correct split threshold conversion in GBT model builders
  daal4py/mb/gbt_convertors.py
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[fix] index tree counts by class when padding treelite models
  daal4py/mb/gbt_convertors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

DOC: Document thread-safety issues in KNN (#3349)
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

fix version check
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

Apply suggestion from @david-cortes-intel
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

forward predictions with nan to sklearn ref #3356
  sklearnex/ensemble/_forest.py
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix also for GPU
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

address gap in using sycl_device attr comparison
  onedal/tests/utils/_dataframes_support.py
Due: .ci/pipeline/nightly.yml

set branch for missing values in trees
  onedal/primitives/tree_visitor.cpp
Due: .ci/pipeline/nightly.yml

address reviews
  doc/sources/contributor-reference.rst
  onedal/tests/utils/_dataframes_support.py
  sklearnex/linear_model/tests/test_mixed_inputs.py
  sklearnex/neighbors/tests/test_neighbors.py
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestion from @david-cortes-intel
  onedal/primitives/tree_visitor.cpp
Due: .ci/pipeline/nightly.yml

Address additional logreg+cv threshold fails
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

drop 1.10 version mins
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

extend kmeans vacuous cluster deselections
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix type
  onedal/primitives/tree_visitor.cpp
Due: .ci/pipeline/nightly.yml

don't check for nans more than once
  sklearnex/ensemble/_forest.py
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use faster finite checker
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

call same valiadtor on gpu data
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update wording based on array_api_strict comment
  doc/sources/contributor-reference.rst
  onedal/tests/utils/_dataframes_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Fall back to sklearn for forest predictions on NaN data (#3357)
  sklearnex/ensemble/_forest.py
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Address review: narrow locking, write-once model pointers, restore CRLF
  generator/wrapper_gen.py
  scripts/CMakeLists.txt
  scripts/build_backend.py
  sklearnex/tests/test_free_threading.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Revert stray pyproject.toml whitespace change
  pyproject.toml
Due: .ci/pipeline/nightly.yml

Make the oneDAL backend build robust across library layouts
  conda-recipe/meta.yaml
  onedal/dummy/dummy_onedal.hpp
  scripts/CMakeLists.txt
  scripts/build_backend.py
  setup.py
  tests/test_build_backend.py
Due: .ci/pipeline/nightly.yml

Fix reference-counting bugs in the NumericTable conversions
  generator/wrapper_gen.py
  onedal/datatypes/numpy/data_conversion.cpp
  src/daal4py.cpp
  src/daal4py.h
  src/npy4daal.h
  tests/test_numeric_table_references.py
Due: .ci/pipeline/nightly.yml

Fix transceiver and MPI lifecycle in the daal4py distributed backend
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/ci.yml
  src/dist_dbscan.h
  src/mpi/mpi_transceiver.cpp
  src/mpi/mpi_transceiver.h
  src/transceiver.cpp
  src/transceiver.h
  tests/mpi_lifecycle_smoke.py
  tests/test_mpi_lifecycle.py
Due: .ci/pipeline/nightly.yml

Replace the per-call std::regex result-option scan with a shared parser
  .github/workflows/ci.yml
  onedal/basic_statistics/basic_statistics.cpp
  onedal/cluster/dbscan.cpp
  onedal/common.hpp
  onedal/common/result_options.hpp
  onedal/linear_model/linear_model.cpp
  onedal/linear_model/logistic_regression.cpp
  onedal/neighbors/neighbors.cpp
  tests/result_options_threading.cpp
Due: .ci/pipeline/nightly.yml

Address review: scope the CI down to what it can actually prove
  .ci/scripts/setup_sklearn.sh
  .github/tsan-suppressions.txt
  .github/workflows/ci.yml
  onedal/common/result_options.hpp
  requirements-test-free-threaded.txt
  sklearnex/tests/test_free_threading.py
  src/mpi/mpi_transceiver.cpp
  src/npy4daal.h
  tests/mpi_lifecycle_smoke.py
  tests/result_options_threading.cpp
  tests/test_build_backend.py
  tests/test_mpi_lifecycle.py
  tests/test_native_threading.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Address review: drop unjustified CMake invocation changes
  scripts/build_backend.py
  tests/test_build_backend.py
Due: .ci/pipeline/nightly.yml

Fix the leak the new test caught, and address review
  onedal/datatypes/numpy/data_conversion.cpp
  src/daal4py.cpp
  src/npy4daal.h
Due: .ci/pipeline/nightly.yml

Address review: report teardown failures, fix exception mapping
  src/mpi/mpi_transceiver.cpp
Due: .ci/pipeline/nightly.yml

Address review: test the parser from Python instead of a native binary
  .github/workflows/ci.yml
  onedal/common/tests/test_result_options.py
  tests/result_options_threading.cpp
Due: .ci/pipeline/nightly.yml

Address review feedback across the free-threading changes
  onedal/common/tests/test_result_options.py
  onedal/datatypes/numpy/data_conversion.cpp
  scripts/build_backend.py
  src/daal4py.cpp
  src/mpi/mpi_transceiver.cpp
  src/npy4daal.h
  tests/result_options_threading.cpp
  tests/test_build_backend.py
Due: .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
