Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

try again
  onedal/basic_statistics/basic_statistics.py
  onedal/cluster/kmeans.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update basic_statistics.py
  onedal/basic_statistics/basic_statistics.py
Due: .ci/pipeline/nightly.yml

formatting
  onedal/basic_statistics/basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix bad merge
  onedal/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/nightly.yml

fixes againg
  onedal/basic_statistics/basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/nightly.yml

Update incremental_basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/nightly.yml

Update validation.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update scripts/version.py
  scripts/version.py
Due: .ci/pipeline/nightly.yml

Fix: Find libs in $DALROOT with conda-style paths (#2594)
  scripts/version.py
Due: .ci/pipeline/nightly.yml

temporary fix
  onedal/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Deselect specific sparse elkan tests (#2580)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

add #2441
  onedal/cluster/dbscan.py
  onedal/covariance/covariance.py
  onedal/datatypes/__init__.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/sycl_usm/data_conversion.cpp
  onedal/datatypes/sycl_usm/data_conversion.hpp
  onedal/datatypes/table.cpp
  onedal/datatypes/tests/test_data.py
  onedal/ensemble/forest.py
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/logistic_regression.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
  sklearnex/spmd/linear_model/tests/test_linear_regression_spmd.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

introduce like throughout
  onedal/basic_statistics/basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/nightly.yml

reduce lines
  onedal/basic_statistics/basic_statistics.py
Due: .ci/pipeline/nightly.yml

add #2566
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/utils/_array_api.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _array_api.py
  sklearnex/utils/_array_api.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

install scikit-learn to build docs (#2592)
  .github/workflows/docs-release.yml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use latest version of sklearn when building docs
  .ci/pipeline/docs.yml
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

Update basic_statistics.py
  sklearnex/basic_statistics/basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update incremental_basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Specify namespace for std types (#2595)
  src/daal4py.cpp
  src/daal4py.h
  src/transceiver.h
Due: .ci/pipeline/nightly.yml

Update test_basic_statistics_spmd.py
  sklearnex/spmd/basic_statistics/tests/test_basic_statistics_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove manual install of sklearn in docs-release CI
  .github/workflows/docs-release.yml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: Use latest version of sklearn when building docs (#2603)
  .ci/pipeline/docs.yml
  .github/workflows/docs-release.yml
  requirements-doc.txt
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes and try again
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

likely to be issues on output shapes
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/linear_model.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix things|
  onedal/linear_model/incremental_linear_model.py
Due: .ci/pipeline/nightly.yml

fixes
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/linear_model.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add #2566
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
  sklearnex/utils/_array_api.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

continue merge fixes
  onedal/linear_model/tests/test_linear_regression.py
Due: .ci/pipeline/nightly.yml

cut test
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix lint
  sklearnex/utils/_array_api.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

integrate #2441
  onedal/cluster/dbscan.py
  onedal/covariance/covariance.py
  onedal/datatypes/__init__.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/sycl_usm/data_conversion.cpp
  onedal/datatypes/sycl_usm/data_conversion.hpp
  onedal/datatypes/table.cpp
  onedal/datatypes/tests/test_data.py
  onedal/ensemble/forest.py
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/logistic_regression.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
  sklearnex/spmd/linear_model/tests/test_linear_regression_spmd.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
