Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Update kmeans_init.py
  onedal/cluster/kmeans_init.py
Due: .ci/pipeline/nightly.yml

correct bad sklearn recommendation
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more details about daal4py
  doc/sources/about_daal4py.rst
Due: .ci/pipeline/docs.yml

add better article from intel
  doc/sources/model_builders.rst
Due: .ci/pipeline/docs.yml

fix broken links
  doc/sources/model_builders.rst
Due: .ci/pipeline/docs.yml

remove irrelevant new tests
  sklearnex/tests/test_patching.py
  sklearnex/utils/tests/test_array_api.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix mistake
  sklearnex/svm/_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

lint fix
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add fallback test
  sklearnex/_device_offload.py
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

make test fixes
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

formatting
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update doc/sources/distributed_daal4py.rst
  doc/sources/distributed_daal4py.rst
Due: .ci/pipeline/docs.yml

Update doc/sources/daal4py.rst
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

Update doc/daal4py/scaling.rst
  doc/daal4py/scaling.rst
Due: .ci/pipeline/docs.yml

rejigger the logic again
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_config.py
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update examples sources
  doc/daal4py/examples.rst
  doc/daal4py/model-builders.rst
Due: .ci/pipeline/docs.yml

interim fix
  sklearnex/tests/test_config.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

migrate mb to pytest + bugfixes
  daal4py/mb/gbt_convertors.py
  daal4py/mb/tree_based_builders.py
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

attempt to get test_config test to skip
  sklearnex/tests/test_config.py
  sklearnex/tests/test_memory_usage.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more tests
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

correction
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

skip case not supported by external library
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

inherit docstrings from sklearn
  sklearnex/neighbors/_lof.py
  sklearnex/svm/nusvc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

allow weights as positional argument
  sklearnex/basic_statistics/basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix test for old sklearn versions
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

Update doc/daal4py/model-builders.rst
  doc/daal4py/model-builders.rst
Due: .ci/pipeline/docs.yml

fix test
  sklearnex/_device_offload.py
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix broken links
  doc/sources/distributed-mode.rst
  doc/sources/samples.rst
  doc/sources/tutorials.rst
Due: .ci/pipeline/docs.yml

parallelize doc build by default
  doc/Makefile
Due: .ci/pipeline/docs.yml

interim fixes
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for IncrementalEmpiricalCovariance
  sklearnex/covariance/incremental_covariance.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for wrap_output_data
  sklearnex/_device_offload.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

solve issues related to older numpy
  onedal/_device_offload.py
  onedal/utils/_array_api.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_run_to_run_stability.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update __init__.py
  sklearnex/utils/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
