Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

FIX: Add missing dependency on `packaging` (#2873)
  conda-recipe/meta.yaml
  requirements-test.txt
  setup.py
Due: .ci/pipeline/nightly.yml

add back tests for logreg_cv
  daal4py/sklearn/monkeypatch/tests/_models_info.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix tests
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unused import
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

better check
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

DOC, MAINT: Centralize and expand development-related docs (#2734)
  .github/Pull_Request_template.md
  CONTRIBUTING.md
  INSTALL.md
  README.md
  SUPPORT.md
  daal4py/README.md
  doc/sources/algorithms.rst
  doc/sources/building-from-source.rst
  doc/sources/code-of-conduct.rst
  doc/sources/contributor-reference.rst
  doc/sources/distributed-mode.rst
  doc/sources/distributed_daal4py.rst
  doc/sources/ideas.rst
  doc/sources/index.rst
  doc/sources/quick-start.rst
  doc/sources/support.rst
  doc/sources/tests.rst
  scikit-learn-tests.md
  tests/util_compare_json_reports.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for array api
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip tests that do not apply
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove wiki references for doc build
  doc/sources/building-from-source.rst
  doc/sources/distributed_daal4py.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

fix typo (#2850)
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

fix failing tests
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

yet more fixes
  sklearnex/linear_model/logistic_regression.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

compat with older sklearn
  deselected_tests.yaml
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove wiki references for doc build (#2879)
  doc/sources/building-from-source.rst
  doc/sources/distributed_daal4py.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

fix typo
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

more fixes
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip failing tests
  sklearnex/tests/test_memory_usage.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

adressing AGENTS.md fixes
  .ci/AGENTS.md
  AGENTS.md
  daal4py/AGENTS.md
  doc/AGENTS.md
  examples/AGENTS.md
  generator/AGENTS.md
  onedal/AGENTS.md
  sklearnex/AGENTS.md
  src/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Updating copilot instructions
  .github/instructions/build-config.instructions.md
  .github/instructions/daal4py.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/onedal.instructions.md
  .github/instructions/sklearnex.instructions.md
  .github/instructions/src.instructions.md
  .github/instructions/tests.instructions.md
Due: .ci/pipeline/nightly.yml

Updating instructions
  .github/instructions/build-config.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/tests.instructions.md
  AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

Updating md look
  AGENTS.md
Due: .ci/pipeline/nightly.yml

Updating AGENTS with details
  AGENTS.md
  daal4py/AGENTS.md
  sklearnex/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

Removed version details from instructions
  .ci/AGENTS.md
  .github/instructions/build-config.instructions.md
  .github/instructions/general.instructions.md
  AGENTS.md
  examples/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

Fixed files
  .ci/AGENTS.md
  daal4py/AGENTS.md
  doc/AGENTS.md
  examples/AGENTS.md
  onedal/AGENTS.md
  sklearnex/AGENTS.md
  src/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

improve wording on supported inputs (#2851)
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

Update daal4py/sklearn/manifold/_t_sne.py
  daal4py/sklearn/manifold/_t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Allow sparse data on TSNE (#2827)
  daal4py/sklearn/manifold/_t_sne.py
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix typo (#2882)
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

MAINT: Skip new ROC tests that fail due to numeric tolerances (#2808)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

more fixes
  sklearnex/tests/test_patching.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

yet more fixes
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix for older sklearn
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update dependencies-dev
  dependencies-dev
Due: .ci/pipeline/nightly.yml

fix version
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

scikit-learn 1.6 GPU deselections
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml
