Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Add rbf_kernel Function (#3)
  examples/notebooks/benchmark_rbf_kernel.ipynb
  sklearnex/metrics/pairwise.py
  sklearnex/metrics/tests/test_metrics.py
Due: .ci/pipeline/nightly.yml

fix: only python files under sklearnex and daal4py
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

ci-test: print
  sklearnex/manifold/t_sne.py
Due: .ci/pipeline/nightly.yml

ci-test: print
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

feat: Add OASEstimator class with oneDAL support and corresponding tests
  sklearnex/covariance/oas_estimator.py
  sklearnex/tests/test_oas_estimator.py
Due: .ci/pipeline/nightly.yml

Warning section and deprecated marker
  sklearnex/_config.py
Due: .ci/pipeline/nightly.yml

fixup
  sklearnex/_config.py
Due: .ci/pipeline/nightly.yml

add test for non-batched parameters
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/nightly.yml

use fixture with finalizer
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/nightly.yml

Update sklearnex/_config.py
  sklearnex/_config.py
Due: .ci/pipeline/nightly.yml

review & cleanup
  sklearnex/_config.py
Due: .ci/pipeline/nightly.yml

move to fixture
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/nightly.yml

fix missing import
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

add RBFKernel class
  sklearnex/metrics/pairwise.py
Due: .ci/pipeline/nightly.yml

remove print
  sklearnex/metrics/pairwise.py
Due: .ci/pipeline/nightly.yml

remove unused docstring
  sklearnex/metrics/pairwise.py
Due: .ci/pipeline/nightly.yml

update: update aldorithm and preview
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Fix conda related naming
  INSTALL.md
  daal4py/README.md
  doc/daal4py/index.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

incorporate PR review suggestions
  INSTALL.md
  doc/sources/conf.py
  doc/sources/oneapi-gpu.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

include new notebooks in .rst docs ref #2343
  doc/sources/samples.rst
Due: .ci/pipeline/docs.yml

trigger docs CI when adding new notebooks
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

improve grammar
  examples/notebooks/ElasticNet.ipynb
  examples/notebooks/dbscan.ipynb
  examples/notebooks/knn_mnist.ipynb
  examples/notebooks/lasso_regression.ipynb
  examples/notebooks/linear_regression.ipynb
  examples/notebooks/logistictic_regression_cifar.ipynb
  examples/notebooks/nusvr_medical_charges.ipynb
  examples/notebooks/random_forest_rain.ipynb
  examples/notebooks/random_forest_yolanda.ipynb
  examples/notebooks/ridge_regression.ipynb
  examples/notebooks/ridge_regression_bike_sharing.ipynb
  examples/notebooks/ridge_regression_fraud_detection.ipynb
  examples/notebooks/ridge_regression_higgs.ipynb
  examples/notebooks/svc_adult.ipynb
Due: .ci/pipeline/nightly.yml

fix SPMD and kmeans_init failures
  onedal/cluster/dbscan.py
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_init.py
Due: .ci/pipeline/nightly.yml

improve docstring
  onedal/cluster/kmeans_init.py
Due: .ci/pipeline/nightly.yml

updating doc config with naming
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

Renaming IntelEstomator to ExtensionEstimator
  sklearnex/_utils.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/nightly.yml

Replacing oneDAL with sustitution reference
  doc/daal4py/algorithms.rst
  doc/daal4py/index.rst
  doc/daal4py/sklearn.rst
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

Fixing linting on incremental_ridge
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/nightly.yml

fixup for spmd kmeans init
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_init.py
  onedal/spmd/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

fix merge error
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

fix: remove incremental algos and added extra trees and tsne n_compoents description
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Update test_data.py
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

formatting'
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

fix more merge errors
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/linear_model.py
Due: .ci/pipeline/nightly.yml

Fix DummyEstimatorWithTableConversions
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml
