Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

ci-test: print
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

ci-test: print and tagged
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

fix: remove running ci on pr
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

Update test_data.py
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

ci-test: pritn
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

ci-test: anohte way to trigger on tag
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

ci-test: get pr seciton back
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

ci-test: test
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

ci-test:print
  .ci/pipeline/docs.yml
Due: .ci/pipeline/docs.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update __init__.py
  sklearnex/utils/__init__.py
Due: .ci/pipeline/nightly.yml

Update louvain.cpp
  onedal/cluster/louvain.cpp
Due: .ci/pipeline/nightly.yml

add issue links and fix a spelling mistake:
  doc/sources/ideas.rst
Due: .ci/pipeline/docs.yml

make anonymous
  doc/sources/ideas.rst
Due: .ci/pipeline/docs.yml

remove space
  doc/sources/ideas.rst
Due: .ci/pipeline/docs.yml

Update test_array_api.py
  sklearnex/utils/tests/test_array_api.py
Due: .ci/pipeline/nightly.yml

ci-test: try gitthub action for tag trigger
  .github/workflows/docs.yml
Due: .ci/pipeline/nightly.yml

feature: add several steps needed
  .github/workflows/docs-release.yml
  .github/workflows/docs.yml
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix verison order
  .github/workflows/docs-release.yml
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add env var to github env for other files
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

ci-test: print
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

DOC: Clarify requirements for running on GPU and supported configurations (#2286)
  README.md
  doc/sources/algorithms.rst
  doc/sources/conf.py
  doc/sources/distributed-mode.rst
  doc/sources/index.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/quick-start.rst
  doc/sources/substitutions.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

ci-test:print
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

feature: rest of steps until push to ghpages
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: revert docs.yml azure
  .ci/pipeline/docs.yml
  .github/workflows/docs-release.yml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

ci-test: commit test on gh page
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: creat fodler
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: add git config
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

add new parameters for linear regression
  onedal/linear_model/linear_model.cpp
Due: .ci/pipeline/nightly.yml

fix: try actions/deploy-pages on fork
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: need to use gh-page b/c we need to maintain the versions
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

ci-test: test permissions
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

fix: in case gh-pages does not exist create it
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml

ci-test: permission test
  .github/workflows/docs-release.yml
Due: .ci/pipeline/nightly.yml
