Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Update __init__.py
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

Update __init__.py
  onedal/spmd/__init__.py
Due: .ci/pipeline/nightly.yml

Guard PCA array_api_strict transform_output on numpy>=2.1
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Use _package_check_version for the numpy>=2.1 guard
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

address comments and attempt to fix dispatching logic
  deselected_tests.yaml
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

line break
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document and shorten solvers for incremental pca
  doc/sources/additional_parameters.rst
  doc/sources/algorithms.rst
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix import
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Cleanup from skl1.0 removal via coverity
  daal4py/sklearn/linear_model/_coordinate_descent.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove obsolete sklearn_check_version(1.2) guards in PCA transform_output tests
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add clear TODO to remove the array_api_strict readonly-DLPack skip
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove duplicate code
  daal4py/sklearn/__init__.py
  daal4py/sklearn/cluster/__init__.py
  daal4py/sklearn/cluster/dbscan.py
  daal4py/sklearn/cluster/k_means.py
  daal4py/sklearn/cluster/tests/test_dbscan.py
  daal4py/sklearn/decomposition/__init__.py
  daal4py/sklearn/decomposition/_pca.py
  daal4py/sklearn/ensemble/__init__.py
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
  daal4py/sklearn/linear_model/__init__.py
  daal4py/sklearn/linear_model/_linear.py
  daal4py/sklearn/linear_model/_ridge.py
  daal4py/sklearn/linear_model/linear.py
  daal4py/sklearn/linear_model/ridge.py
  daal4py/sklearn/linear_model/tests/test_linear.py
  daal4py/sklearn/linear_model/tests/test_ridge.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  daal4py/sklearn/monkeypatch/tests/_models_info.py
  daal4py/sklearn/svm/__init__.py
  daal4py/sklearn/svm/svm.py
  setup.py
  sklearnex/cluster/k_means.py
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/decomposition/pca.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/linear_model/ridge.py
  sklearnex/linear_model/tests/test_ridge.py
  sklearnex/svm/__init__.py
  sklearnex/tests/test_monkeypatch.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_ridge.py
  sklearnex/linear_model/tests/test_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update k_means.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update __init__.py
  sklearnex/svm/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[enhancement] Implement MaxAbsScaler Estimator **AI implemented** (#3020)
  .ci/scripts/select_sklearn_tests.py
  deselected_tests.yaml
  setup.py
  sklearnex/dispatcher.py
  sklearnex/preview/__init__.py
  sklearnex/preview/preprocessing/__init__.py
  sklearnex/preview/preprocessing/_data.py
  sklearnex/preview/preprocessing/tests/test_data.py
  sklearnex/spmd/preprocessing/__init__.py
  sklearnex/spmd/preprocessing/_data.py
  sklearnex/spmd/preprocessing/tests/test_data_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

stopping point
  onedal/tests/test_common.py
Due: .ci/pipeline/nightly.yml

forgotten import
  onedal/tests/test_common.py
Due: .ci/pipeline/nightly.yml

improvements
  onedal/tests/test_common.py
Due: .ci/pipeline/nightly.yml

Update test_common.py
  onedal/tests/test_common.py
Due: .ci/pipeline/nightly.yml

formatting
  onedal/tests/test_common.py
Due: .ci/pipeline/nightly.yml

remove unused line
  onedal/tests/test_common.py
Due: .ci/pipeline/nightly.yml

formatting
  onedal/spmd/__init__.py
Due: .ci/pipeline/nightly.yml

move doc about svd_solver
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix typo in variable name
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

check for None before using namespace
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix test that assumes PCA
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for maxabsscaler
  sklearnex/preview/preprocessing/_data.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more docs
  sklearnex/preview/preprocessing/_data.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Cleanup from skl1.0 removal via coverity (#3313)
  daal4py/sklearn/linear_model/_coordinate_descent.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

re-add gpu deselections and fix newline
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Add pyyaml to test reqs and deselect array_api deps tests (#3294)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .github/workflows/ci.yml
  deselected_tests.yaml
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/tests/test_data.py
  requirements-test.txt
Due: .ci/pipeline/nightly.yml
