Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Fix forest raw dpnp class issues
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix formatting
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _base.py
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

DOC, MAINT: Improve GPU docs, remove references to dpctl arrays (#2721)
  doc/sources/algorithms.rst
  doc/sources/array_api.rst
  doc/sources/config-contexts.rst
  doc/sources/distributed-mode.rst
  doc/sources/index.rst
  doc/sources/input-types.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/substitutions.rst
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document serialization
  doc/sources/index.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/serialization.rst
Due: .ci/pipeline/docs.yml

Update dependencies-dev
  dependencies-dev
Due: .ci/pipeline/nightly.yml

Address some comments
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Describe negative n-jobs behavior
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Update CODEOWNERS (#2770)
  .github/CODEOWNERS
Due: .ci/pipeline/nightly.yml

Address comments
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

re-add internal dpctl handling
  onedal/datatypes/_data_conversion.py
  onedal/utils/_array_api.py
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

improve logic for detection of nested parallelism
  daal4py/sklearn/_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't use set for single variable
  daal4py/sklearn/_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document limit on number of trees
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

correction
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

update about limitations of array api support
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

more adjustments for sklearn1.8
  daal4py/sklearn/linear_model/logistic_path.py
  doc/sources/algorithms.rst
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try using fork to see if it passes tests
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

minor
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

remove test that's no longer relevant
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

Provide docstring for GPU skip decorator
  onedal/tests/utils/_device_selection.py
Due: .ci/pipeline/nightly.yml

describe pass_if_not_implemented_for_gpu
  doc/sources/topics-for-contributors.rst
Due: .ci/pipeline/docs.yml

Provide docstring for GPU skip decorator (#2789)
  onedal/tests/utils/_device_selection.py
Due: .ci/pipeline/nightly.yml

clearer skip logic
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

update tsne for sklearn1.8
  daal4py/sklearn/manifold/_t_sne.py
  doc/sources/algorithms.rst
  doc/sources/guide/acceleration.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect tests that fail due to verbosity prints
  deselected_tests.yaml
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect more instances of the same bug
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

remove unnecessary dpnp.asnumpy calls
  examples/sklearnex/kmeans_spmd.py
  examples/sklearnex/knn_bf_classification_spmd.py
  examples/sklearnex/knn_bf_regression_spmd.py
  examples/sklearnex/linear_regression_spmd.py
  examples/sklearnex/logistic_regression_spmd.py
Due: .ci/pipeline/nightly.yml

fixes
  examples/sklearnex/knn_bf_classification_spmd.py
  examples/sklearnex/knn_bf_regression_spmd.py
  examples/sklearnex/logistic_regression_spmd.py
Due: .ci/pipeline/nightly.yml

fix test
  sklearnex/manifold/tests/test_tsne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more corrections
  daal4py/sklearn/manifold/_t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes for older sklearn
  daal4py/sklearn/manifold/_t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use correct column
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

formatting
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Wording fixes
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Clarify n_jobs logs logic
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

MAINT: Deselect KMeans tests for verbosity prints in sklearn1.8 (#2794)
  deselected_tests.yaml
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

DOC: Document limitation on maximum allowed number of trees (#2782)
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
