Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

docs: note Polars DataFrame support in supported input types
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

test: add parametrized Polars DataFrame input tests for sklearnex estimators
  sklearnex/tests/test_dataframe_input.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Support torch validation and add to spmd tests
  onedal/tests/utils/_dataframes_support.py
  sklearnex/spmd/basic_statistics/tests/test_basic_statistics_spmd.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/cluster/tests/test_dbscan_spmd.py
  sklearnex/spmd/cluster/tests/test_kmeans_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/spmd/ensemble/tests/test_forest_spmd.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
  sklearnex/spmd/linear_model/tests/test_linear_regression_spmd.py
  sklearnex/spmd/linear_model/tests/test_logistic_regression_spmd.py
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Simplify predict_proba docstring
  sklearnex/spmd/neighbors/neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Address reviewer feedback: use sklearn_check_version, update PCA comment
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

formatting
  onedal/tests/utils/_dataframes_support.py
Due: .ci/pipeline/nightly.yml

test: remove unused y_col parameter from test_polars_dataframe_column_subsets
  sklearnex/tests/test_dataframe_input.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

ci: enable Coverity C++ build coverage in nightly scan
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

fix: refactor DPC++ load error into throw_if_no_dpc_available()
  onedal/__init__.py
  onedal/common/_backend.py
Due: .ci/pipeline/nightly.yml

lint: fix docstring style for throw_if_no_dpc_available
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

Update doc/sources/serialization.rst
  doc/sources/serialization.rst
Due: .ci/pipeline/docs.yml

MAINT, ENH: Remove 'support_input_format' for CPU-only classes/functions (#2996)
  daal4py/sklearn/_utils.py
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/manifold/_t_sne.py
  daal4py/sklearn/metrics/_pairwise.py
  sklearnex/linear_model/coordinate_descent.py
  sklearnex/linear_model/tests/test_linear.py
  sklearnex/manifold/t_sne.py
  sklearnex/manifold/tests/test_tsne.py
  sklearnex/metrics/pairwise.py
  sklearnex/metrics/ranking.py
  sklearnex/metrics/tests/test_metrics.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: Remove untested option to build without onedal module (#2916)
  doc/sources/building-from-source.rst
  setup.py
  sklearnex/__init__.py
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

reuse common function
  daal4py/sklearn/metrics/_ranking.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add section about spmd serialization
  doc/sources/serialization.rst
Due: .ci/pipeline/docs.yml

DOC: Document serialization of objects (#2729)
  doc/sources/index.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/serialization.rst
Due: .ci/pipeline/docs.yml

Apply suggestion from @david-cortes-intel
  dependencies-dev
Due: .ci/pipeline/nightly.yml

reuse function to check package versions
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add test importing dpc module
  sklearnex/tests/test_import_dpc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add DPC runtimes
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

add runtime dependencies for source builds of oneDAL
  .github/workflows/ci.yml
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

install dependencies in rest of the nightly jobs
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

print files from daal
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

reuse function to check package versions (#3007)
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip link check that fails frequently
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

fix: use get_namespace instead of __sycl_usm_array_interface__ for device detection
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: gate sklearn fallback on non-numpy non-sycl array API inputs
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove PCA fitted attrs from skip list - they preserve type correctly
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: update comment for _FITTED_ATTR_NUMPY_OK_NON_NUMPY
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove ElasticNet/Lasso/TSNE from skip list - now fall back to sklearn after #2996
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: use standard array API .device for device alignment check
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: use standard .device in _check_fitted_attributes device check too
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: Fall back to sklearn on random forests with integer-valued sampling beyond number of rows (#3000)
  doc/sources/algorithms.rst
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip link check that fails frequently (#3011)
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

FIX: Fall back to sklearn directly from unsupported AUROC (#2986)
  daal4py/sklearn/metrics/_ranking.py
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

print env variables during build
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

try another way
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

skip additional seg faulting test
  .circleci/run_xpu_tests.py
Due: .ci/pipeline/nightly.yml

another one
  .circleci/run_xpu_tests.py
Due: .ci/pipeline/nightly.yml

fix: stricter device and dtype checks per reviewer feedback
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
