Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

FIX: Set branch for missing values in sklearn tree structures (#3358)
  onedal/primitives/tree_visitor.cpp
Due: .ci/pipeline/nightly.yml

pass csr shape
  onedal/svm/svm.py
Due: .ci/pipeline/nightly.yml

add test
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Address review: drop tests that do not prove concurrency, make free-threading a build parameter
  doc/sources/building-from-source.rst
  scripts/build_backend.py
  setup.py
  sklearnex/tests/test_free_threading.py
  tests/test_build_backend.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect expected failure
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

link to opt guides
  doc/sources/installation.rst
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

use helpers to get dal arrays directly
  onedal/datatypes/numpy/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

fix sklearn test
  onedal/svm/svm.py
Due: .ci/pipeline/nightly.yml

remove fixes for preview estimators
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/preview/preprocessing/_data.py
  sklearnex/tests/test_common.py
  sklearnex/tests/test_n_jobs_support.py
  sklearnex/tests/test_patching.py
  sklearnex/tests/test_run_to_run_stability.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

link to opt guides (#3417)
  doc/sources/installation.rst
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Update doc/sources/preview.rst
  doc/sources/preview.rst
Due: .ci/pipeline/docs.yml

MAINT: Move Lasso and ElasticNet to preview (#3418)
  doc/sources/algorithms.rst
  doc/sources/preview.rst
  sklearnex/dispatcher.py
  sklearnex/linear_model/__init__.py
  sklearnex/linear_model/tests/test_linear.py
  sklearnex/preview/__init__.py
  sklearnex/preview/linear_model/__init__.py
  sklearnex/preview/linear_model/coordinate_descent.py
  sklearnex/preview/linear_model/tests/test_lasso_elasticnet.py
  sklearnex/tests/test_common.py
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

various fixes for preview estimators
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/preview/preprocessing/_data.py
  sklearnex/tests/test_common.py
  sklearnex/tests/test_n_jobs_support.py
  sklearnex/tests/test_patching.py
  sklearnex/tests/test_run_to_run_stability.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[Temporary] fix of the build errors
  onedal/datatypes/numpy/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Address review: simplify CI conditions, drop dead build knobs, correct comments
  .github/workflows/ci.yml
  doc/sources/building-from-source.rst
  doc/sources/installation.rst
  doc/sources/parallelism.rst
  doc/sources/unsupported.rst
  generator/wrapper_gen.py
  onedal/tests/utils/_dataframes_support.py
  requirements-test-free-threaded.txt
  setup.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestion from @ethanglaser
  dependencies-dev
Due: .ci/pipeline/nightly.yml

move csr_util inclusion after onedal/version
  onedal/datatypes/numpy/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

FIX: Fix memory leaks and memory safety issues in base1 CSR array conversions (#3403)
  onedal/datatypes/numpy/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Apply suggestion from @ethanglaser
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Address David Cortes' review comments on the HDBSCAN PR
  examples/sklearnex/hdbscan_spmd.py
  onedal/cluster/hdbscan.py
  onedal/spmd/cluster/hdbscan.py
  sklearnex/preview/cluster/hdbscan.py
  sklearnex/preview/cluster/tests/test_hdbscan.py
  sklearnex/tests/utils/base.py
  tests/run_examples.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

drop host removals
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

resolve from_dlpack args error
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

minor cleanup + numpydoc
  onedal/cluster/kmeans_init.py
  onedal/common/hyperparameters.py
  setup.py
Due: .ci/pipeline/nightly.yml

resolve test fails
  onedal/decomposition/pca.cpp
  onedal/svm/svm.cpp
Due: .ci/pipeline/nightly.yml

fix array_api_strict and various SEV deselections (#3348)
  deselected_tests.yaml
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/table.cpp
Due: .ci/pipeline/nightly.yml

fix numpydoc formatting
  sklearnex/_config.py
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

re-add unintentionally dropped return statement
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

set solver_ attribute in Ridge
  doc/sources/algorithms.rst
  sklearnex/linear_model/ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Fix `__version__` attribute in daal4py and onedal modules (#3380)
  daal4py/__init__.py
  doc/sources/building-from-source.rst
  onedal/__init__.py
  setup.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

set also n_iter_
  sklearnex/linear_model/ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix predictions with multi-alpha
  onedal/linear_model/linear_model.py
Due: .ci/pipeline/nightly.yml

int -> floor for kmeans init numpydoc
  onedal/cluster/kmeans_init.py
Due: .ci/pipeline/nightly.yml

more necessary deselections
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

another deselection
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Address the review round on HDBSCAN: single version gate, array API list
  doc/sources/array_api.rst
  sklearnex/preview/cluster/__init__.py
  sklearnex/preview/cluster/hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Keep preview HDBSCAN module importable on oneDAL below 2026.2
  sklearnex/preview/cluster/__init__.py
  sklearnex/preview/cluster/hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Install polars from conda-forge on the free-threaded CI leg
  .github/workflows/ci.yml
  doc/sources/building-from-source.rst
  doc/sources/parallelism.rst
  onedal/tests/utils/_dataframes_support.py
  requirements-test-free-threaded.txt
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/linear_model/tests/test_mixed_inputs.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
