Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

fixes
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix test
  onedal/svm/tests/test_svr.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: assertion error
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

feature: add array api support to knn skleranex files
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _classes.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

fix: compatiibilty for array api
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add polynomial_kernel wrapper (#2312)
  onedal/primitives/kernel_functions.py
Due: .ci/pipeline/nightly.yml

Fix lint issues
  onedal/primitives/kernel_functions.py
Due: .ci/pipeline/nightly.yml

Add sklearnex interface for polynomial kernel (poly_kernel)
  sklearnex/svm/poly_kernel.py
  sklearnex/svm/tests/test_poly_kernel_sklearnex.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add sklearnex interface for polynomial kernel
  sklearnex/svm/poly_kernel.py
  sklearnex/svm/tests/test_poly_kernel_sklearnex.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

increase timeout for examples
  tests/test_daal4py_examples.py
Due: .ci/pipeline/nightly.yml

try again to address failures
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix specificity
  .ci/scripts/select_sklearn_tests.py
  doc/sources/array_api.rst
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further fixes
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix license header in new files
  sklearnex/svm/poly_kernel.py
  sklearnex/svm/tests/test_poly_kernel_sklearnex.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try again
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

increase timeout for examples (#2740)
  tests/test_daal4py_examples.py
Due: .ci/pipeline/nightly.yml

fix: remove validate data tests from deseleted tests
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: format
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

updates
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

remove array
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

fix: remove ensure finite and reformat
  onedal/neighbors/tests/test_knn_classification.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

solve onedal issues
  onedal/ensemble/forest.py
  onedal/ensemble/tests/test_random_forest.py
Due: .ci/pipeline/nightly.yml

fix: format
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

solve onedal issues
  onedal/ensemble/tests/test_random_forest.py
Due: .ci/pipeline/nightly.yml

updates
  onedal/ensemble/tests/test_random_forest.py
Due: .ci/pipeline/nightly.yml

try again
  sklearnex/svm/_classes.py
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix patching type error
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: update doc
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

fix: fix patching error
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: attribute error
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: patchnig AttributeError
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_svm.py
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
