Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

fix lint (#3195)
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

log calls to threading functions
  daal4py/sklearn/_n_jobs_support.py
  daal4py/sklearn/linear_model/logistic_path.py
  sklearnex/tests/test_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix warning on unused parameter on sklearn fallbacks
  sklearnex/neighbors/common.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

put comment under correct setter
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document limitations on predictions from multi-class after fallbacks
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix sparse predict on dense fit for kmeans
  sklearnex/cluster/k_means.py
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

better test
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

downgrade yanked polars
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

fix condition for restoring n_jobs
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test that expected fallback doesn't have onedal model
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix for older sklearn
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

downgrade yanked polars (#3199)
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

fixes for older sklearn
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for older sklearn
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect non-applicable test
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Pre-release validation of skl1.9
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-win.yml
  .github/workflows/ci.yml
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

expand error types for new sklearn logic
  sklearnex/covariance/tests/test_incremental_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

expand error types for new sklearn logic (#3194)
  sklearnex/covariance/tests/test_incremental_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update sycl_interfaces.cpp
  onedal/common/sycl_interfaces.cpp
Due: .ci/pipeline/nightly.yml

Update sycl_interfaces.hpp
  onedal/common/sycl_interfaces.hpp
Due: .ci/pipeline/nightly.yml

Update policy.cpp
  onedal/common/policy.cpp
Due: .ci/pipeline/nightly.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update forest.py
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

fix condition for restoring n_jobs (#3200)
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove accidental line
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

try installing nightly wheel
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

Update incremental_basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/nightly.yml

Update incremental_basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_incremental_basic_statistics.py
  onedal/basic_statistics/tests/test_incremental_basic_statistics.py
Due: .ci/pipeline/nightly.yml

MAINT: Add number of iterations to SVM models (#3193)
  onedal/svm/svm.cpp
  onedal/svm/svm.py
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

TST: Ensure unconstrained trees fit perfectly training data
  onedal/ensemble/tests/test_random_forest.py
Due: .ci/pipeline/nightly.yml

fix test
  onedal/ensemble/tests/test_random_forest.py
Due: .ci/pipeline/nightly.yml

Update sklearnex/cluster/tests/test_kmeans.py
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Fix KMeans prediction on sparse data after dense fit (#3198)
  sklearnex/cluster/k_means.py
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try installing nightly wheel (#3206)
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

deselect non-applicable test (#3201)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update validation.py
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
