Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

werror for examples
  tests/run_examples.py
Due: .ci/pipeline/nightly.yml

deselect cases that fail due to expected small numeric differences
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Address initial warnings in examples
  examples/daal4py/readcsv.py
  examples/mb/readcsv.py
  examples/sklearnex/knn_bf_classification_spmd.py
  onedal/_device_offload.py
  tests/run_examples.py
Due: .ci/pipeline/nightly.yml

read_next?
  examples/daal4py/readcsv.py
Due: .ci/pipeline/nightly.yml

oops
  examples/daal4py/readcsv.py
Due: .ci/pipeline/nightly.yml

deduplicate
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update requirements-doc.txt
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

MAINT: Deselect logistic regression cases that fail from small numeric differences (#2757)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

update xgboost
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

remove workaround for treelite incompatibilities
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

MAINT: Updates for XGBoost3.1 model structures (#2741)
  daal4py/mb/gbt_convertors.py
  requirements-test.txt
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix accidental modification
  conda-recipe/run_test.sh
Due: .ci/pipeline/nightly.yml

missing word
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

grammar
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

Update sklearnex/_config.py
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update doc/sources/oneapi-gpu.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Update doc/sources/config-contexts.rst
  doc/sources/config-contexts.rst
Due: .ci/pipeline/docs.yml

Update doc/sources/building-from-source.rst
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

add copyright header for c++
  doc/sources/topics-for-contributors.rst
Due: .ci/pipeline/docs.yml

rename tbb -> onetbb
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

fixes and formatting
  examples/sklearnex/incremental_covariance_spmd.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/tests/test_data.py
  tests/run_examples.py
Due: .ci/pipeline/nightly.yml

isort
  examples/daal4py/readcsv.py
  examples/mb/readcsv.py
Due: .ci/pipeline/nightly.yml

rename OneTBB -> oneTBB
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

werror for examples (#2756)
  examples/daal4py/readcsv.py
  examples/mb/readcsv.py
  examples/sklearnex/knn_bf_classification_spmd.py
  onedal/_device_offload.py
  tests/run_examples.py
Due: .ci/pipeline/nightly.yml

`n_jobs` support details in docs
  doc/sources/index.rst
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Address comments
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Fixes for doc page
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Fix indent
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: .ci/pipeline/nightly.yml

Test sklearn nightly status
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

fixes and temporary patches
  daal4py/sklearn/metrics/_pairwise.py
  sklearnex/svm/_common.py
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

lint
  sklearnex/svm/_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
