Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

restore data movements for train_test_split in older sklearn
  sklearnex/model_selection/split.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

correct number
  sklearnex/model_selection/split.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Restore data movements in `train_test_split` (#3185)
  sklearnex/model_selection/split.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

drop mkl-dpcpp as it gets installed with dal-gpu
  .ci/pipeline/build-and-test-lnx.yml
  .github/renovate.json
Due: .ci/pipeline/nightly.yml

address comments
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

debug
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

restore debug
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

Apply suggestion from @david-cortes-intel
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

add argument to parameter validation
  daal4py/sklearn/model_selection/_split.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix
  daal4py/sklearn/model_selection/_split.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more details
  doc/sources/additional_parameters.rst
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml

add TODO notes and futureproof for sklearn1.10
  daal4py/sklearn/linear_model/logistic_path.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: Fix warning about unused n_jobs in LogisticRegression from newer scikit-learn (#3163)
  daal4py/sklearn/linear_model/logistic_path.py
  deselected_tests.yaml
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't try to use global queue where not appropriate
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

document lack of support for moving estimators (#3183)
  doc/sources/array_api.rst
  doc/sources/unsupported.rst
Due: .ci/pipeline/docs.yml

mention n_jobs as additional parameter
  doc/sources/additional_parameters.rst
Due: .ci/pipeline/docs.yml

formatting
  doc/sources/additional_parameters.rst
Due: .ci/pipeline/docs.yml

fix typo (#3181)
  doc/sources/preview.rst
Due: .ci/pipeline/docs.yml

update links after changes in online docs (#3180)
  README.md
Due: .ci/pipeline/nightly.yml

use math rendering for intervals and numbers
  doc/sources/additional_parameters.rst
Due: .ci/pipeline/docs.yml

DOC: Add note about MKL dependency handling (#3170)
  doc/sources/conf.py
  doc/sources/index.rst
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

FIX, DOC: Fix different signature of `train_test_split` and document additional arguments (#3184)
  daal4py/sklearn/model_selection/_split.py
  doc/sources/additional_parameters.rst
  doc/sources/guide/acceleration.rst
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use libmamba solver
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

add mkl-dpcpp back in as temporary measure
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

Comment on version constraint and dpnp cf
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

don't pass queue where not needed
  onedal/linear_model/linear_model.py
Due: .ci/pipeline/nightly.yml

remove unneeded import
  onedal/linear_model/linear_model.py
Due: .ci/pipeline/nightly.yml

remove unneeded import
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

document lack of support sparse torch arrays
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

Apply suggestion from @ethanglaser
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

Fix
  sklearnex/linear_model/linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove redundant checks
  sklearnex/linear_model/tests/test_mixed_inputs.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
