Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

more clear test
  daal4py/sklearn/linear_model/tests/test_enet.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

mention that multi-target is supported, add tests for it
  daal4py/sklearn/linear_model/tests/test_enet.py
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add clickable links in supported input docs (#2711)
  doc/sources/conf.py
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

add note about handling of masked arrays (#2710)
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

update: update neighbors.py to use pybind11 instead of daal4py (#2284)
  onedal/neighbors/neighbors.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

refactor: move/delete some methods in neighbors.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: try it again
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: try it again
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: try it again
  sklearnex/neighbors/common.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: first round of refactor move preprocssing function to sklearnex
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix shape
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

rebase: rebase to main
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add fit emthod logic in onedla
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

fix: fix test
  onedal/neighbors/neighbors.py
  onedal/neighbors/tests/test_knn_classification.py
Due: .ci/pipeline/nightly.yml

missing word
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

DOC: Add daal4py elasticnet classes to API reference list (#2712)
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

FIX: Don't prevent oneDAL usage with non-PSD elasticnet/lasso (#2713)
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/tests/test_enet.py
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix tupleerror
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect more cases that fail due to same bug
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

more required deselections
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

use intersphinx linkage for onedal docs
  doc/sources/about_daal4py.rst
  doc/sources/conf.py
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

typo
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

fix: fix tuple issue
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

print: print fit_x
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect more cases that fail due to same bug (#2718)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

MAINT: Use intersphinx linkage to oneDAL docs (#2717)
  doc/sources/about_daal4py.rst
  doc/sources/conf.py
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

remove incorrect note about array-api-compat
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

DOC: Describe behaviors from array API (#2707)
  doc/sources/algorithms.rst
  doc/sources/array_api.rst
  doc/sources/conf.py
  doc/sources/substitutions.rst
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

Update renovate.json
  .github/renovate.json
Due: .ci/pipeline/nightly.yml

Update install_dpcpp.sh
  .ci/scripts/install_dpcpp.sh
Due: .ci/pipeline/nightly.yml

clarify details on gpu support, remove references to dpctl arrays
  doc/sources/array_api.rst
  doc/sources/config-contexts.rst
  doc/sources/distributed-mode.rst
  doc/sources/index.rst
  doc/sources/input-types.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/substitutions.rst
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

formatting
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fixed tuple
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix tuple
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml
