Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

remove sparse checks for sample_weight
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Fix azp docbuild by skipping medium linkcheck (#2830)
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

modify env. variable in other scrips too (#2824)
  .circleci/run_xpu_tests.py
Due: .ci/pipeline/nightly.yml

FIX: Allow KNN with missing values (#2822)
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect test that fails due to small numeric differences (#2823)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

use conda list instead of pip list (#2618)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
Due: .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Update doc/sources/support.rst
  doc/sources/support.rst
Due: .ci/pipeline/docs.yml

rename files and update links
  .github/Pull_Request_template.md
  README.md
  doc/sources/contributor-reference.rst
  doc/sources/index.rst
  tests/util_compare_json_reports.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix error
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

check for older versions
  daal4py/sklearn/manifold/_t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[enhancement] Enable Array API in ensemble algos (#2201)
  deselected_tests.yaml
  doc/sources/array_api.rst
  onedal/ensemble/forest.py
  onedal/ensemble/tests/test_random_forest.py
  sklearnex/ensemble/_forest.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't deselect valid conformance tests
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix
  daal4py/sklearn/manifold/_t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

better message
  daal4py/sklearn/manifold/_t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update deselections
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix bad merge conflict solves
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix again
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix for older sklearn
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for older versions
  deselected_tests.yaml
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

limit scope of deselections
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

FIX: Fix KNN predictions on `X=None` (#2821)
  deselected_tests.yaml
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix for older sklearn
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Revert "fix for older sklearn"
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

py3.14 compatibility
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

try another way
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

add new dependency also to conda recipe
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

[maintenance] change logic in sklearnex `get_namespace` to follow sklearn array API expected behavior (#2747)
  sklearnex/utils/_array_api.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unused imports (#2733)
  onedal/covariance/incremental_covariance.py
  onedal/datatypes/_dlpack.py
  onedal/decomposition/incremental_pca.py
  onedal/decomposition/pca.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/decomposition/pca.py
  sklearnex/linear_model/linear.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

correction about impi package names (#2810)
  doc/sources/distributed-mode.rst
  doc/sources/distributed_daal4py.rst
Due: .ci/pipeline/docs.yml

show sklearn config in CI jobs
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
Due: .ci/pipeline/nightly.yml

don't install unused mpich
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
Due: .ci/pipeline/nightly.yml

ensure default compiler is used
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

unpatch during test
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

Add comment
  requirements-test.txt
Due: .ci/pipeline/nightly.yml
