Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Deselections for scikit 1.7 private CI
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Deselections for scikit 1.7 private CI (#2699)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Address some comments
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

enh: enable array api in neighbors
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestion from @david-cortes-intel
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

remove double assignment
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

remove double assignment (#2703)
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

make review changes
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

swap some testing
  sklearnex/utils/tests/test_class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

change to a generator
  sklearnex/utils/tests/test_class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

continue working
  onedal/svm/svm.py
  onedal/svm/tests/test_svr.py
Due: .ci/pipeline/nightly.yml

cutting at tests
  onedal/svm/tests/test_svc.py
Due: .ci/pipeline/nightly.yml

Update test_class_weight.py
  sklearnex/utils/tests/test_class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update docs about GPU arrays
  doc/sources/index.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

address comments
  onedal/spmd/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

Add NearestNeighbors SPMD API (#2557)
  onedal/neighbors/neighbors.py
  onedal/spmd/neighbors/__init__.py
  onedal/spmd/neighbors/neighbors.py
  sklearnex/spmd/neighbors/__init__.py
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update class_weight.py
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update requirements-doc.txt
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

formatting
  sklearnex/utils/tests/test_class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix len interaction with array_api_strict
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

make check for sklearn 1.7 in testing
  sklearnex/utils/tests/test_class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

another fix
  sklearnex/utils/tests/test_class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

updates
  onedal/svm/tests/test_svc.py
  onedal/svm/tests/test_svr.py
Due: .ci/pipeline/nightly.yml

fix initial errors
  onedal/svm/svm.py
Due: .ci/pipeline/nightly.yml

update docs about GPU arrays (#2704)
  doc/sources/index.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

update array api docs to reflect current situation
  doc/sources/algorithms.rst
  doc/sources/array_api.rst
  doc/sources/conf.py
  doc/sources/substitutions.rst
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

remove class_count
  onedal/svm/tests/test_nusvc.py
Due: .ci/pipeline/nightly.yml

reword
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

add basic tests to dummy sklearnex estimator
  sklearnex/dummy/_dummy.py
  sklearnex/dummy/tests/test_dummy.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

correct behavior around target offload with array api
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

fix more tests
  onedal/svm/tests/test_svc.py
  onedal/svm/tests/test_svr.py
Due: .ci/pipeline/nightly.yml

remove redundant asterisk
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

fix link
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

fix more tests
  onedal/svm/tests/test_nusvc.py
  onedal/svm/tests/test_svc.py
  onedal/svm/tests/test_svr.py
Due: .ci/pipeline/nightly.yml

remove redundant asterisk (#2708)
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Update test_dummy.py
  sklearnex/dummy/tests/test_dummy.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[enh] add array API enabled ```compute_class_weight``` function for use in classifier estimators (#2697)
  sklearnex/utils/class_weight.py
  sklearnex/utils/tests/test_class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
