Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Update __init__.py
  sklearnex/preview/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

black
  .circleci/deselect_tests.py
Due: .ci/pipeline/nightly.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Restore get_scipy_version and set to 1.10 for skl1.0
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/scripts/get_compatible_scipy_version.py
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

fix: pass tolerance as local variable instead of storing as self._tol
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

Revert "fix: pass tolerance as local variable instead of storing as self._tol"
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

Update _data.py
  sklearnex/preview/preprocessing/_data.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix from_table producing outputs in different devices
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

don't convert dtypes to avoid casting integers
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

distributions removals
  doc/sources/daal4py.rst
  examples/daal4py/distributions_bernoulli.py
  examples/daal4py/distributions_normal.py
  examples/daal4py/distributions_uniform.py
  generator/wrappers.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  generator/wrappers.py
Due: .ci/pipeline/nightly.yml

experiment
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

more experiments
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

fixes
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

FIX : Fix `from_table` producing outputs in different devices (#3021)
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

Deselect incompatible sklearn 1.0 / scipy 1.10 test
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix: remove PCA and IncrementalEmpiricalCovariance from output skip list after #3021
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: skip PCA.score_samples and covariance.mahalanobis output check when array_api_dispatch is off
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Add output conversion to support_sycl_format
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

fix: add IncrementalEmpiricalCovariance.mahalanobis to dtype skip list
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add output conversion to support_sycl_format, remove skip list
  onedal/_device_offload.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update incremental_basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/nightly.yml

Fix issue #1000: Predict and Scoring Bug in sklearnex.svm (bug_fix)
  bugfix_1000.py
Due: .ci/pipeline/nightly.yml

Removals: distributions from daal4py (#3022)
  doc/sources/daal4py.rst
  examples/daal4py/distributions_bernoulli.py
  examples/daal4py/distributions_normal.py
  examples/daal4py/distributions_uniform.py
  generator/wrappers.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for pandas
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

docs: fix link for pandas (#3025)
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

init commit for removals
  daal4py/sklearn/cluster/k_means.py
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/ensemble/_forest.py
  doc/sources/daal4py.rst
  examples/daal4py/decision_forest_classification_default_dense.py
  examples/daal4py/decision_forest_classification_hist.py
  examples/daal4py/decision_forest_regression_default_dense.py
  examples/daal4py/decision_forest_regression_hist.py
  generator/format.py
  generator/wrapper_gen.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
