Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

fixes
  sklearnex/cluster/hdbscan.py
  sklearnex/spmd/cluster/hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  sklearnex/cluster/hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unused import
  sklearnex/neighbors/_lof.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX, MAINT: Implement 'everything follows X' and namespace checks for KNN (#3127)
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document new variables
  doc/sources/contributor-reference.rst
Due: .ci/pipeline/docs.yml

Update onedal/basic_statistics/incremental_basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/nightly.yml

MAINT: Implement 'everything follows X' for BasicStatistics (#3142)
  onedal/basic_statistics/incremental_basic_statistics.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update python version used for docs (#3156)
  .github/workflows/docs-release.yml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

MAINT: Deselections for new tests in scikit-learn1.9 (#3146)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fixes
  onedal/cluster/hdbscan.py
  onedal/spmd/cluster/hdbscan.py
  sklearnex/cluster/hdbscan.py
  sklearnex/spmd/cluster/hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  onedal/cluster/hdbscan.py
  sklearnex/cluster/hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

pass required argument during onedal tests
  onedal/basic_statistics/tests/test_incremental_basic_statistics.py
Due: .ci/pipeline/nightly.yml

fix for older numpy
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

missing import
  sklearnex/basic_statistics/tests/test_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Pass required argument to IncrementalBasicStatistics during onedal tests (#3161)
  onedal/basic_statistics/tests/test_incremental_basic_statistics.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

check for namespace and device compatibility (#3149)
  sklearnex/cluster/k_means.py
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix creation of onedal objects on the fly
  onedal/linear_model/linear_model.py
  sklearnex/linear_model/_base_linear_model.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/ridge.py
  sklearnex/linear_model/tests/test_linear_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add copyright header
  sklearnex/linear_model/_base_linear_model.py
  sklearnex/linear_model/tests/test_linear_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix onedal tests
  onedal/linear_model/tests/test_incremental_linear_regression.py
  onedal/linear_model/tests/test_linear_regression.py
Due: .ci/pipeline/nightly.yml

fix for older numpy
  onedal/linear_model/linear_model.py
Due: .ci/pipeline/nightly.yml

fix warning about n_jobs in logreg
  daal4py/sklearn/linear_model/logistic_path.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix for older sklearn
  sklearnex/linear_model/tests/test_linear_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect test where expected behavior differs
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

implement namespace and device checks for logistic regression
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

conda-recipe support for split
  conda-recipe/build.sh
  conda-recipe/meta.yaml
  conda-recipe/pack.sh
Due: .ci/pipeline/nightly.yml

Migrate external deps to system include
  scripts/CMakeLists.txt
Due: .ci/pipeline/nightly.yml

more comments
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix for sparse coefficients
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix again
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

address comment about system python/numpy include
  scripts/CMakeLists.txt
Due: .ci/pipeline/nightly.yml

apply same system include workaround
  scripts/CMakeLists.txt
Due: .ci/pipeline/nightly.yml

Install pip, etc. on conda create step
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

refactor conda build steps
  .ci/pipeline/conda-recipe-lnx.yml
  .ci/pipeline/conda-recipe-win.yml
Due: .ci/pipeline/nightly.yml

Apply suggestion from @ethanglaser
  dependencies-dev
Due: .ci/pipeline/nightly.yml

add note about mkl symbols
  doc/sources/index.rst
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

update package indexes
  doc/sources/tests.rst
Due: .ci/pipeline/docs.yml

more clarifications about dpnp behavior
  doc/sources/array_api.rst
  doc/sources/input-types.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml
