Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

try moving dpcpp_rt dependency
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

remove hack on config
  onedal/utils/_sycl_queue_manager.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestions from code review
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

make suggested changes
  sklearnex/_device_offload.py
  sklearnex/_utils.py
  sklearnex/base.py
  sklearnex/tests/test_run_to_run_stability.py
  sklearnex/utils/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try removing dpcpp_rt from conda test requirements
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

fix import in test_patching
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_patching.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update build-and-test-lnx.yml
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

FIX, MAINT: Migrate model builders tests to pytest + bugfixes (#2419)
  daal4py/mb/gbt_convertors.py
  daal4py/mb/tree_based_builders.py
  doc/sources/daal4py.rst
  doc/sources/model_builders.rst
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use tabs for different ways of showcasing usage
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml

startup
  onedal/common/sycl_interfaces.hpp
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.hpp
  onedal/datatypes/table.cpp
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

Apply suggestions from code review
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

raise an error when arguments are not provided as list
  onedal/tests/utils/_device_selection.py
Due: .ci/pipeline/nightly.yml

Apply suggestions from code review
  onedal/_device_offload.py
  sklearnex/_device_offload.py
  sklearnex/_utils.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

formatting and ABC change
  sklearnex/base.py
  sklearnex/svm/_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add link argument for no intel libs
  setup.py
Due: .ci/pipeline/nightly.yml

don't forcibly set compiler to ICX for D4P, don't link to intel libs
  scripts/build_backend.py
  setup.py
Due: .ci/pipeline/nightly.yml

better experiment
  setup.py
Due: .ci/pipeline/nightly.yml

fix gpu test
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

refactor from_table
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/sycl_usm/data_conversion.cpp
  onedal/datatypes/table.cpp
Due: .ci/pipeline/nightly.yml

Update _data_conversion.py
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

Update data_conversion.hpp
  onedal/datatypes/sycl_usm/data_conversion.hpp
Due: .ci/pipeline/nightly.yml

Update dbscan.py
  onedal/cluster/dbscan.py
Due: .ci/pipeline/nightly.yml

Update base.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update covariance.py
  onedal/covariance/covariance.py
Due: .ci/pipeline/nightly.yml

Update linear_model.py
  onedal/linear_model/linear_model.py
Due: .ci/pipeline/nightly.yml

Update logistic_regression.py
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

Update forest.py
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

Update incremental_linear_model.py
  onedal/linear_model/incremental_linear_model.py
Due: .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
