Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

force output to a 0d
  sklearnex/covariance/incremental_covariance.py
  sklearnex/preview/covariance/covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try to fix test'
  sklearnex/covariance/tests/test_incremental_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

updates
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/preview/covariance/covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[Enhancement] enable array API support in ```EmpiricialCovariance``` and ```IncrementalEmpiricalCovariance``` (#2207)
  onedal/covariance/covariance.py
  onedal/covariance/incremental_covariance.py
  onedal/covariance/tests/test_covariance.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/preview/covariance/covariance.py
  sklearnex/spmd/covariance/covariance.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/utils/_array_api.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add merge and fixes
  deselected_tests.yaml
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

swap based on comments
  onedal/decomposition/incremental_pca.py
Due: .ci/pipeline/nightly.yml

swap based on comments
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add numpy check
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

make testing changes
  onedal/decomposition/incremental_pca.py
  onedal/decomposition/tests/test_incremental_pca.py
Due: .ci/pipeline/nightly.yml

fix reuse of daal4py objects
  daal4py/mb/logistic_regression_builders.py
  doc/sources/about_daal4py.rst
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

linter
  doc/sources/about_daal4py.rst
Due: .ci/pipeline/docs.yml

Deselect PCA dtype test for sklearn=1.4
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Change comment
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Change deselection condition
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Move to public tests section
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update comment
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Set sklearnex verbosity to DEBUG in CI
  .ci/pipeline/ci.yml
Due: .ci/pipeline/nightly.yml

ENH: `PCA` via Array API based on #2096 (#2106)
  .ci/scripts/select_sklearn_tests.py
  deselected_tests.yaml
  onedal/decomposition/incremental_pca.py
  onedal/decomposition/pca.py
  onedal/decomposition/tests/test_incremental_pca.py
  sklearnex/decomposition/pca.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/spmd/decomposition/pca.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/tests/test_common.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use internal wrapper as method for prediction object
  daal4py/mb/logistic_regression_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Avoid re-usage of non-reusable daal4py objects (#2665)
  daal4py/mb/logistic_regression_builders.py
  doc/sources/about_daal4py.rst
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Deselect PCA dtype test for sklearn=1.4 (#2666)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

prevent logloss from turning to inf in predictions (#2651)
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

update version requirement
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Fix error on decision function with GPU arrays (#2650)
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Sync conda recipe between the repo and conda-forge feedstock
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

Sync conda recipe between the repo and conda-forge feedstock (#2672)
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

add ridge to gpu support table
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

add ridge to gpu support table (#2673)
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

temporary deselections due to long-term bug in oneDAL
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update PR template
  .github/Pull_Request_template.md
Due: .ci/pipeline/docs.yml

Update PR template (#2675)
  .github/Pull_Request_template.md
Due: .ci/pipeline/docs.yml

try fallback to sklearnex cpu first, document full behavior
  doc/sources/array_api.rst
  doc/sources/conf.py
  doc/sources/substitutions.rst
  onedal/utils/_sycl_queue_manager.py
  requirements-doc.txt
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try lowering version
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

use simpler extension
  doc/sources/array_api.rst
  doc/sources/conf.py
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

fix link
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

MAINT: Temporarily deselect failing test until bug is fixed (#2674)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

don't change SCIPY_ARRAY_API at runtime
  .ci/scripts/run_sklearn_tests.py
  .circleci/run_xpu_tests.py
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
