Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Apply suggestion from @david-cortes-intel
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update check for new error message
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further simplification
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

workaround for nonwriteable arrays
  onedal/datatypes/_data_conversion.py
  sklearnex/tests/test_array_api_general.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove workaround in favor of more general one
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add copyright header
  sklearnex/tests/test_array_api_general.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

always expect error
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Revert "always expect error"
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes
  onedal/datatypes/tests/test_data.py
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix for dpctl exceptions
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  .github/workflows/ci.yml
  .github/workflows/sklearnex-testing-lnx.yml
  .github/workflows/sklearnex-testing-win.yml
  sklearnex/cluster/hdbscan.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try another pr
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

fixes
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

fixes and tests for mixed devices
  onedal/tests/utils/_device_selection.py
  sklearnex/_device_offload.py
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

move test to onedal
  onedal/datatypes/tests/test_data.py
  sklearnex/tests/test_array_api_general.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  .github/workflows/ci.yml
  sklearnex/cluster/hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

move writeable logic to pybind11
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

throw warning when trying to create a GPU queue without DPC module
  onedal/tests/utils/_device_selection.py
Due: .ci/pipeline/nightly.yml

fake commit
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

more specific error message checks
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

loosen tolerances for float32
  onedal/linear_model/tests/test_incremental_linear_regression.py
  onedal/linear_model/tests/test_linear_regression.py
Due: .ci/pipeline/nightly.yml

skip test on older numpy
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

reuse testing utilities
  onedal/tests/utils/_dataframes_support.py
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

restore back deleted comment
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document more testing utilities
  doc/sources/contributor-reference.rst
Due: .ci/pipeline/docs.yml

remove stale design rule violations for neighbors and LogisticRegressionCV
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove redundant entries for LogisticRegressionCV
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document version checker
  doc/sources/contributor-reference.rst
Due: .ci/pipeline/docs.yml

Fix CI: deselect store_centers, update leaf/allow_single_cluster tests
  sklearnex/cluster/hdbscan.py
  sklearnex/cluster/tests/test_hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix CI: guard all HDBSCAN imports for sklearn < 1.3
  onedal/cluster/hdbscan.cpp
  onedal/cluster/hdbscan.py
  sklearnex/cluster/__init__.py
  sklearnex/cluster/tests/test_hdbscan.py
  sklearnex/dispatcher.py
  sklearnex/spmd/cluster/__init__.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more checks
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test predict_proba
  sklearnex/ensemble/_forest.py
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more specific check for torch features
  onedal/tests/utils/_dataframes_support.py
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

simplify
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselections for skl19
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

missing condition
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't transfer data to host
  sklearnex/model_selection/split.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX, MAINT: Implement 'everything follows X' for decision forests (#3117)
  onedal/ensemble/forest.py
  onedal/tests/utils/_dataframes_support.py
  onedal/tests/utils/_device_selection.py
  sklearnex/_device_offload.py
  sklearnex/ensemble/_forest.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/utils/class_weight.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

namespace checks and movements for KNN
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
