Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Update _dataframes_support.py
  onedal/tests/utils/_dataframes_support.py
Due: .ci/pipeline/nightly.yml

Update conftest.py
  sklearnex/conftest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update run_test.sh
  conda-recipe/run_test.sh
Due: .ci/pipeline/nightly.yml

reword description about patching in preview
  doc/sources/preview.rst
Due: .ci/pipeline/docs.yml

Update conda-recipe-lnx.yml
  .ci/pipeline/conda-recipe-lnx.yml
Due: .ci/pipeline/nightly.yml

Update conda-recipe-win.yml
  .ci/pipeline/conda-recipe-win.yml
Due: .ci/pipeline/nightly.yml

Add grain_size hyperparameter into EmpiricalCovariance
  onedal/covariance/covariance.cpp
  sklearnex/preview/covariance/tests/test_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
