Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Minor follow up to test_memory_usage removal (#2910)
  doc/sources/contributor-reference.rst
Due: .ci/pipeline/docs.yml

Code format
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

Apply suggestions from code review
  AGENTS.md
  examples/AGENTS.md
  sklearnex/AGENTS.md
Due: .ci/pipeline/nightly.yml

fix: more clean up
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix fit
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Deselect sokalmichener tests
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update doc/sources/config-contexts.rst
  doc/sources/config-contexts.rst
Due: .ci/pipeline/docs.yml

FIX, DOC, MAINT: Separate patching maps from sklearnex and daal4py, use unique IDs for patched objects (#2899)
  .ci/scripts/test_global_patch.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  daal4py/sklearn/monkeypatch/tests/test_monkeypatch.py
  doc/sources/config-contexts.rst
  doc/sources/patching.rst
  examples/sklearnex/patch_sklearn.py
  sklearnex/dispatcher.py
  sklearnex/tests/test_monkeypatch.py
  sklearnex/tests/test_patching.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update installation instructions for current ecosystem
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

remove dead links
  doc/sources/tutorials.rst
Due: .ci/pipeline/docs.yml

reword
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Deprecate raw inputs
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove untested option to build without onedal
  doc/sources/building-from-source.rst
  setup.py
  sklearnex/__init__.py
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix SVM test_iris
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Make detection of nested parallelism look only at what joblib modifies (#2781)
  daal4py/sklearn/_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix spmd
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

fix: fix spmd test
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/spmd/neighbors/neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: format
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: lof tests
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update dependencies-dev
  dependencies-dev
Due: .ci/pipeline/nightly.yml

remove unused pydata theme
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

remove more unused dependencies
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

add test for thread locality
  sklearnex/tests/test_parallel.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip when no gpu is available
  sklearnex/tests/test_parallel.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove dead links (#2913)
  doc/sources/tutorials.rst
Due: .ci/pipeline/docs.yml

use barrier instead of sleep
  sklearnex/tests/test_parallel.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix import
  sklearnex/tests/test_parallel.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove inapplicable comment
  sklearnex/tests/test_parallel.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

correct name
  sklearnex/tests/test_parallel.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Make global queue objects thread-local (#2846)
  onedal/utils/_sycl_queue_manager.py
  sklearnex/_device_offload.py
  sklearnex/tests/test_config.py
  sklearnex/tests/test_parallel.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Introducing agents
  .ci/AGENTS.md
  AGENTS.md
  daal4py/AGENTS.md
  doc/AGENTS.md
  examples/AGENTS.md
  generator/AGENTS.md
  onedal/AGENTS.md
  sklearnex/AGENTS.md
  src/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

introcuding copilot isntructions
  .github/instructions/build-config.instructions.md
  .github/instructions/daal4py.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/onedal.instructions.md
  .github/instructions/sklearnex.instructions.md
  .github/instructions/src.instructions.md
  .github/instructions/tests.instructions.md
Due: .ci/pipeline/nightly.yml

Update tests/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

Removed version details from instructions
  .ci/AGENTS.md
  .github/instructions/build-config.instructions.md
  .github/instructions/general.instructions.md
  AGENTS.md
  examples/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

adressign code review comments
  .ci/AGENTS.md
  AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

adressing AGENTS.md fixes
  .ci/AGENTS.md
  AGENTS.md
  daal4py/AGENTS.md
  doc/AGENTS.md
  examples/AGENTS.md
  generator/AGENTS.md
  onedal/AGENTS.md
  sklearnex/AGENTS.md
  src/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Updating instructions
  .github/instructions/build-config.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/tests.instructions.md
  AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
