Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

standardize references to sycl
  doc/sources/serialization.rst
Due: .ci/pipeline/docs.yml

prefer links to parent pages
  doc/sources/algorithms.rst
  doc/sources/config-contexts.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

more links
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

fix: restore again
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: restpore
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: restore ad and add print
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: restore ad and add print
  sklearnex/neighbors/_lof.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix test as well
  onedal/neighbors/tests/test_knn_classification.py
Due: .ci/pipeline/nightly.yml

fix: fix test
  onedal/neighbors/tests/test_knn_classification.py
Due: .ci/pipeline/nightly.yml

fix: comment out validate data
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: refactoredclassifier prepressing to sklearnex
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add vlaidate data and see if it fix attributeerror
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix onedal test
  onedal/neighbors/neighbors.py
  onedal/neighbors/tests/test_knn_classification.py
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: dpm
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: refacto validate n classes
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: refacor kneighbors validation
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add vlaidation data to rest of the functions
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix check n neighbors validation before check is fitted
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix when predict(none) is called by adding x is not none check
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix lof
  sklearnex/neighbors/_lof.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add validation in kneihbors for lof
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

make recommended changes
  onedal/dummy/dummy.cpp
Due: .ci/pipeline/nightly.yml

fix: remove count valitation in onedal
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

fix: refactor shape
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[enhancement] Introduce DummyRegressor Estimator (prototype estimator for sklearnex design) (#2534)
  .ci/scripts/select_sklearn_tests.py
  onedal/__init__.py
  onedal/dal.cpp
  onedal/dummy/__init__.py
  onedal/dummy/dummy.cpp
  onedal/dummy/dummy.py
  onedal/dummy/dummy_onedal.hpp
  setup.py
  sklearnex/__init__.py
  sklearnex/dispatcher.py
  sklearnex/dummy/__init__.py
  sklearnex/dummy/_dummy.py
  sklearnex/dummy/tests/test_dummy.py
  sklearnex/tests/test_common.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/tests/test_n_jobs_support.py
  sklearnex/tests/test_patching.py
  sklearnex/tests/test_run_to_run_stability.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  sklearnex/_utils.py
  sklearnex/svm/__init__.py
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further fixes
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further fixes
  onedal/svm/svm.py
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

move things around
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _classes.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update dependencies-dev
  dependencies-dev
Due: .ci/pipeline/nightly.yml

fix calculate_class_weights
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

updates
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

refactor: neighbors processing logic to skleranex
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix bug with numpy devices
  sklearnex/svm/_base.py
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: validationeighbors < samples after +1
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix array API mismatch
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix assertion error
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix asswertion error by dispatch gpu/skl in sklearnex
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix array -> asarray
  onedal/svm/tests/test_csr_svm.py
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
