Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Update spmd example
  examples/sklearnex/logistic_regression_spmd.py
Due: .ci/pipeline/nightly.yml

Update fallbacks
  onedal/spmd/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/spmd/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Doc fixes
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

Change conversion in predict method
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update checks for array api input
  daal4py/sklearn/linear_model/logistic_path.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix several bugs:
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Ensure LogReg execution with raw inputs happens on GPU
  sklearnex/_device_offload.py
  sklearnex/spmd/linear_model/tests/test_logistic_regression_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix test_logistic_regression_array_api_compliance test failures
  deselected_tests.yaml
  onedal/_device_offload.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix error
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove redundant comments, minor updates
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix docs and enable decision function in spmd mode
  doc/sources/algorithms.rst
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Use from_table(like=X) in oneDAL KNN, add tuple guard in wrap_output_data
  onedal/neighbors/neighbors.py
  sklearnex/_device_offload.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix LOF _predict queue mismatch: create is_inlier on same sycl_queue
  sklearnex/neighbors/_lof.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: improve error message when DPC++ backend fails to load
  onedal/__init__.py
  onedal/common/_backend.py
Due: .ci/pipeline/nightly.yml

fix: use scikit-learn-intelex-gpu in conda install hint
  onedal/common/_backend.py
Due: .ci/pipeline/nightly.yml

lint: fix docstring style for throw_if_no_dpc_available
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

fix: rename to _ensure_dpc_available, always raise when backend is None, remove dead raise
  onedal/__init__.py
  onedal/common/_backend.py
Due: .ci/pipeline/nightly.yml

fix: refactor DPC++ load error into throw_if_no_dpc_available()
  onedal/__init__.py
  onedal/common/_backend.py
Due: .ci/pipeline/nightly.yml

docs: note Polars DataFrame support in supported input types
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

fix: only capture ImportError reason when .so file is present
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

Update onedal/__init__.py
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

fix: wrap long string to satisfy flake8 E501 (max-line-length=90)
  onedal/common/_backend.py
Due: .ci/pipeline/nightly.yml

revert: remove Polars line from input-types.rst (out of scope for this PR)
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

Replace __array_namespace__ with get_namespace in wrap_output_data
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove predict_proba output_dtype skip: dtype now preserved
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Handle int dtype in tuple results, remove KNN/LOF output_dtype skips
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix comment: remove multi-output predict_proba reference
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: use xp.asarray instead of _asarray in wrap_output_data for torch compatibility
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove KMeans cluster_centers_ skip from patching test, fix xp.clip dtype
  sklearnex/cluster/k_means.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: skip xp.asarray for scalar results in wrap_output_data
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update wrap_output method for Array API inputs
  onedal/linear_model/logistic_regression.py
  sklearnex/_device_offload.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix array-api-strict read-only array errors in kd_tree sorting and LOF predict
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

refactor: reuse backend binary presence check for Windows and load diagnostics
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

Call _set_effective_metric in _onedal_fit for SPMD use_raw_input path
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Simplify _process_classification_targets: remove redundant getattr guard
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove unreachable n_classes int64 overflow check
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix tests in test_patching
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add simple logreg array api test
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
