Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Update test_common.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _data_conversion.py
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

Update basic_statistics.py
  sklearnex/basic_statistics/basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update dbscan.py
  sklearnex/cluster/dbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update run_test.sh
  conda-recipe/run_test.sh
Due: .ci/pipeline/nightly.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

FIX: Fix table destructor not being called (#2540)
  onedal/datatypes/numpy/data_conversion.cpp
  onedal/datatypes/table.cpp
Due: .ci/pipeline/nightly.yml

update support table
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Update sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: Don't make inapplicable conditions block oneDAL usage in LogisticRegression (#2513)
  doc/sources/algorithms.rst
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

include necessary file
  doc/sources/preview.rst
Due: .ci/pipeline/docs.yml

starting point
  onedal/_device_offload.py
  onedal/common/tests/test_sycl.py
  onedal/datatypes/__init__.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/_sycl_usm.py
  onedal/datatypes/tests/common.py
  onedal/datatypes/tests/test_data.py
  onedal/ensemble/forest.py
  onedal/linear_model/logistic_regression.py
  onedal/tests/utils/_dataframes_support.py
  onedal/tests/utils/_device_selection.py
  onedal/utils/_array_api.py
  onedal/utils/_dpep_helpers.py
  onedal/utils/_sycl_queue_manager.py
  onedal/utils/_third_party.py
  sklearnex/_device_offload.py
  sklearnex/ensemble/_forest.py
  sklearnex/tests/test_common.py
  sklearnex/tests/test_memory_usage.py
  tests/run_examples.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

DOC: Reword description about patching in preview mode (#2491)
  doc/sources/non-scikit-algorithms.rst
  doc/sources/preview.rst
Due: .ci/pipeline/docs.yml

add parameters about batched/non-batched route for covariance and PCA
  onedal/covariance/covariance.cpp
  onedal/decomposition/pca.cpp
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/covariance/tests/test_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

reword 'gpgpu drivers' -> 'compute runtime'
  doc/sources/oneapi-gpu.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

Update _sycl_queue_manager.py
  onedal/utils/_sycl_queue_manager.py
Due: .ci/pipeline/nightly.yml

Update _third_party.py
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

Create _dlpack.py
  onedal/datatypes/_dlpack.py
Due: .ci/pipeline/nightly.yml

Update __init__.py
  onedal/datatypes/__init__.py
Due: .ci/pipeline/nightly.yml

Update sycl.cpp
  onedal/common/sycl.cpp
Due: .ci/pipeline/nightly.yml

Update _dlpack.py
  onedal/datatypes/_dlpack.py
Due: .ci/pipeline/nightly.yml

Update _device_offload.py
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

clean up
  onedal/datatypes/_dlpack.py
  onedal/utils/_sycl_queue_manager.py
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml
