Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

missing period
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

more links
  doc/sources/serialization.rst
Due: .ci/pipeline/docs.yml

Align test reqs with feedstock
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

[enhancement] enable `assume_finite` sklearn config support in sklearnex via `assert_all_finite` (#3252)
  sklearnex/utils/tests/test_validation.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update __init__.py (#3249)
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

[maintenance] remove local copy of sklearn's `check_classification_targets` in `onedal.utils.validation` (#3245)
  onedal/utils/validation.py
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update deselected_tests.yaml (#3244)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

[maintenance] Update maintainer list on mergify and conda yml files (#3241)
  .github/.mergify.yml
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

Add transform_output value-equivalence tests across input types and offload
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove assume_finite from unsupported list
  doc/sources/unsupported.rst
Due: .ci/pipeline/docs.yml

[maintenance] delete `support_input_format` from `onedal.spmd` estimators (#3247)
  onedal/spmd/basic_statistics/basic_statistics.py
  onedal/spmd/cluster/kmeans.py
  onedal/spmd/covariance/covariance.py
  onedal/spmd/decomposition/pca.py
  onedal/spmd/linear_model/linear_model.py
  onedal/spmd/linear_model/logistic_regression.py
  onedal/spmd/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

Guard transform_output tests for sklearn>=1.2
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update numpy array api skip logic + formatting
  daal4py/sklearn/_n_jobs_support.py
  daal4py/sklearn/cluster/k_means.py
  daal4py/sklearn/decomposition/_pca.py
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/_linear.py
  daal4py/sklearn/metrics/_pairwise.py
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/model_selection/_split.py
  daal4py/sklearn/neighbors/_classification.py
  daal4py/sklearn/neighbors/_regression.py
  daal4py/sklearn/utils/validation.py
  sklearnex/decomposition/pca.py
  sklearnex/dispatcher.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/ridge.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/tests/test_patching.py
  sklearnex/tests/test_run_to_run_stability.py
  sklearnex/utils/_array_api.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

black
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/manifold/_t_sne.py
  sklearnex/base.py
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

clarify that last 4 sklearn versions are supported
  doc/sources/about.rst
Due: .ci/pipeline/docs.yml

conda-recipe support for split (#3165)
  conda-recipe/bld.bat
  conda-recipe/build.sh
  conda-recipe/meta.yaml
  conda-recipe/pack.bat
  conda-recipe/pack.sh
Due: .ci/pipeline/nightly.yml

Restore forest deselection
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Move torch import to module level in kmeans tests
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update SVM weights move_to type
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

reword definition of support
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

format
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Update _device_offload.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_config.py
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _sycl_queue_manager.py
  onedal/utils/_sycl_queue_manager.py
Due: .ci/pipeline/nightly.yml

add torch tensor support to array api dispatch
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

clarify that last 4 sklearn versions are supported (#3260)
  doc/sources/about.rst
Due: .ci/pipeline/docs.yml

DOC: Reword description of supported algorithms (#3261)
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fixes
  sklearnex/_device_offload.py
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix logic
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update run_xpu_tests.py
  .circleci/run_xpu_tests.py
Due: .ci/pipeline/nightly.yml

Update pca.py
  onedal/spmd/decomposition/pca.py
Due: .ci/pipeline/nightly.yml

Update _device_offload.py
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

Update split.py
  sklearnex/model_selection/split.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
