Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

update installation instructions for current ecosystem (#2912)
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

FIX: Update calls to internal forest methods from sklearn to 1.9 signatures (#2963)
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselections due to lack of unique solutions
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

reuse internal function for checking versions
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect test that depends on compile toolkit
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fall back on unsupported bootstrapping beyond 100%
  doc/sources/algorithms.rst
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Deselect failing one label SVC conformance test
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

remove unused import (#2956)
  examples/sklearnex/logistic_regression_spmd.py
Due: .ci/pipeline/nightly.yml

update signature for check_sample_weight (#2967)
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document lack of support for nan and inf (#2968)
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fall back to sklearn directly from unsupported AUROC
  daal4py/sklearn/metrics/_ranking.py
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

apply updated isort
  daal4py/sklearn/linear_model/logistic_path.py
  sklearnex/_utils.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect test that depends on compile toolkit (#2982)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Remove n_iter_ from _INTEGER_FITTED_ATTRS (no-op, dtype check already skips non-float)
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: address review feedback - memory leak, validation, and robustness
  onedal/cluster/kmeans.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add compat fallback for is_clusterer/is_regressor (sklearn < 1.6)
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: address David's review feedback on neighbors
  sklearnex/neighbors/common.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add PCA.singular_values_ to FITTED_ATTR_NUMPY_OK
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add PCA.explained_variance_ratio_ to FITTED_ATTR_NUMPY_OK
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove unnecessary comments in common.py
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: use concat with concatenate fallback for numpy < 2
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove unnecessary comment in _asarray
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

fix: restore fit_predict and fit_transform on onedal KMeans
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

Remove test_pickle: dpnp/dpctl arrays cannot be pickled
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fall back on unsupported bootstrapping beyond 100% (#2984)
  doc/sources/algorithms.rst
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: Avoid passing unsupported SciPy arguments on old sklearn versions (#2979)
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Revert "Update dependency pybind11 to v3.0.2 (#2950)"
  dependencies-dev
Due: .ci/pipeline/nightly.yml

don't interpret float max_samples as int in older sklearn
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestion from @david-cortes-intel
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

changes after new sklearn methodology of using weights in bootstrapping (#2965)
  doc/sources/algorithms.rst
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

follow sklearn's criterion translation
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix incorrect name of function in docs
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Remove redundant comments, minor updates
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix several bugs:
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Align Logistic Regression SPMD estimator with LinReg SPMD estimator
  onedal/linear_model/logistic_regression.py
  onedal/spmd/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/spmd/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Initial refactoring of LogReg
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update spmd example
  examples/sklearnex/logistic_regression_spmd.py
Due: .ci/pipeline/nightly.yml

Revert "Update dependency pybind11 to v3.0.2 (#2950)" (#2987)
  dependencies-dev
Due: .ci/pipeline/nightly.yml

error out on single class for SVM after weights
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
