Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

fixes for sklearn1.0
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try removing workarounds that might not be needed:
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try more dispatching conditions
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more conditions
  daal4py/sklearn/linear_model/logistic_path.py
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix parentheses
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try removing potentially unneeded conditions
  daal4py/sklearn/linear_model/logistic_path.py
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove patching tests for logreg cv
  daal4py/sklearn/monkeypatch/tests/_models_info.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try adding back logreg cv
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/monkeypatch/tests/_models_info.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update dependencies-dev
  dependencies-dev
Due: .ci/pipeline/nightly.yml

Force test with numpy 2.3.5
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Fix for numpy 2.4 scalar conversion
  daal4py/sklearn/svm/svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove cv version again
  daal4py/sklearn/monkeypatch/tests/_models_info.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update doc/sources/building-from-source.rst
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

Update doc/sources/tests.rst
  doc/sources/tests.rst
Due: .ci/pipeline/docs.yml

link to test requirements file
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

more explicit requirements
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

workarounds for old python versions
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

Fix for numpy 2.4 scalar conversion (#2868)
  daal4py/sklearn/svm/svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for older python
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/scripts/print_skl_info.py
Due: .ci/pipeline/nightly.yml

add license header
  .ci/scripts/print_skl_info.py
Due: .ci/pipeline/nightly.yml

patch also logreg cv
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  doc/sources/algorithms.rst
  sklearnex/dispatcher.py
  sklearnex/linear_model/__init__.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/tests/test_common.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add necessary dependency
  setup.py
Due: .ci/pipeline/nightly.yml

add also to test requirements
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

add also to recipe
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

Update doc/sources/distributed-mode.rst
  doc/sources/distributed-mode.rst
Due: .ci/pipeline/docs.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

FIX: Match function signatures and default arguments for LogisticRegression in sklearn1.8 (#2863)
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/monkeypatch/tests/_models_info.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
