Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

clang formatting
  onedal/primitives/tree_visitor.cpp
Due: .ci/pipeline/nightly.yml

Update _forest.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

return values, and reduce test
  sklearnex/tests/test_n_jobs_support.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update oneapi-gpu.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Update quick-start.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

Update doc/daal4py/scaling.rst
  doc/daal4py/scaling.rst
Due: .ci/pipeline/docs.yml

fix various formatting issues
  doc/daal4py/index.rst
  doc/daal4py/model-builders.rst
  doc/daal4py/scaling.rst
Due: .ci/pipeline/docs.yml

document full extent of extension estimators
  doc/sources/non-scikit-algorithms.rst
  sklearnex/linear_model/incremental_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use common variable for serialization note
  sklearnex/_utils.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix leading whitespace on py313
  daal4py/sklearn/_n_jobs_support.py
  sklearnex/_utils.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix spacing again
  sklearnex/_utils.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update onedal/__init__.py
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

chore: clean up utils/__init__.py
  onedal/basic_statistics/basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
  onedal/cluster/dbscan.py
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_init.py
  onedal/covariance/covariance.py
  onedal/covariance/incremental_covariance.py
  onedal/decomposition/incremental_pca.py
  onedal/ensemble/forest.py
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/logistic_regression.py
  onedal/neighbors/neighbors.py
  onedal/primitives/kernel_functions.py
  onedal/svm/svm.py
  onedal/utils/__init__.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/cluster/k_means.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/ridge.py
  sklearnex/neighbors/common.py
  sklearnex/svm/_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

syclqueuemanager as module
  onedal/_device_offload.py
  onedal/basic_statistics/incremental_basic_statistics.py
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_init.py
  onedal/common/_backend.py
  onedal/covariance/incremental_covariance.py
  onedal/decomposition/incremental_pca.py
  onedal/ensemble/forest.py
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/logistic_regression.py
  onedal/neighbors/neighbors.py
  onedal/primitives/kernel_functions.py
  onedal/svm/svm.py
  onedal/utils/_sycl_queue_manager.py
  onedal/utils/validation.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add documentation for settings and helper functions in daal4py
  doc/daal4py/conf.py
  doc/daal4py/contents.rst
  doc/daal4py/helpers.rst
  doc/daal4py/scaling.rst
  generator/wrapper_gen.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document model builders
  daal4py/mb/__init__.py
  daal4py/mb/model_builders.py
  doc/daal4py/conf.py
  doc/daal4py/model-builders.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add copyright header
  doc/daal4py/helpers.rst
Due: .ci/pipeline/docs.yml

more details
  generator/wrapper_gen.py
Due: .ci/pipeline/nightly.yml

add note about regression objectives
  daal4py/mb/model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

take docstrings from sklearn
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

clean up comment
  onedal/utils/_sycl_queue_manager.py
Due: .ci/pipeline/nightly.yml

change logger name
  onedal/common/_backend.py
Due: .ci/pipeline/nightly.yml

apply link functions to intercepts in model builders
  src/gbt_convertors.pyx
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

updates to reflect behavior after fixing xgb intercept issue
  daal4py/mb/model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update sklearnex/_utils.py
  sklearnex/_utils.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

cleanup
  onedal/common/tests/test_sycl.py
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

cover also pseudologistic
  src/gbt_convertors.pyx
Due: .ci/pipeline/nightly.yml

document behavior for pseudologistic
  daal4py/mb/model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add explanation about global setting
  generator/wrapper_gen.py
Due: .ci/pipeline/nightly.yml

Remove separate y dtype validation
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Modify `validate_data` calls in ensemble
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update call_validate_data design rule
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove duplicated property
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add comments; remove unused imports
  onedal/utils/validation.py
  sklearnex/linear_model/linear.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Unify tags handling
  daal4py/sklearn/utils/validation.py
  sklearnex/_device_offload.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/svm/_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update docstrings and comment for validation functions
  daal4py/sklearn/utils/validation.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Linting
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
