Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

removing reg
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

fix merge errors
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

Update _n_jobs_support.py
  daal4py/sklearn/_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use shorter call for setters
  onedal/linear_model/linear_model.cpp
Due: .ci/pipeline/nightly.yml

Update test_run_to_run_stability.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Rewrite validate_data; avoid duplication of feature checks
  sklearnex/ensemble/_forest.py
  sklearnex/svm/_common.py
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Modify `validate_data` calls in ensemble
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Return scipy version selection for sklearn 1.0; Revert onedal ridge changes
  .ci/scripts/get_compatible_scipy_version.py
  onedal/linear_model/linear_model.py
Due: .ci/pipeline/nightly.yml

Update validate_data test
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't skip whole test on onedal<2025.5
  sklearnex/linear_model/tests/test_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update docstrings and comment for validation functions
  daal4py/sklearn/utils/validation.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Unify tags handling
  daal4py/sklearn/utils/validation.py
  sklearnex/_device_offload.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/svm/_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove onedal as allowed module name
  sklearnex/tests/test_monkeypatch.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Deselection for forest RNG oneDAL update
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

some review commments
  onedal/primitives/kernel_functions.py
  onedal/svm/svm.py
Due: .ci/pipeline/nightly.yml

spmd forest should not have been deleted
  onedal/spmd/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

Remove separate y dtype validation
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

adding onedal substitution
  doc/daal4py/conf.py
Due: .ci/pipeline/docs.yml

minor fix
  onedal/decomposition/pca.cpp
  onedal/decomposition/pca.py
  onedal/decomposition/tests/test_incremental_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

minor fix
  onedal/decomposition/pca.cpp
Due: .ci/pipeline/nightly.yml

Update call_validate_data design rule
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Linting
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix for validate_data test
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

reduce duplicated code
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.hpp
  onedal/datatypes/dlpack/dlpack_utils.cpp
  onedal/datatypes/dlpack/dlpack_utils.hpp
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

fix spacing
  doc/sources/index.rst
  doc/sources/kaggle/automl.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

fix mistake
  onedal/datatypes/dlpack/dlpack_utils.cpp
Due: .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

more review comments
  onedal/utils/validation.py
  pyproject.toml
Due: .ci/pipeline/nightly.yml

fix backend name
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

remove backslash where it shouldn't be
  generator/parse.py
Due: .ci/pipeline/nightly.yml

fix example
  doc/daal4py/scaling.rst
Due: .ci/pipeline/docs.yml

fix in tree weights
  onedal/primitives/tree_visitor.cpp
Due: .ci/pipeline/nightly.yml

remove whitespace
  .pre-commit-config.yaml
  onedal/primitives/tree_visitor.cpp
Due: .ci/pipeline/nightly.yml

fix removal
  .pre-commit-config.yaml
Due: .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
