Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Update test_model_builders.py
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

fix: went through all algos
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Update _device_offload.py
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

Update _data_conversion.py
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

Update __init__.py
  onedal/datatypes/__init__.py
Due: .ci/pipeline/nightly.yml

Update run_sklearn_tests.sh
  .ci/scripts/run_sklearn_tests.sh
Due: .ci/pipeline/nightly.yml

Update validation.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update table.cpp
  onedal/datatypes/table.cpp
Due: .ci/pipeline/nightly.yml

fix: use upload github action to public site (#2459)
  .github/scripts/doc_release.sh
  .github/workflows/docs-release.yml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: .ci/pipeline/nightly.yml

fix: address comments
  doc/sources/algorithms.rst
  sklearnex/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix move incremental imiltaiton under notes
  sklearnex/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add notes in other incremental algos
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: sklearn < 1.5
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix: removed versions
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Update doc/sources/algorithms.rst
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix: various chagnes based on comments
  doc/sources/algorithms.rst
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add verbose note
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix: verbose html
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix: verbose note
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix: use upload github action to public site (#2459) (#2497)
  .github/scripts/doc_release.sh
  .github/workflows/docs-release.yml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

ci(workflows): add `OpenSSF Scorecard` GitHub Action
  .github/workflows/openssf-scorecard.yml
  README.md
Due: .ci/pipeline/nightly.yml
