Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

black formatting
  onedal/ensemble/forest.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[enhancement, CI] add numpydoc validation to pre-commit (#2455)
  .pre-commit-config.yaml
  onedal/__init__.py
  onedal/_config.py
  onedal/_device_offload.py
  onedal/basic_statistics/basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
  onedal/cluster/kmeans.py
  onedal/common/_backend.py
  onedal/covariance/covariance.py
  onedal/covariance/incremental_covariance.py
  onedal/datatypes/_data_conversion.py
  onedal/decomposition/incremental_pca.py
  onedal/decomposition/pca.py
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/logistic_regression.py
  onedal/primitives/kernel_functions.py
  onedal/spmd/decomposition/incremental_pca.py
  onedal/svm/svm.py
  onedal/utils/_dpep_helpers.py
  onedal/utils/_sycl_queue_manager.py
  onedal/utils/validation.py
  pyproject.toml
  sklearnex/_config.py
  sklearnex/_device_offload.py
  sklearnex/_utils.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/dispatcher.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/spmd/covariance/incremental_covariance.py
  sklearnex/spmd/decomposition/incremental_pca.py
  sklearnex/spmd/linear_model/incremental_linear_model.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

DOC: Clarify that SPMD is linux-only (#2476)
  doc/sources/distributed-mode.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

ENH: Enable model conversion from TreeLite (#2452)
  conda-recipe/meta.yaml
  daal4py/mb/__init__.py
  daal4py/mb/gbt_convertors.py
  daal4py/mb/tree_based_builders.py
  doc/sources/model_builders.rst
  requirements-test.txt
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[enhancement] unify policy creation in pybind11 (#2390)
  onedal/common/_backend.py
  onedal/common/policy.cpp
  onedal/common/spmd_policy.cpp
  onedal/dal.cpp
Due: .ci/pipeline/nightly.yml

downgrade setuptools to v79 for develop mode setup (#2480)
  dependencies-dev
Due: .ci/pipeline/nightly.yml

fix: add cstdint include to transceiver for public CI (#2484)
  src/transceiver.h
Due: .ci/pipeline/nightly.yml

[enhancement] add ```__dlpack__``` and ```__dlpack_device__``` attributes to python oneDAL table class (#2430)
  onedal/common/sycl_interfaces.hpp
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.hpp
  onedal/datatypes/table.cpp
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

DOC: More details for conda installs (#2475)
  INSTALL.md
  doc/sources/distributed-mode.rst
  doc/sources/distributed_daal4py.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Migrate to modern NumPy interface (#2479)
  onedal/utils/validation.py
  sklearnex/svm/_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: use upload github action to public site (#2459)
  .github/scripts/doc_release.sh
  .github/workflows/docs-release.yml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

ci(workflows): add `OpenSSF Scorecard` GitHub Action (#2499)
  .github/workflows/openssf-scorecard.yml
  README.md
Due: .ci/pipeline/nightly.yml

[CI] temporarily deselect ```test_dbscan_params_validation``` for green CI (#2500)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

[CI, bugfix] correct stability issues in CondaRecipes (#2493)
  .ci/pipeline/conda-recipe-lnx.yml
  .ci/pipeline/conda-recipe-win.yml
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

Update INSTALL.md
  INSTALL.md
Due: .ci/pipeline/nightly.yml

Replace lambdas with pointers
  generator/gen_daal4py.py
  onedal/covariance/covariance.cpp
  onedal/decomposition/pca.cpp
Due: .ci/pipeline/nightly.yml

Fix CodeFactor warning
  generator/gen_daal4py.py
Due: .ci/pipeline/nightly.yml

sycl_queue -> device
  onedal/ensemble/forest.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

corrections about patching non-sklearn classes
  doc/sources/non-scikit-algorithms.rst
  doc/sources/preview.rst
Due: .ci/pipeline/docs.yml

Restore hyperparameters values after the test
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/covariance/tests/test_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

first cut
  onedal/datatypes/sycl_usm.py
  onedal/utils/_array_api.py
  onedal/utils/_dpep_helpers.py
  onedal/utils/_sycl_queue_manager.py
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

rename
  onedal/datatypes/_sycl_usm.py
Due: .ci/pipeline/nightly.yml

fix various testing imports
  onedal/common/tests/test_sycl.py
  onedal/datatypes/_sycl_usm.py
  onedal/datatypes/tests/common.py
  onedal/datatypes/tests/test_data.py
  onedal/tests/utils/_dataframes_support.py
  onedal/tests/utils/_device_selection.py
  onedal/utils/_third_party.py
  sklearnex/tests/test_memory_usage.py
  tests/run_examples.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't get ahead of my skis
  onedal/_device_offload.py
  onedal/datatypes/__init__.py
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

attempt to further move things apart
  onedal/_device_offload.py
  onedal/datatypes/__init__.py
  onedal/datatypes/_sycl_usm.py
Due: .ci/pipeline/nightly.yml

remove get_unique_values_with_dpep
  onedal/ensemble/forest.py
  onedal/linear_model/logistic_regression.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove actually
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

fix italics formatting
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

Update _array_api.py
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

fix: LogisticRegression
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix: doc ci
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix: fix basic stats format
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix: fix basic stats
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

fix: format
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
