Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Update kmeans_init.py
  onedal/cluster/kmeans_init.py
Due: .ci/pipeline/nightly.yml

Skip unsupported CatBoost on free-threaded CI
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Preserve legacy build tool compatibility
  conda-recipe/meta.yaml
  generator/gen_daal4py.py
  generator/wrapper_gen.py
  onedal/dal.cpp
  scripts/CMakeLists.txt
  scripts/build_backend.py
  setup.py
  src/gbt_model_builder.pyx
  src/log_reg_model_builder.pyx
  tests/test_build_backend.py
Due: .ci/pipeline/nightly.yml

Update test_common.py
  onedal/tests/test_common.py
Due: .ci/pipeline/nightly.yml

Validate free-threaded wheel support in CI
  .github/workflows/ci.yml
  doc/sources/unsupported.rst
  setup.py
  tests/test_build_backend.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Install test dependencies before ABI smoke test
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Add CPython 3.14t ThreadSanitizer CI gate
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Validate free-threaded DPC and MPI paths
  .github/workflows/ci.yml
  tests/mpi_lifecycle_smoke.py
Due: .ci/pipeline/nightly.yml

Expose TSan reports and complete MPI test deps
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Scope TSan noise and correct MPI teardown smoke
  .github/tsan-suppressions.txt
  .github/workflows/ci.yml
  tests/mpi_lifecycle_smoke.py
Due: .ci/pipeline/nightly.yml

Validate DPC backend and scope mixed TSan reports
  .github/tsan-suppressions.txt
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Handle selected DPC backend in free-threaded gates
  .github/tsan-suppressions.txt
  sklearnex/tests/test_free_threading.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove locale race from result option parsing
  .github/workflows/ci.yml
  onedal/basic_statistics/basic_statistics.cpp
  onedal/cluster/dbscan.cpp
  onedal/common.hpp
  onedal/common/result_options.hpp
  onedal/linear_model/linear_model.cpp
  onedal/linear_model/logistic_regression.cpp
  onedal/neighbors/neighbors.cpp
  tests/result_options_threading.cpp
Due: .ci/pipeline/nightly.yml

Isolate result option parser namespace
  .github/tsan-suppressions.txt
  onedal/basic_statistics/basic_statistics.cpp
  onedal/cluster/dbscan.cpp
  onedal/common/result_options.hpp
  onedal/linear_model/linear_model.cpp
  onedal/linear_model/logistic_regression.cpp
  onedal/neighbors/neighbors.cpp
  tests/result_options_threading.cpp
Due: .ci/pipeline/nightly.yml

CI: keep partial TSan traces informational
  .github/tsan-suppressions.txt
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

CI: import TSan wheel outside source tree
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

lazy start with claude
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

human edits
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

MAINT, DOC: Document and simplify solver parameter for IncrementalPCA (#3312)
  doc/sources/additional_parameters.rst
  doc/sources/algorithms.rst
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update sklearnex/decomposition/tests/test_pca.py
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix typos
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

remove redundant branching
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

isolate dpnp sua offset fix
  onedal/datatypes/sycl_usm/data_conversion.cpp
  onedal/datatypes/sycl_usm/sycl_usm_utils.cpp
  onedal/datatypes/sycl_usm/sycl_usm_utils.hpp
Due: .ci/pipeline/nightly.yml

Update kmeans_init.py (#3327)
  onedal/cluster/kmeans_init.py
Due: .ci/pipeline/nightly.yml

add regression test
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

force array_api_dispatch for dpnp and fallout
  onedal/tests/utils/_dataframes_support.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/conftest.py
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/linear_model/tests/test_incremental_linear.py
  sklearnex/linear_model/tests/test_incremental_ridge.py
  sklearnex/linear_model/tests/test_linear.py
  sklearnex/linear_model/tests/test_ridge.py
  sklearnex/preview/covariance/tests/test_covariance.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/preview/preprocessing/tests/test_data.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Centralize transform_output test helper in sklearnex.tests.utils
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/tests/utils/__init__.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX Address free-threading review feedback
  .github/workflows/ci.yml
  generator/wrapper_gen.py
  scripts/build_backend.py
  setup.py
  sklearnex/tests/test_free_threading.py
  src/daal4py.cpp
  src/npy4daal.h
  tests/test_build_backend.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update transform comment
  sklearnex/preview/preprocessing/_data.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

broaden slicing scope to address comment
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

Update contributor reference to document update
  doc/sources/contributor-reference.rst
Due: .ci/pipeline/docs.yml

isolate dpnp sua offset fix (#3330)
  onedal/datatypes/sycl_usm/data_conversion.cpp
  onedal/datatypes/sycl_usm/sycl_usm_utils.cpp
  onedal/datatypes/sycl_usm/sycl_usm_utils.hpp
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml
