Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update conda-recipe-lnx.yml
  .ci/pipeline/conda-recipe-lnx.yml
Due: .ci/pipeline/nightly.yml

Update conda-recipe-win.yml
  .ci/pipeline/conda-recipe-win.yml
Due: .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

ci: align workflows and pipelines sklearn versions
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

undo accidental PR overlap
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

Update test_model_builders.py
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

Update run_sklearn_tests.sh
  .ci/scripts/run_sklearn_tests.sh
Due: .ci/pipeline/nightly.yml

Delete tests/test_model_builders.py
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

Update validation.py
  daal4py/sklearn/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Revert "Delete tests/test_model_builders.py"
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

disable catboost and check
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

fix: fix basic stats
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Update validation.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix basic stats
  doc/sources/algorithms.rst
  sklearnex/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add hyperparameters into PCA
  onedal/common/hyperparameters.py
  onedal/covariance/covariance.cpp
  onedal/decomposition/pca.cpp
  onedal/decomposition/pca.py
  sklearnex/decomposition/pca.py
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix codefactor warning
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix formatting
  onedal/common/hyperparameters.py
  sklearnex/preview/covariance/tests/test_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
