Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

py3.14 compatibility (#2835)
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Update test_memory_usage.py
  sklearnex/tests/test_memory_usage.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: Avoid deselecting valid KNN conformance tests for nan_euclidean (#2834)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

try unpatching
  .ci/scripts/run_sklearn_tests.py
Due: .ci/pipeline/nightly.yml

fix
  .ci/scripts/run_sklearn_tests.py
Due: .ci/pipeline/nightly.yml

[CI] Remove dpctl dependency from onedal/tests/utils/_device_selection.py (#2549)
  onedal/tests/utils/_device_selection.py
  sklearnex/tests/test_config.py
  sklearnex/tests/test_memory_usage.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[enhancement] Enable array API for SVM algorithms (#2209)
  doc/sources/array_api.rst
  onedal/svm/__init__.py
  onedal/svm/svm.py
  onedal/svm/tests/test_csr_svm.py
  onedal/svm/tests/test_nusvc.py
  onedal/svm/tests/test_nusvr.py
  onedal/svm/tests/test_svc.py
  onedal/svm/tests/test_svr.py
  sklearnex/_utils.py
  sklearnex/svm/__init__.py
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
  sklearnex/svm/_common.py
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
  sklearnex/svm/tests/test_svm.py
  sklearnex/tests/test_common.py
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove target offload
  .ci/scripts/run_sklearn_tests.py
Due: .ci/pipeline/nightly.yml

try manual reimport
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

make global queues local to python threads
  onedal/utils/_sycl_queue_manager.py
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

typo
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

fix
  onedal/utils/_sycl_queue_manager.py
Due: .ci/pipeline/nightly.yml

correct name
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

Update for sklearn 1.8
  requirements-test.txt
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

readd skl version check
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

fix syntax
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

Update for sklearn 1.8 (#2847)
  requirements-test.txt
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

update tags for sklearn1.8
  README.md
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  onedal/utils/_sycl_queue_manager.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  onedal/utils/_sycl_queue_manager.py
Due: .ci/pipeline/nightly.yml

forgot to add call
  onedal/utils/_sycl_queue_manager.py
Due: .ci/pipeline/nightly.yml

typo
  onedal/utils/_sycl_queue_manager.py
Due: .ci/pipeline/nightly.yml

more idiomatic refactor
  onedal/utils/_sycl_queue_manager.py
Due: .ci/pipeline/nightly.yml

Fix azp docbuild by skipping medium linkcheck (#2830)
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

fix typo
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

improve wording on supported inputs
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

Update python/sklearn versions
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/ci.yml
  .ci/scripts/gen_release_jobs.py
  .github/workflows/ci.yml
  INSTALL.md
  README.md
  dependencies-dev
  deselected_tests.yaml
  doc/sources/quick-start.rst
  requirements-test.txt
  setup.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update tags for sklearn1.8 (#2848)
  README.md
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add tests with deep trees for modelbuilders
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

more deselections due to numeric issues (#2814)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update python/sklearn versions (#2855)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/ci.yml
  .ci/scripts/gen_release_jobs.py
  .github/workflows/ci.yml
  INSTALL.md
  README.md
  dependencies-dev
  deselected_tests.yaml
  doc/sources/quick-start.rst
  requirements-test.txt
  setup.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

avoid replacing cv calls
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add warning message about using logreg in parallel
  doc/sources/algorithms.rst
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

try removing all cpu patching
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

match function signatures and default arguments
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix wrong function call
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
