Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Update gen_release_jobs.py
  .ci/scripts/gen_release_jobs.py
Due: .ci/pipeline/nightly.yml

Update release.yml
  .ci/pipeline/release.yml
Due: .ci/pipeline/nightly.yml

formatting
  .ci/scripts/gen_release_jobs.py
Due: .ci/pipeline/nightly.yml

small testing fixes
  .ci/pipeline/release.yml
  .ci/scripts/gen_release_jobs.py
Due: .ci/pipeline/nightly.yml

add sections about d4p plus full api docs as section
  daal4py/mb/model_builders.py
  doc/daal4py/scaling.rst
  doc/sources/about_daal4py.rst
  doc/sources/conf.py
  doc/sources/d4p-kmeans-scale.jpg
  doc/sources/daal4py.rst
  doc/sources/distributed-mode.rst
  doc/sources/distributed_daal4py.rst
  doc/sources/index.rst
  doc/sources/model_builders.rst
  doc/sources/model_builders_speedup.webp
  doc/sources/non-scikit-algorithms.rst
  doc/sources/non_sklearn_d4p.rst
  doc/sources/quick-start.rst
  doc/sources/substitutions.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

look at correct variable for compiler identification
  setup.py
Due: .ci/pipeline/nightly.yml

fix unpropagated IMPI as mpiroot
  scripts/build_backend.py
  setup.py
Due: .ci/pipeline/nightly.yml

don't override user CXX when not necessary
  INSTALL.md
  scripts/build_backend.py
  setup.py
Due: .ci/pipeline/nightly.yml

add properties to query type of model
  daal4py/mb/model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't say that enums are mentioned as ints, list possible values
  generator/wrapper_gen.py
Due: .ci/pipeline/nightly.yml

add class wrapping up logreg builder
  daal4py/mb/__init__.py
  daal4py/mb/logistic_regression_builders.py
  daal4py/mb/tree_based_builders.py
  doc/sources/logistic_model_builder.rst
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

incorporate logreg builder
  daal4py/mb/logistic_regression_builders.py
  doc/sources/daal4py.rst
  doc/sources/index.rst
  doc/sources/logistic_model_builder.rst
  doc/sources/model_builders.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update docs
  doc/sources/logistic_model_builder.rst
Due: .ci/pipeline/docs.yml

fix type hint for python==3.9
  daal4py/mb/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more tests
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

add undocumented classes for coordinate descent
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

skip test on sklearn==1.0
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

missing import
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

try removing this file
  src/dist_logistic_regression_training.h
Due: .ci/pipeline/nightly.yml

try removing more 'dist' headers
  src/dist_dbscan.h
  src/dist_kmeans.h
  src/dist_kmeans_init.h
Due: .ci/pipeline/nightly.yml

remove def'd out file
  src/lbfgs.cpp
Due: .ci/pipeline/nightly.yml

Revert "try removing more 'dist' headers"
  src/dist_dbscan.h
  src/dist_kmeans.h
  src/dist_kmeans_init.h
Due: .ci/pipeline/nightly.yml

use 'latest' tag for xgb docs
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

remove broken logistic regression
  doc/daal4py/algorithms.rst
  examples/daal4py/data/batch/lbfgs_cr_enr_loss.csv
  examples/daal4py/data/batch/logreg_test.csv
  examples/daal4py/lbfgs_cr_entr_loss.py
  examples/daal4py/log_reg_binary_dense.py
  examples/daal4py/log_reg_dense.py
  generator/wrappers.py
  tests/test_daal4py_examples.py
  tests/unittest_data/log_reg_binary_dense.csv
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add test:
  sklearnex/base.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

attempt to get things running
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove tsne failure
  sklearnex/manifold/t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try again
  sklearnex/manifold/t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

allow creating from sklearn classes like docs say
  daal4py/mb/tree_based_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update setup.py
  setup.py
Due: .ci/pipeline/nightly.yml

Update __init__.py
  sklearnex/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update __init__.py
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

add sklearn_check_version
  sklearnex/__init__.py
  sklearnex/base.py
  sklearnex/manifold/t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

oops
  sklearnex/_utils.py
  sklearnex/base.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add coef_/intercept_ properties, update example
  daal4py/mb/logistic_regression_builders.py
  examples/mb/log_reg_model_builder.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

another try
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add sections about d4p plus full api docs as section
  daal4py/mb/logistic_regression_builders.py
  doc/daal4py/scaling.rst
  doc/sources/about_daal4py.rst
  doc/sources/conf.py
  doc/sources/d4p-kmeans-scale.jpg
  doc/sources/daal4py.rst
  doc/sources/distributed-mode.rst
  doc/sources/distributed_daal4py.rst
  doc/sources/index.rst
  doc/sources/model_builders.rst
  doc/sources/model_builders_speedup.webp
  doc/sources/non-scikit-algorithms.rst
  doc/sources/non_sklearn_d4p.rst
  doc/sources/quick-start.rst
  doc/sources/substitutions.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
