Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Update test_svm.py
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_neighbors.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_mixed_inputs.py
  sklearnex/linear_model/tests/test_mixed_inputs.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_forest.py
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_incremental_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update sklearnex/ensemble/tests/test_forest.py
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[CI,fix] lockstep scikit-learn version in `meta.yml` testing with `requirements-test.txt` (#3242)
  .github/renovate.json
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

Update meta.yaml
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

Update validation.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_validation.py
  sklearnex/utils/tests/test_validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add section with blueprints (#3240)
  doc/sources/tutorials.rst
Due: .ci/pipeline/docs.yml

remove unused patching folder (#3239)
  doc/sources/patching/patch-kmeans-example.rst
  doc/sources/patching/patch-one-algorithm.rst
  doc/sources/patching/patch-several-algorithms.rst
  doc/sources/patching/patching-options.rst
  doc/sources/patching/undo-patch.rst
Due: .ci/pipeline/docs.yml

remove unhelpful tuning section (#3238)
  doc/sources/algorithms.rst
  doc/sources/guide/acceleration.rst
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml

add instructions about user groups (#3233)
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

remove deprecation notice (#3237)
  doc/sources/deprecation.rst
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml

adjust tolerances for linear regression on fp32
  onedal/linear_model/tests/test_linear_regression.py
Due: .ci/pipeline/nightly.yml

Update .mergify.yml
  .github/.mergify.yml
Due: .ci/pipeline/nightly.yml

link to sklearn in readme
  README.md
Due: .ci/pipeline/nightly.yml

update python version in nightly jobs
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

Allow all-zero weights for spmd basic stats
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Address review: correct comment and assert results in KMeans tests
  sklearnex/_device_offload.py
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

bump sklearn ceiling for conda recipe
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

update readme and doc reqs accordingly
  README.md
  requirements-doc.txt
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Test transform_output as value-preserving wrap over un-wrapped output
  sklearnex/_device_offload.py
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add KMeans result-checking tests for array_api and torch backends
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

robocopy over xcopy for long files
  conda-recipe/pack.bat
Due: .ci/pipeline/nightly.yml

Apply black formatting
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update python version in nightly jobs (#3256)
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

add explanation about array API handling: (#3234)
  doc/sources/array_api.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

link to sklearn optimization guide
  doc/sources/parallelism.rst
  doc/sources/tutorials.rst
Due: .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
