Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

MAINT: Ensure nightly jobs use newer packages as required (#2802)
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

update for new parameters in tests (#2809)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

MAINT: Skip conformance tests running with too old array API packages (#2803)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Fix conformance test failures
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix SVC() conformance
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIx: raw incremental linreg and revised test scope
  sklearnex/linear_model/incremental_linear.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

oops
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

oops 2
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

lint
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Deprecation of internal dpctl tensor handling functionality
  onedal/datatypes/_data_conversion.py
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

Update _device_selection.py
  onedal/tests/utils/_device_selection.py
Due: .ci/pipeline/nightly.yml

lint
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

MAINT: Set `SCIPY_ARRAY_API=1` on tests (#2806)
  .ci/scripts/run_sklearn_tests.py
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
  daal4py/sklearn/linear_model/tests/test_linear.py
  onedal/svm/tests/test_svc.py
  sklearnex/covariance/tests/test_incremental_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove non-argument
  onedal/svm/svm.py
Due: .ci/pipeline/nightly.yml

fix predictions on X=None
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect test that fails due to small numeric differences
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

remove non-argument (#2820)
  onedal/svm/svm.py
Due: .ci/pipeline/nightly.yml

modify env. variable in other scrips too
  .circleci/run_xpu_tests.py
Due: .ci/pipeline/nightly.yml

FIx: raw incremental linreg and revised test scope (#2816)
  sklearnex/linear_model/incremental_linear.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

deselect for new parametrizations
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update sklearnex/ensemble/_forest.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

better fix without validating data twice
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't fall back on predict_proba
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add comment about misleading log
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _forest.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Leave in dpctl tests until removal
  onedal/datatypes/tests/test_data.py
  onedal/tests/utils/_dataframes_support.py
  onedal/utils/tests/test_validation.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/dummy/tests/test_dummy.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/spmd/basic_statistics/tests/test_basic_statistics_spmd.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/cluster/tests/test_dbscan_spmd.py
  sklearnex/spmd/cluster/tests/test_kmeans_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/spmd/ensemble/tests/test_forest_spmd.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
  sklearnex/spmd/linear_model/tests/test_linear_regression_spmd.py
  sklearnex/spmd/linear_model/tests/test_logistic_regression_spmd.py
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Minor follow up to previous
  onedal/datatypes/tests/test_data.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/tests/test_memory_usage.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Deprecation of internal dpctl tensor handling functionality (#2819)
  onedal/datatypes/_data_conversion.py
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

Update array_api.rst
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

Initial dpctl tensor removal (#2779)
  examples/sklearnex/basic_statistics_spmd.py
  examples/sklearnex/covariance_spmd.py
  examples/sklearnex/dbscan_spmd.py
  examples/sklearnex/incremental_basic_statistics_dpnp.py
  examples/sklearnex/incremental_covariance_spmd.py
  examples/sklearnex/incremental_linear_regression_dpnp.py
  examples/sklearnex/incremental_pca_dpnp.py
  examples/sklearnex/kmeans_spmd.py
  examples/sklearnex/knn_bf_classification_dpnp.py
  examples/sklearnex/knn_bf_classification_spmd.py
  examples/sklearnex/knn_bf_regression_spmd.py
  examples/sklearnex/linear_regression_spmd.py
  examples/sklearnex/logistic_regression_spmd.py
  examples/sklearnex/pca_spmd.py
  examples/sklearnex/random_forest_classifier_dpctl.py
  examples/sklearnex/random_forest_classifier_spmd.py
  examples/sklearnex/random_forest_regressor_dpnp.py
  examples/sklearnex/random_forest_regressor_spmd.py
  onedal/dummy/dummy.py
  sklearnex/tests/utils/spmd.py
  tests/run_examples.py
  tests/test_examples_sklearnex.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

correct checks and tests for sparse data frames
  daal4py/sklearn/_utils.py
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/manifold/_t_sne.py
  onedal/svm/svm.py
  requirements-test.txt
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/cluster/dbscan.py
  sklearnex/cluster/k_means.py
  sklearnex/decomposition/pca.py
  sklearnex/dummy/_dummy.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/ridge.py
  sklearnex/neighbors/common.py
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/svm/svc.py
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

clarification about sparse handling in tsne
  daal4py/sklearn/manifold/_t_sne.py
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip tests on older scipy
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add copyright header
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix azp docbuild by skipping medium linkcheck
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

fix incorrect regex
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml
