Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

yet another test
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Fix
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add debug print where error happens
  .ci/pipeline/nightly.yml
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

another attempt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

try another dependency
  .ci/pipeline/nightly.yml
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

more prints
  .ci/scripts/run_sklearn_tests.sh
Due: .ci/pipeline/nightly.yml

Update _forest.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update forest.py
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

Update _classes.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _base.py
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use array-api-friendly sqrt, inherit from ABC
  onedal/svm/svm.py
Due: .ci/pipeline/nightly.yml

fix CI errors
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add necessary env variable for array api on scipy
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

try another way
  conda-recipe/meta.yaml
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
Due: .ci/pipeline/nightly.yml

remove from places where it has no effect
  daal4py/sklearn/linear_model/tests/test_linear.py
  onedal/svm/tests/test_svc.py
  sklearnex/covariance/tests/test_incremental_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix for old sklearn test
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more experiments
  .ci/pipeline/nightly.yml
  .ci/scripts/run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.sh
Due: .ci/pipeline/nightly.yml

pass new required xp argument (#2801)
  sklearnex/svm/_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try with less changes
  .ci/scripts/run_sklearn_tests.sh
Due: .ci/pipeline/nightly.yml

more fixes
  .ci/scripts/run_sklearn_tests.py
Due: .ci/pipeline/nightly.yml

Update .ci/pipeline/nightly.yml
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

more skips
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

clarify comment
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

update for new parameters in tests
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

deselect more instances of the same bug (#2795)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

correction about impi package names
  doc/sources/distributed-mode.rst
  doc/sources/distributed_daal4py.rst
Due: .ci/pipeline/docs.yml

fix multiple warnings that error out
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more deselections due to numeric issues
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

try running tests without patching
  .ci/scripts/run_sklearn_tests.py
Due: .ci/pipeline/nightly.yml

more needed changes
  .ci/scripts/run_sklearn_tests.py
Due: .ci/pipeline/nightly.yml

Address comments
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Add info about mkl-service
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Fix wording
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Add doc page about `n_jobs`
  doc/sources/index.rst
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

fix multiple warnings that error out (#2811)
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
