Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

fix: fix dead link in ipynb files
  examples/notebooks/svc_adult.ipynb
Due: .ci/pipeline/nightly.yml

fix: fix broken links
  examples/notebooks/tsne.ipynb
Due: .ci/pipeline/nightly.yml

use sklearn's config for backticks
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

add link to arch wiki and more details
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

update deselected tests file
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix: format and add comment
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

use last known good run id
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

remove additional tests
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

restore init
  daal4py/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add 4 more deselections
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

upload LKG artifacts
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

fix upload
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

rename artifact
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

upload all site-packages
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

upload venv
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

re-introduce latest nightly
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

some more prints
  .github/workflows/ci.yml
  daal4py/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

list dir contents
  daal4py/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

apply black formatting
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

xpass/xfail deselections...I give up
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

one more xfail
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

revert location of versions.json
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

use test nightly build with moved header
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Use 3155 revert SHA
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

reword compute-follows-data idea
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

add instructions for building with ASAN
  INSTALL.md
Due: .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

add conda-forge channel for dependencies, mention incompatibilities with anaconda
  doc/sources/distributed-mode.rst
  doc/sources/distributed_daal4py.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

clarify that SPMD is not available on windows builds
  doc/sources/distributed-mode.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

Apply suggestions from code review
  onedal/_config.py
  onedal/common/_backend.py
  onedal/utils/_dpep_helpers.py
  onedal/utils/_sycl_queue_manager.py
  sklearnex/linear_model/incremental_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update doc/sources/distributed-mode.rst
  doc/sources/distributed-mode.rst
Due: .ci/pipeline/docs.yml

remove unneeded variable
  INSTALL.md
Due: .ci/pipeline/nightly.yml

update commands also in .md file
  INSTALL.md
Due: .ci/pipeline/nightly.yml

suggest impi install from conda-forge
  doc/sources/distributed-mode.rst
Due: .ci/pipeline/docs.yml

remove warning about conda-forge incompatibilities
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

new build test
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update INSTALL.md
  INSTALL.md
Due: .ci/pipeline/nightly.yml
