Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

fix more tests
  onedal/svm/svm.py
  onedal/svm/tests/test_nusvc.py
  onedal/svm/tests/test_svc.py
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_dummy.py
  sklearnex/dummy/tests/test_dummy.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix more tests
  onedal/svm/tests/test_nusvc.py
  onedal/svm/tests/test_nusvr.py
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

formatting
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add testing for class_weight
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

start to adapt sklearnex
  sklearnex/svm/_common.py
  sklearnex/svm/nusvc.py
  sklearnex/svm/svc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _dummy.py
  sklearnex/dummy/_dummy.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try to fix new test
  sklearnex/dummy/tests/test_dummy.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

disable tests for non array API support
  sklearnex/dummy/tests/test_dummy.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove custome validate data in onedal neighbors
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

fix: get rid of check feature names
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix validate data for y
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix validate data for y
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: asswertioon error
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: array api for commona nd onedal file too
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_svr.py
  onedal/svm/tests/test_svr.py
Due: .ci/pipeline/nightly.yml

Update test_svc.py
  onedal/svm/tests/test_svc.py
Due: .ci/pipeline/nightly.yml

Update test_nusvc.py
  onedal/svm/tests/test_nusvc.py
Due: .ci/pipeline/nightly.yml

appy interim changes
  .ci/scripts/select_sklearn_tests.py
  onedal/svm/svm.py
  sklearnex/svm/_common.py
  sklearnex/svm/svc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further centralizationg
  sklearnex/svm/_common.py
  sklearnex/svm/svr.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

refactor files
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

swap to base
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further fixes
  sklearnex/svm/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _base.py
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove daal functions from onedal
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

fix: format
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

corrections in svm support table
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

corrections in svm support table (#2709)
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Address comments
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

add note about handling of masked arrays
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

Described data copy cases (#2698)
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

add clickable links in supported input docs
  doc/sources/conf.py
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

add elasticnet to list of api reference
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

typo
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

remove unneeded filter for d4p support
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/tests/test_enet.py
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix link
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

remove unnecessary copying
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/linear_model/tests/test_enet.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
