Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

don't change SCIPY_ARRAY_API at runtime (#2679)
  .ci/scripts/run_sklearn_tests.py
  .circleci/run_xpu_tests.py
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update arg names
  doc/sources/guide/acceleration.rst
Due: .ci/pipeline/docs.yml

correct behavior
  doc/sources/guide/acceleration.rst
Due: .ci/pipeline/docs.yml

yet another correction
  doc/sources/guide/acceleration.rst
Due: .ci/pipeline/docs.yml

DOC: Correct argument names for additional tree parameters (#2681)
  doc/sources/guide/acceleration.rst
Due: .ci/pipeline/docs.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

raw inputs support for kneighbors
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

Update dispatcher.py
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Due: .ci/pipeline/nightly.yml

Update dummy.cpp
  onedal/tests/dummy.cpp
Due: .ci/pipeline/nightly.yml

Update setup.py
  setup.py
Due: .ci/pipeline/nightly.yml

Update prototypes.py
  sklearnex/dummy/prototypes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update run_test.sh
  conda-recipe/run_test.sh
Due: .ci/pipeline/nightly.yml

Update and rename .pytest-verbosity-args to pytest.ini
  .pytest-verbosity-args
  pytest.ini
Due: .ci/pipeline/nightly.yml

Update .licenserc.yaml
  .github/.licenserc.yaml
Due: .ci/pipeline/nightly.yml

Update run_test.bat
  conda-recipe/run_test.bat
Due: .ci/pipeline/nightly.yml
