Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

oops
  sklearnex/spmd/ensemble/forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

try again
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add skip
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

stopping point
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.hpp
  onedal/datatypes/dlpack/dlpack.h
Due: .ci/pipeline/nightly.yml

Update test_pca.py
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_incremental_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Add support for local trees mode in forest (#2615)
  onedal/ensemble/forest.cpp
  onedal/spmd/ensemble/forest.py
  sklearnex/spmd/ensemble/forest.py
  sklearnex/spmd/ensemble/tests/test_forest_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

doc: local trees parameter documentation
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Update doc/sources/algorithms.rst
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

formatting
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.hpp
  onedal/datatypes/dlpack/dlpack.h
Due: .ci/pipeline/nightly.yml

add endspace
  onedal/datatypes/dlpack/dlpack.h
Due: .ci/pipeline/nightly.yml

try to simplify
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

intermediate changes
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.hpp
  onedal/datatypes/numpy/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

better instructions for MPI installs
  doc/sources/distributed-mode.rst
  doc/sources/distributed_daal4py.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

oops
  onedal/datatypes/common.hpp
Due: .ci/pipeline/nightly.yml

reduce errors
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

attempt to clarify
  onedal/datatypes/common.hpp
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/dlpack/dlpack_utils.cpp
  onedal/datatypes/dlpack/dlpack_utils.hpp
Due: .ci/pipeline/nightly.yml

simplify logic on host builds
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

fix namespace issue
  onedal/datatypes/common.hpp
Due: .ci/pipeline/nightly.yml

try to add correct keywords
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/table.cpp
Due: .ci/pipeline/nightly.yml

fix kw_only
  onedal/datatypes/table.cpp
Due: .ci/pipeline/nightly.yml

maybe this is necessary
  onedal/datatypes/table.cpp
Due: .ci/pipeline/nightly.yml

move copy control to python side
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

try without self
  onedal/datatypes/table.cpp
Due: .ci/pipeline/nightly.yml

swap logic
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

forgot to assign the most important part
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

fix misspelling
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

fix issues
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

queue specific copy has been deprecated but not in docs
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

fix issues for pytorch
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

better instructions for MPI installs (#2638)
  doc/sources/distributed-mode.rst
  doc/sources/distributed_daal4py.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml

various fixes for logistic regression
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
