Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

remove/update more references
  daal4py/README.md
  daal4py/sklearn/monkeypatch/dispatcher.py
  deselected_tests.yaml
  setup.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

leave as it was
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

remove print statement
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix changes from scikit-learn/scikit-learn#29774
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update sklearnex/_device_offload.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

add type hints and fix docs for dispatch
  sklearnex/_device_offload.py
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove change from local testing
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

be more explicit with a type
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

python3.9 fix
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

change language which was bothering me
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

formatting
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add snippet also to online docs
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml

update links
  setup.py
Due: .ci/pipeline/nightly.yml

initial save
  onedal/common/sycl_interfaces.hpp
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.hpp
Due: .ci/pipeline/nightly.yml

This should fix it (I think)
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

save point
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Apply suggestions from code review
  sklearnex/_device_offload.py
  sklearnex/utils/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

interim stop
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

check:
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Update base.py
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update __init__.py
  sklearnex/utils/__init__.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix most problems
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

save point
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/table.cpp
Due: .ci/pipeline/nightly.yml

formatting
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

clang-formatting and save point
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.hpp
  onedal/datatypes/table.cpp
Due: .ci/pipeline/nightly.yml

add testing
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

try readding dpcpp_rt
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

try a fixed version
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

address coverage for dlpack::free_capsule
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

formatting
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

don't treat warnings as errors
  scripts/CMakeLists.txt
Due: .ci/pipeline/nightly.yml

remove fixed version
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

error out earlier on missing objective
  daal4py/mb/gbt_convertors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix
  daal4py/mb/gbt_convertors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test and fix for default objective
  daal4py/mb/gbt_convertors.py
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try forcibly setting icx as compiler
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

fix doc warning
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

switch back to get_params
  daal4py/mb/gbt_convertors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add back catboost now that it's compatible with numpy>2
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
