Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

addition features
  onedal/cluster/tests/test_hdbscan.py
  sklearnex/cluster/hdbscan.py
  sklearnex/cluster/tests/test_hdbscan.py
  sklearnex/tests/test_monkeypatch.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Clarify daal4py MPI lifecycle docs
  doc/sources/daal4py.rst
  doc/sources/distributed_daal4py.rst
  generator/wrapper_gen.py
  tests/mpi_lifecycle_smoke.py
  tests/test_mpi_lifecycle.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Optimize safe CSR index stride handling
  onedal/datatypes/numpy/data_conversion.cpp
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

Avoid unsupported empty CSR stride test
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

Add SKLEARNEX_NO_ABS_RPATH flag for conda build
  conda-recipe/build.sh
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add spring off point
  onedal/__init__.py
  onedal/basic_statistics/basic_statistics.cpp
  onedal/cluster/kmeans.cpp
  onedal/common/policy.cpp
  onedal/common/type_utils.hpp
  onedal/covariance/covariance.cpp
  onedal/decomposition/pca.cpp
  onedal/linear_model/linear_model.cpp
  onedal/linear_model/logistic_regression.cpp
  scripts/CMakeLists.txt
  setup.py
Due: .ci/pipeline/nightly.yml

add mpi_communicator
  onedal/spmd/mpi_communicator.cpp
Due: .ci/pipeline/nightly.yml

add missing file
  onedal/utils/_spmd_communicator_manager.py
Due: .ci/pipeline/nightly.yml

Apply suggestion from @david-cortes-intel
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix for old versions
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  onedal/cluster/tests/test_hdbscan.py
  sklearnex/cluster/__init__.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  sklearnex/cluster/hdbscan.py
  sklearnex/cluster/tests/test_hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

address comment
  conda-recipe/build.sh
Due: .ci/pipeline/nightly.yml

Add SKLEARNEX_NO_ABS_RPATH flag for conda build (#3372)
  conda-recipe/build.sh
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

make preview testing controllable through env. var
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more instructions for gcc
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

remove non-optionality of arguments
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more info about gcc
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

DOC: More details about loading asan (#3347)
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

Address PR review comments for HDBSCAN
  .ci/scripts/select_sklearn_tests.py
  deselected_tests.yaml
  doc/sources/algorithms.rst
  onedal/cluster/hdbscan.py
  onedal/cluster/tests/test_hdbscan.py
  onedal/spmd/cluster/hdbscan.py
  sklearnex/cluster/__init__.py
  sklearnex/cluster/hdbscan.py
  sklearnex/cluster/tests/test_hdbscan.py
  sklearnex/dispatcher.py
  sklearnex/spmd/cluster/__init__.py
  sklearnex/spmd/cluster/hdbscan.py
  sklearnex/tests/test_monkeypatch.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Address second round of PR review comments for HDBSCAN
  doc/sources/algorithms.rst
  onedal/cluster/hdbscan.cpp
  onedal/cluster/hdbscan.py
  onedal/cluster/tests/test_hdbscan.py
  sklearnex/cluster/hdbscan.py
  sklearnex/cluster/tests/test_hdbscan.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Correct the documented behavior of 'dbscan_clustering'
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Support torch validation and add to spmd tests (#3003)
  doc/sources/contributor-reference.rst
  onedal/tests/utils/_dataframes_support.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/linear_model/tests/test_logreg.py
  sklearnex/linear_model/tests/test_mixed_inputs.py
  sklearnex/neighbors/tests/test_neighbors.py
  sklearnex/spmd/basic_statistics/tests/test_basic_statistics_spmd.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/cluster/tests/test_dbscan_spmd.py
  sklearnex/spmd/cluster/tests/test_kmeans_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/spmd/ensemble/tests/test_forest_spmd.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
  sklearnex/spmd/linear_model/tests/test_linear_regression_spmd.py
  sklearnex/spmd/linear_model/tests/test_logistic_regression_spmd.py
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

updates to accommodate torch array_api_dispatch force
  doc/sources/contributor-reference.rst
  onedal/tests/utils/_dataframes_support.py
  sklearnex/conftest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Read CSR indices as their own dtype behind an alignment guard
  onedal/datatypes/numpy/data_conversion.cpp
  onedal/datatypes/numpy/numpy_utils.hpp
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

Apply review wording and state the communicator requirement
  doc/sources/distributed_daal4py.rst
  generator/wrapper_gen.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Note where the uppercase AMD64 arch string comes from
  scripts/build_backend.py
Due: .ci/pipeline/nightly.yml

MAINT: Remove deprecated daal4py sklearn patching (#3371)
  daal4py/sklearn/__init__.py
  daal4py/sklearn/monkeypatch/__init__.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  daal4py/sklearn/monkeypatch/tests/_models_info.py
  daal4py/sklearn/monkeypatch/tests/test_monkeypatch.py
  daal4py/sklearn/monkeypatch/tests/test_patching.py
  daal4py/sklearn/monkeypatch/tests/utils/_launch_algorithms.py
  daal4py/sklearn/test/test_common.py
  setup.py
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test failure resolutions
  onedal/datatypes/_data_conversion.py
  onedal/dummy/dummy_onedal.hpp
  sklearnex/neighbors/_lof.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix import under python O2
  .ci/pipeline/build-and-test-lnx.yml
  daal4py/mb/logistic_regression_builders.py
  daal4py/sklearn/_utils.py
  daal4py/sklearn/utils/validation.py
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Address the third round of PR review comments for HDBSCAN
  deselected_tests.yaml
  doc/sources/algorithms.rst
  sklearnex/cluster/hdbscan.py
  sklearnex/cluster/tests/test_hdbscan.py
  sklearnex/tests/test_run_to_run_stability.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix estimator discovery with oneDAL older than 2026.2
  sklearnex/cluster/hdbscan.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Select the oneDAL nightly deterministically in the public CI
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Also gate HDBSCAN on the oneDAL build date
  daal4py/sklearn/_utils.py
  onedal/cluster/__init__.py
  onedal/cluster/hdbscan.cpp
  onedal/dal.cpp
  onedal/spmd/cluster/__init__.py
  onedal/version.hpp
  sklearnex/cluster/__init__.py
  sklearnex/cluster/hdbscan.py
  sklearnex/cluster/tests/test_hdbscan.py
  sklearnex/dispatcher.py
  sklearnex/spmd/cluster/__init__.py
  sklearnex/tests/test_run_to_run_stability.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Map the Windows ARM64 arch string and drop the duplicated mapping
  scripts/build_backend.py
  tests/run_examples.py
  tests/test_build_backend.py
Due: .ci/pipeline/nightly.yml

Cover re-running a distributed computation, and document the import hook
  src/transceiver.cpp
  tests/test_mpi_lifecycle.py
Due: .ci/pipeline/nightly.yml

Make the negative-stride test construction self-evident
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

Enable test
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix version attribute
  daal4py/__init__.py
  onedal/__init__.py
  setup.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use sklearn on ridge with more columns than rows
  doc/sources/algorithms.rst
  sklearnex/conftest.py
  sklearnex/linear_model/ridge.py
  sklearnex/linear_model/tests/test_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
