Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Initial commit
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/ridge.py
  sklearnex/linear_model/tests/test_mixed_inputs.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Fix creation of oneDAL objects in linear models after fallbacks (#3162)
  onedal/linear_model/linear_model.py
  onedal/linear_model/tests/test_incremental_linear_regression.py
  onedal/linear_model/tests/test_linear_regression.py
  sklearnex/linear_model/_base_linear_model.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/ridge.py
  sklearnex/linear_model/tests/test_linear_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Throw error if namespaces during fit/predict are incompatible, add additional test
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/ridge.py
  sklearnex/linear_model/tests/test_mixed_inputs.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove comment
  sklearnex/linear_model/linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document version checker (#3143)
  doc/sources/contributor-reference.rst
Due: .ci/pipeline/docs.yml

update signature for logistic path
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

do namespace checks after data validations
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip tests on callbacks
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

deselect test that uses private module
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

try unsetting compilation variables
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

downgrade meson
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

fix data movements during data validation
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/ridge.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix missing redundant movement
  sklearnex/linear_model/incremental_linear.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

workaround for sklearn bug with torch movements
  sklearnex/linear_model/tests/test_mixed_inputs.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX, MAINT: Implement "everything follows X" for linear models (#3150)
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/ridge.py
  sklearnex/linear_model/tests/test_mixed_inputs.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add number of SVM iterations
  onedal/svm/svm.cpp
  onedal/svm/svm.py
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

make n_iter of array API class
  onedal/svm/svm.py
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

reshape before subsetting
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix for empty results
  onedal/svm/svm.py
Due: .ci/pipeline/nightly.yml

MAINT: Update signature for logistic regression path in newer sklearn (#3189)
  daal4py/sklearn/linear_model/logistic_path.py
  deselected_tests.yaml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update onedal/linear_model/logistic_regression.py
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

Update sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

ENH: Create logistic regression oneDAL object on the fly for predictions after fallbacks (#3114)
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try unsetting compilation variables (#3191)
  .ci/scripts/setup_sklearn.sh
Due: .ci/pipeline/nightly.yml

deselect test that uses private module (#3190)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix for older numpy
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes for older numpy
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

create GPU object when needed
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

expand error types for new sklearn logic
  sklearnex/covariance/tests/test_incremental_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

various fixes
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for allowed dense/sparse combinations
  sklearnex/svm/_base.py
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

invalidate onedal objects after deleting attributes
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

rename attributes
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX, MAINT: Implement namespace and device checks for logistic regression (#3164)
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix lint
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

fixes for deleters
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

reuse internal method
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

address comments
  conda-recipe/meta.yaml
  conda-recipe/pack.sh
Due: .ci/pipeline/nightly.yml
