Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Remove non-array api dpnp support
  doc/sources/input-types.rst
  doc/sources/oneapi-gpu.rst
  examples/sklearnex/incremental_basic_statistics_dpnp.py
  examples/sklearnex/incremental_linear_regression_dpnp.py
  examples/sklearnex/incremental_pca_dpnp.py
  onedal/covariance/covariance.py
  onedal/datatypes/__init__.py
  onedal/datatypes/_sycl_usm.py
  onedal/datatypes/tests/test_data.py
  onedal/decomposition/pca.py
  onedal/utils/_array_api.py
  sklearnex/_device_offload.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/decomposition/pca.py
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/preprocessing/_data.py
  sklearnex/tests/test_patching.py
  sklearnex/utils/_array_api.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Prefix array-API test globals per file; skip array_api_strict only on numpy>=2.5
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix array_api_strict skip direction: skip on numpy<2.5, run on >=2.5
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

minor follow-up plus examples and tests scope update
  examples/sklearnex/basic_statistics_spmd.py
  examples/sklearnex/covariance_spmd.py
  examples/sklearnex/dbscan_spmd.py
  examples/sklearnex/incremental_basic_statistics_dpnp.py
  examples/sklearnex/incremental_covariance_spmd.py
  examples/sklearnex/incremental_linear_regression_dpnp.py
  examples/sklearnex/incremental_pca_dpnp.py
  examples/sklearnex/kmeans_spmd.py
  examples/sklearnex/knn_bf_classification_spmd.py
  examples/sklearnex/knn_bf_regression_spmd.py
  examples/sklearnex/linear_regression_spmd.py
  examples/sklearnex/logistic_regression_spmd.py
  examples/sklearnex/pca_spmd.py
  examples/sklearnex/random_forest_classifier_spmd.py
  examples/sklearnex/random_forest_regressor_spmd.py
  sklearnex/decomposition/pca.py
  sklearnex/spmd/basic_statistics/tests/test_basic_statistics_spmd.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/cluster/tests/test_dbscan_spmd.py
  sklearnex/spmd/cluster/tests/test_kmeans_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/spmd/ensemble/tests/test_forest_spmd.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
  sklearnex/spmd/linear_model/tests/test_linear_regression_spmd.py
  sklearnex/spmd/linear_model/tests/test_logistic_regression_spmd.py
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

revisions on prev non-array api tests
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/preview/preprocessing/tests/test_data.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

check for None before using namespace (#3321)
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix typo in variable name (#3320)
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

lingering test fails
  onedal/datatypes/sycl_usm/data_conversion.cpp
  onedal/datatypes/sycl_usm/sycl_usm_utils.cpp
  onedal/datatypes/sycl_usm/sycl_usm_utils.hpp
  sklearnex/preview/preprocessing/tests/test_data.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unneeded limitation
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

add note to inherit docstrings
  sklearnex/dummy/_dummy.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip failing tests
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

skips based on numpy versions
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[fix] correct addition of of the `spmd` submodule to `onedal.__all__` to follow proper importing standards (#3311)
  onedal/__init__.py
  onedal/spmd/__init__.py
Due: .ci/pipeline/nightly.yml

[maintenance] Delete `daal4py.sklearn` estimators with equivalent `sklearnex` functionality (#3314)
  daal4py/sklearn/__init__.py
  daal4py/sklearn/cluster/__init__.py
  daal4py/sklearn/cluster/dbscan.py
  daal4py/sklearn/cluster/k_means.py
  daal4py/sklearn/cluster/tests/test_dbscan.py
  daal4py/sklearn/decomposition/__init__.py
  daal4py/sklearn/decomposition/_pca.py
  daal4py/sklearn/ensemble/__init__.py
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
  daal4py/sklearn/linear_model/__init__.py
  daal4py/sklearn/linear_model/_linear.py
  daal4py/sklearn/linear_model/_ridge.py
  daal4py/sklearn/linear_model/linear.py
  daal4py/sklearn/linear_model/ridge.py
  daal4py/sklearn/linear_model/tests/test_linear.py
  daal4py/sklearn/linear_model/tests/test_ridge.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  daal4py/sklearn/monkeypatch/tests/_models_info.py
  daal4py/sklearn/svm/__init__.py
  daal4py/sklearn/svm/svm.py
  setup.py
  sklearnex/cluster/k_means.py
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/decomposition/pca.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/linear_model/ridge.py
  sklearnex/linear_model/tests/test_ridge.py
  sklearnex/svm/__init__.py
  sklearnex/tests/test_monkeypatch.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

necessary test skips
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

change wrapper
  sklearnex/preview/preprocessing/_data.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

address some comments and pca spmd
  sklearnex/_device_offload.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/cluster/dbscan.py
  sklearnex/cluster/k_means.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/decomposition/pca.py
  sklearnex/dummy/_dummy.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/_base_linear_model.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/ridge.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/preview/preprocessing/_data.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/neighbors/neighbors.py
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
  sklearnex/tests/test_patching.py
  sklearnex/utils/_array_api.py
  sklearnex/utils/class_weight.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix remaining gpu tests
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Correct array_api_strict skip boundary to numpy<2.2
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Pin array_api_strict skip boundary to numpy<2.2.5
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more skips
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix
  sklearnex/preview/preprocessing/_data.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more deselections
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

more fixes
  sklearnex/preview/covariance/covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix expected error
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

address comments
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[enhancement] Add CPython free-threading support
  generator/wrapper_gen.py
  onedal/dal.cpp
  onedal/datatypes/numpy/data_conversion.cpp
  scripts/CMakeLists.txt
  scripts/build_backend.py
  setup.py
  sklearnex/tests/test_free_threading.py
  src/daal4py.cpp
  src/daal4py.h
  src/dist_dbscan.h
  src/gbt_model_builder.pyx
  src/log_reg_model_builder.pyx
  src/mpi/mpi_transceiver.cpp
  src/mpi/mpi_transceiver.h
  src/npy4daal.h
  src/transceiver.cpp
  src/transceiver.h
  tests/test_build_backend.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix free-threading CI regressions
  onedal/datatypes/numpy/data_conversion.cpp
  onedal/dummy/dummy_onedal.hpp
  pyproject.toml
  scripts/CMakeLists.txt
  scripts/build_backend.py
  setup.py
  sklearnex/tests/test_free_threading.py
  src/daal4py.cpp
  src/mpi/mpi_transceiver.cpp
  src/transceiver.cpp
  tests/test_build_backend.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

restore forest deselection from normalize sample weights (#3292)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Fix CI build configuration regressions
  conda-recipe/meta.yaml
  scripts/build_backend.py
  tests/test_build_backend.py
Due: .ci/pipeline/nightly.yml

Add transform_output tests for IncrementalPCA
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

expand examples comments and address comment
  examples/sklearnex/basic_statistics_spmd.py
  examples/sklearnex/covariance_spmd.py
  examples/sklearnex/dbscan_spmd.py
  examples/sklearnex/incremental_basic_statistics_dpnp.py
  examples/sklearnex/incremental_covariance_spmd.py
  examples/sklearnex/incremental_linear_regression_dpnp.py
  examples/sklearnex/incremental_pca_dpnp.py
  examples/sklearnex/kmeans_spmd.py
  examples/sklearnex/knn_bf_classification_spmd.py
  examples/sklearnex/knn_bf_regression_spmd.py
  examples/sklearnex/linear_regression_spmd.py
  examples/sklearnex/logistic_regression_spmd.py
  examples/sklearnex/pca_spmd.py
  examples/sklearnex/random_forest_classifier_spmd.py
  examples/sklearnex/random_forest_regressor_spmd.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Pass array to xp.where in IncrementalPCA singular_values NaN fill
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Harden free-threaded native and MPI lifecycles
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/ci.yml
  .github/workflows/ci.yml
  conda-recipe/meta.yaml
  generator/wrapper_gen.py
  onedal/dal.cpp
  onedal/datatypes/numpy/data_conversion.cpp
  pyproject.toml
  scripts/CMakeLists.txt
  scripts/build_backend.py
  setup.py
  sklearnex/tests/test_free_threading.py
  src/daal4py.cpp
  src/daal4py.h
  src/mpi/mpi_transceiver.cpp
  src/mpi/mpi_transceiver.h
  src/transceiver.cpp
  src/transceiver.h
  tests/mpi_lifecycle_smoke.py
  tests/test_build_backend.py
  tests/test_mpi_lifecycle.py
  tests/test_native_threading.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Skip MPI lifecycle tests without MPI support
  tests/test_mpi_lifecycle.py
Due: .ci/pipeline/nightly.yml

Update sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix doc link
  doc/sources/additional_parameters.rst
Due: .ci/pipeline/docs.yml

[maintenance] relint repository with clang-format 20.1.8 (#3309)
  .pre-commit-config.yaml
  onedal/common/dispatch_utils.hpp
  onedal/datatypes/numpy/data_conversion.cpp
  src/daal4py.cpp
Due: .ci/pipeline/nightly.yml

Address free-threading review feedback
  generator/wrapper_gen.py
  pyproject.toml
  scripts/build_backend.py
Due: .ci/pipeline/nightly.yml
