Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Apply suggestions from code review
  .ci/AGENTS.md
  .github/instructions/build-config.instructions.md
  .github/instructions/daal4py.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/onedal.instructions.md
  .github/instructions/sklearnex.instructions.md
  .github/instructions/tests.instructions.md
  AGENTS.md
  daal4py/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

remove poorly designed tests
  sklearnex/tests/test_memory_usage.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

scikit-learn 1.6 GPU deselections (#2886)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

FIX, ENH: Patching for LogisticRegressionCV (#2871)
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  daal4py/sklearn/monkeypatch/tests/_models_info.py
  deselected_tests.yaml
  doc/sources/algorithms.rst
  sklearnex/dispatcher.py
  sklearnex/linear_model/__init__.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/tests/test_common.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/tests/test_patching.py
  sklearnex/tests/test_run_to_run_stability.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update function name
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestions from code review
  AGENTS.md
  sklearnex/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

adressign code review comments
  .ci/AGENTS.md
  AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

Deselection for LogRegCV scikit-learn 1.8
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Deselection for LogRegCV scikit-learn 1.8 (#2889)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix indexes being reset on pandas
  daal4py/sklearn/model_selection/_split.py
  daal4py/sklearn/model_selection/tests/test_split.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test with RC of pandas3
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/nightly.yml
  .ci/scripts/setup_rc_deps.sh
Due: .ci/pipeline/nightly.yml

move logregCV to preview
  doc/sources/algorithms.rst
  doc/sources/preview.rst
  setup.py
  sklearnex/dispatcher.py
  sklearnex/linear_model/__init__.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/preview/linear_model/__init__.py
  sklearnex/preview/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document support for preview estimators
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

add back entry in support table
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

remove unused
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

correct name for patch checks
  daal4py/sklearn/monkeypatch/dispatcher.py
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Format renovate.json based on update
  .github/renovate.json
Due: .ci/pipeline/nightly.yml

document and fix patching functions
  doc/sources/index.rst
  doc/sources/patching.rst
  doc/sources/quick-start.rst
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

install pandas pre-release
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/nightly.yml
  .github/workflows/ci.yml
  doc/sources/tests.rst
  requirements-test.txt
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

xfail pandas memtest for v3
  tests/test_df_support.py
Due: .ci/pipeline/nightly.yml

carry out deprecated removals for basic statistics
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

various improvements
  doc/sources/preview.rst
Due: .ci/pipeline/docs.yml

fixes
  onedal/basic_statistics/basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
  sklearnex/_utils.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

reorder
  sklearnex/basic_statistics/basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

improve docs
  doc/sources/about_daal4py.rst
  doc/sources/array_api.rst
  doc/sources/non-scikit-algorithms.rst
  doc/sources/patching.rst
  doc/sources/quick-start.rst
  sklearnex/dispatcher.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

move newton-cg solver to preview
  daal4py/sklearn/linear_model/logistic_path.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document newton-cg solver being in preview
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

MAINT: Remove deprecated attributes for BasicStatistics (#2897)
  onedal/basic_statistics/basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
  sklearnex/_utils.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix directionality of skips
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix skips with cpu queue
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip njobs test
  sklearnex/tests/test_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update sklearnex/preview/linear_model/logistic_regression.py
  sklearnex/preview/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix indexes being reset on pandas (#2890)
  daal4py/sklearn/model_selection/_split.py
  daal4py/sklearn/model_selection/tests/test_split.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

MAINT: Move LogisticRegressionCV to preview (#2893)
  daal4py/sklearn/monkeypatch/dispatcher.py
  doc/sources/preview.rst
  setup.py
  sklearnex/dispatcher.py
  sklearnex/linear_model/__init__.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/preview/linear_model/__init__.py
  sklearnex/preview/linear_model/logistic_regression.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

XFail expected test fail for pandas 3
  tests/test_df_support.py
Due: .ci/pipeline/nightly.yml

restore py3.10 version
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

refactor: move/delete some methods in neighbors.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: try it again
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: try it again
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/common.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
