Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

document unsupported features
  doc/sources/algorithms.rst
  doc/sources/index.rst
  doc/sources/unsupported.rst
Due: .ci/pipeline/docs.yml

typo
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

skip wikipedia links
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

remove unneeded change
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update package indexes (#3171)
  doc/sources/tests.rst
Due: .ci/pipeline/docs.yml

Install pip, etc. on conda create step (#3166)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/conda-recipe-lnx.yml
  .ci/pipeline/conda-recipe-win.yml
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

temporarily check windows azp with older dal
  .ci/pipeline/build-and-test-win.yml
Due: .ci/pipeline/nightly.yml

restore previous
  .ci/pipeline/build-and-test-win.yml
Due: .ci/pipeline/nightly.yml

minor refactor for SRC_DIR linux error
  conda-recipe/build.sh
Due: .ci/pipeline/nightly.yml

Apply suggestion from @ethanglaser
  dependencies-dev
Due: .ci/pipeline/nightly.yml

remove details that are not applicable anymore (#3125)
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

Update onedal/linear_model/tests/test_incremental_linear_regression.py
  onedal/linear_model/tests/test_incremental_linear_regression.py
Due: .ci/pipeline/nightly.yml

Update onedal/linear_model/tests/test_linear_regression.py
  onedal/linear_model/tests/test_linear_regression.py
Due: .ci/pipeline/nightly.yml

do not return from function that acts in-place
  onedal/linear_model/linear_model.py
Due: .ci/pipeline/nightly.yml

DOC: More explicit documentation of DPNP behavior (#3172)
  doc/sources/array_api.rst
  doc/sources/input-types.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

use cf dal and simplify comment
  .ci/pipeline/build-and-test-lnx.yml
  scripts/CMakeLists.txt
Due: .ci/pipeline/nightly.yml

set OCL_ICD_FILENAMES for pip installed dpctl
  .github/scripts/activate_components.sh
Due: .ci/pipeline/nightly.yml

undo last and update install dpcpp step
  .ci/scripts/install_dpcpp.sh
  .github/scripts/activate_components.sh
Due: .ci/pipeline/nightly.yml

revert last and try again
  .ci/pipeline/build-and-test-lnx.yml
  .ci/scripts/install_dpcpp.sh
Due: .ci/pipeline/nightly.yml

drop intel channel conda installs
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

debugging
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

debug revision
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

cf install mkl dpcpp and drop separate step
  .ci/pipeline/build-and-test-lnx.yml
  .ci/scripts/install_dpcpp.sh
  .github/renovate.json
Due: .ci/pipeline/nightly.yml

install dppy from conda
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

don't transfer data to host (#3147)
  sklearnex/model_selection/split.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update links after changes in online docs
  README.md
Due: .ci/pipeline/nightly.yml

fix typo
  doc/sources/preview.rst
Due: .ci/pipeline/docs.yml

rewording about verbosity
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

DOC: Document unsupported scikit-learn features (#3173)
  doc/sources/algorithms.rst
  doc/sources/index.rst
  doc/sources/unsupported.rst
Due: .ci/pipeline/docs.yml

implement namespace checks and on-the-fly model creation for SVMs
  onedal/svm/svm.py
  sklearnex/svm/_base.py
  sklearnex/svm/_classes.py
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix typo
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unneeded method
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document lack of support for moving estimators
  doc/sources/array_api.rst
  doc/sources/unsupported.rst
Due: .ci/pipeline/docs.yml

define attributes used by sklearn
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

more fixes and comments
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

yet more fixes
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for older scipy
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document additional parameters
  daal4py/sklearn/model_selection/_split.py
  doc/sources/additional_parameters.rst
  doc/sources/guide/acceleration.rst
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
