Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Fix XPU tensor conversion in tests and consolidate KMeans array API tests
  onedal/tests/utils/_dataframes_support.py
  sklearnex/_device_offload.py
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Use dlpack_to_numpy for device tensors in _as_numpy test helper
  onedal/tests/utils/_dataframes_support.py
Due: .ci/pipeline/nightly.yml

adjust tolerances for linear regression on fp32 (#3254)
  onedal/linear_model/tests/test_linear_regression.py
Due: .ci/pipeline/nightly.yml

fix imports
  sklearnex/preview/__init__.py
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for linear models under preview
  sklearnex/tests/test_common.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for preview estimators
  sklearnex/dispatcher.py
  sklearnex/preview/covariance/covariance.py
  sklearnex/tests/test_common.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't hard code results from random runs
  sklearnex/preview/linear_model/tests/test_lasso_elasticnet.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unneeded imports
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove fallbacks to sklearn after GPU failures
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for covariance and pca
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/tests/test_n_jobs_support.py
  sklearnex/tests/test_patching.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

restore
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix case of readonly arrays
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix svd solver not getting patched
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

better fix
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update outdated comment
  sklearnex/preview/decomposition/incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Deselect SVM sample weights not an array tests (#3273)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

rmeove sklearn 1.0 specific pytest conditional
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Address review: simplify _convert, create GPU queues inside tests, check transform_output values in dispatch tests
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix win py3.10/pytest3.8 issue
  .ci/scripts/run_sklearn_tests.py
Due: .ci/pipeline/nightly.yml

Add python version split for xgb version
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Test both config_context and set_output triggers for transform_output
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Revert _as_numpy dlpack change: np.asarray handles array_api_strict, dlpack export fails on its readonly arrays
  onedal/tests/utils/_dataframes_support.py
Due: .ci/pipeline/nightly.yml

skip unneeded test after xgboost dart refactor
  tests/test_model_builders.py
Due: .ci/pipeline/nightly.yml

skip test on older numpy
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove kmeans dead code
  daal4py/sklearn/cluster/k_means.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove definite enable_array_api instances
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/ridge.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/svm/_classes.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Drop PCA explicit support for covariance_eigh needed for skl<1.5
  doc/sources/algorithms.rst
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestion from @david-cortes-intel
  dependencies-dev
Due: .ci/pipeline/nightly.yml

update expected error type
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

Add comment about pyyaml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

deselect array api deps tests
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

add pyyaml to requirements-test.txt
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .github/workflows/ci.yml
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

add notes about performance
  doc/sources/model_builders.rst
Due: .ci/pipeline/docs.yml

reword
  doc/sources/model_builders.rst
Due: .ci/pipeline/docs.yml

DOC: Add details about performance of model builders (#3288)
  doc/sources/model_builders.rst
Due: .ci/pipeline/docs.yml

solve merge conflicts
  doc/AGENTS.md
  doc/sources/conf.py
  doc/sources/contribute.rst
  doc/sources/ideas.rst
  doc/sources/support.rst
  doc/sources/tutorials.rst
  doc/third-party-programs-sklearnex.txt
Due: .ci/pipeline/docs.yml

normalize forest weights
  deselected_tests.yaml
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml
