Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

don't interpret float max_samples as int in older sklearn (#2988)
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Restore useful comments in common.py
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Improve array API dispatch: device validation and sklearn fallback
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix device comparison: allow different CPU representations
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

follow sklearn's criterion translation (#2990)
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Fix dpctl concat AttributeError and add torch XPU pickle test
  sklearnex/neighbors/common.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix error when passing list types
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove 'support_input_format' for CPU-only classes/functions
  sklearnex/linear_model/coordinate_descent.py
  sklearnex/manifold/t_sne.py
  sklearnex/metrics/pairwise.py
  sklearnex/metrics/ranking.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

chore(ci): use `scipy==1.10` for Python 3.10+ with older sklearn versions
  .ci/scripts/get_compatible_scipy_version.py
Due: .ci/pipeline/nightly.yml

use encoded 'y' values
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add missing parentheses for condition
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't check for array api support when not offered
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

chore(ci): update `get_compatible_scipy_version`, check scipy 1.12
  .ci/scripts/get_compatible_scipy_version.py
Due: .ci/pipeline/nightly.yml

fall back to sklearn on array api inputs
  daal4py/sklearn/_utils.py
  daal4py/sklearn/linear_model/_coordinate_descent.py
  daal4py/sklearn/manifold/_t_sne.py
  daal4py/sklearn/metrics/_pairwise.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Swap DAAL_C11_OVERRIDE for override (#2992)
  src/daal4py.cpp
  src/npy4daal.h
Due: .ci/pipeline/nightly.yml

Apply suggestion from @Copilot
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Apply suggestion from @ethanglaser
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

match sklearn error types
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: improve error message when DPC++ backend fails to load
  onedal/__init__.py
  onedal/common/_backend.py
Due: .ci/pipeline/nightly.yml

don't run GPU tests when not supported
  sklearnex/metrics/tests/test_metrics.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: wrap long string to satisfy flake8 E501 (max-line-length=90)
  onedal/common/_backend.py
Due: .ci/pipeline/nightly.yml

fix: use scikit-learn-intelex-gpu in conda install hint
  onedal/common/_backend.py
Due: .ci/pipeline/nightly.yml

isolate failing 2026 windows test
  .circleci/run_xpu_tests.py
Due: .ci/pipeline/nightly.yml

Add docstring to SPMD predict_proba
  sklearnex/spmd/neighbors/neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

double -k
  .circleci/run_xpu_tests.py
Due: .ci/pipeline/nightly.yml

try skipping problematic test
  .circleci/run_xpu_tests.py
Due: .ci/pipeline/nightly.yml

fix: comment
  sklearnex/neighbors/common.py
  sklearnex/spmd/neighbors/neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add sklearnex SPMD wrapper for KMeans
  sklearnex/spmd/cluster/kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add KMeans to array_api.rst supported classes
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

skip array API tests where not supported
  sklearnex/linear_model/tests/test_linear.py
  sklearnex/manifold/tests/test_tsne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip tests for sparse array with old sklearn
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

restore missing 'else'
  daal4py/sklearn/metrics/_pairwise.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

missing function
  daal4py/sklearn/metrics/_pairwise.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip array API test on older sklearn
  sklearnex/metrics/tests/test_metrics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fall back to sklearn also on non-fraction bootstrap beyond 100%
  doc/sources/algorithms.rst
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix incorrect name of function in docs (#2991)
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

skip another test due to incompatibilities
  sklearnex/tests/test_sparse_processing.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

correct variable name
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Remove deprecated numeric tables constructors
  src/dist_kmeans.h
  src/dist_kmeans_init.h
Due: .ci/pipeline/nightly.yml

FIX: Error out on single class for SVM after weights (#2994)
  sklearnex/svm/_base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
