Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

verbosity for sphinx
  doc/build-doc.sh
Due: .ci/pipeline/docs.yml

Apply suggestion from @david-cortes-intel
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

update conda instructions
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

more hints
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

remove unneeded check
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip arch wiki due to rate limiting
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

instructions for checking gpu devices
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

MAINT: move logreg`newton-cg` CPU solver to preview (#2898)
  daal4py/sklearn/linear_model/logistic_path.py
  sklearnex/linear_model/tests/test_logreg.py
  sklearnex/tests/test_n_jobs_support.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Revert "MAINT: Remove deprecated attributes for BasicStatistics (#2897)"
  onedal/basic_statistics/basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
  sklearnex/_utils.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

revert Sphinx major
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

fix: performnace
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: validate data
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Introducing AGENTS.md instructions for the repo (#2695)
  .ci/AGENTS.md
  .github/.licenserc.yaml
  .github/instructions/build-config.instructions.md
  .github/instructions/daal4py.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/onedal.instructions.md
  .github/instructions/sklearnex.instructions.md
  .github/instructions/src.instructions.md
  .github/instructions/tests.instructions.md
  AGENTS.md
  daal4py/AGENTS.md
  doc/AGENTS.md
  examples/AGENTS.md
  onedal/AGENTS.md
  sklearnex/AGENTS.md
  src/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: performance
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: validate data
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add array_api_dispatch to spmd validation scope
  sklearnex/spmd/basic_statistics/tests/test_basic_statistics_spmd.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/cluster/tests/test_dbscan_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/spmd/ensemble/tests/test_forest_spmd.py
  sklearnex/spmd/linear_model/tests/test_incremental_linear_spmd.py
  sklearnex/spmd/linear_model/tests/test_linear_regression_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

formatting
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip arch wiki due to rate limiting (#2935)
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

fix: add enable array api decorator
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: performance and add spmd array api dispatch flag
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: gpu errors
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: comments
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: gpu
  sklearnex/_device_offload.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fix spmd
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Initial refactoring of LogReg
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Combine onedal _device_offload.py change
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

Align Logistic Regression SPMD estimator with LinReg SPMD estimator
  onedal/linear_model/logistic_regression.py
  onedal/spmd/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/spmd/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: added onedal device offload changes in #2940
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

fix: comments
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: get array from namespace for gpu data
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: comments
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: device offload with standalone functions to hanlde converstion
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

revert: restore onedal/_device_offload.py to main (defer to #2940)
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

correction about conda dependencies
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

correction about conda managed dependencies
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

DOC: Update instructions for building with conda (#2934)
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

fix: add multi output true
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: let non sycl arrays gpu input fall back to sklearn
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: simpliy unique_inverse
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
