Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Update _device_selection.py
  onedal/tests/utils/_device_selection.py
Due: .ci/pipeline/nightly.yml

Update _sycl_queue_manager.py
  onedal/utils/_sycl_queue_manager.py
Due: .ci/pipeline/nightly.yml

extend gold data to have multiple rows per rank
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

formatting
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update _dlpack.py
  onedal/datatypes/_dlpack.py
Due: .ci/pipeline/nightly.yml

Update _third_party.py
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

fix: forest dpctl predict queue misalignment (#2507)
  onedal/ensemble/forest.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_kmeans.py
  onedal/cluster/tests/test_kmeans.py
Due: .ci/pipeline/nightly.yml

clarify about behavior on windows
  INSTALL.md
Due: .ci/pipeline/nightly.yml

ENH: Add command line option for debug builds (#2572)
  INSTALL.md
  scripts/build_backend.py
  setup.py
Due: .ci/pipeline/nightly.yml

Update ubuntu CI image to 24.04 (#2571)
  .ci/pipeline/ci.yml
  .ci/pipeline/docs.yml
  .ci/pipeline/nightly.yml
  .ci/scripts/gen_release_jobs.py
  .pre-commit-config.yaml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Upgrade array-api-strict version
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Add new Array API test deselections
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Fix for _FuncWrapper
  sklearnex/dispatcher.py
  sklearnex/utils/parallel.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Linting
  sklearnex/dispatcher.py
  sklearnex/utils/parallel.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Shift CI matrix
  .ci/pipeline/ci.yml
  README.md
Due: .ci/pipeline/nightly.yml

Add sklearn 1.7 to CI matrix
  .ci/pipeline/ci.yml
Due: .ci/pipeline/nightly.yml

Add deselection aliases
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Update dependencies-dev
  dependencies-dev
Due: .ci/pipeline/nightly.yml

fixes
  onedal/datatypes/_dlpack.py
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

add some testing
  onedal/common/tests/test_sycl.py
Due: .ci/pipeline/nightly.yml

Update test_sycl.py
  onedal/common/tests/test_sycl.py
Due: .ci/pipeline/nightly.yml

Update _device_offload.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add import
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update doc/sources/oneapi-gpu.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

DOC: Better explanations about GPGPU driver installations (#2464)
  README.md
  doc/sources/index.rst
  doc/sources/oneapi-gpu.rst
  doc/sources/quick-start.rst
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add lazy loading of array_api_compat
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

add to __init__
  onedal/datatypes/__init__.py
Due: .ci/pipeline/nightly.yml

remove import
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

fix for numpy-docs
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

fix capitalization
  onedal/datatypes/_data_conversion.py
Due: .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
