Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

drop LDSHARED/LDCXXSHARED rpath filtering
  doc/sources/building-from-source.rst
  setup.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use asan
  conda-recipe/build.sh
  conda-recipe/run_test.sh
Due: .ci/pipeline/nightly.yml

fix
  conda-recipe/build.sh
Due: .ci/pipeline/nightly.yml

another attempt
  conda-recipe/build.sh
Due: .ci/pipeline/nightly.yml

another attempt
  conda-recipe/build.sh
  conda-recipe/run_test.sh
Due: .ci/pipeline/nightly.yml

fixes
  conda-recipe/build.sh
  conda-recipe/run_test.sh
Due: .ci/pipeline/nightly.yml

Deselect the HDBSCAN conformance tests in preview mode only
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Address the fifth round of PR review comments for HDBSCAN
  doc/sources/algorithms.rst
  onedal/cluster/hdbscan.cpp
  onedal/cluster/hdbscan.py
  sklearnex/preview/cluster/hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Allow the sklearn fallback in the HDBSCAN sparse test
  sklearnex/preview/cluster/tests/test_hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

another attempt
  conda-recipe/run_test.sh
Due: .ci/pipeline/nightly.yml

Revert "[enhancement] Build the base-1 CSR index arrays without an intermediate cast array (#3368)"
  onedal/datatypes/numpy/data_conversion.cpp
  onedal/datatypes/numpy/numpy_utils.hpp
  onedal/datatypes/tests/test_data.py
Due: .ci/pipeline/nightly.yml

Revert "[bug] Fix reference counting and buffer ownership in the NumPy/NumericTable conversions (#3361)"
  generator/wrapper_gen.py
  onedal/datatypes/numpy/data_conversion.cpp
  onedal/datatypes/tests/test_data.py
  src/daal4py.cpp
  src/daal4py.h
  src/npy4daal.h
  tests/test_numeric_table_references.py
Due: .ci/pipeline/nightly.yml

Fix the public CI failures for the HDBSCAN integration
  deselected_tests.yaml
  onedal/cluster/hdbscan.py
  onedal/spmd/cluster/hdbscan.py
  sklearnex/preview/cluster/tests/test_hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

throw same convergence warning as sklearn
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[bug] read dummy backend table data through a row accessor (#3396)
  onedal/dummy/dummy_onedal.hpp
Due: .ci/pipeline/nightly.yml

RPATH cleansing follow-up (#3374)
  conda-recipe/build.sh
  doc/sources/building-from-source.rst
  setup.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

resolve kmeans spmd example issues:
  sklearnex/cluster/k_means.py
  sklearnex/spmd/cluster/kmeans.py
  sklearnex/spmd/cluster/tests/test_kmeans_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[bug] Fix transceiver and MPI lifecycle in the daal4py distributed backend (#3362)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/ci.yml
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
  doc/sources/about_daal4py.rst
  doc/sources/daal4py.rst
  doc/sources/distributed_daal4py.rst
  doc/sources/tests.rst
  generator/wrapper_gen.py
  src/dist_dbscan.h
  src/mpi/mpi_transceiver.cpp
  src/mpi/mpi_transceiver.h
  src/transceiver.cpp
  src/transceiver.h
  tests/helper_mpi_tests.py
  tests/mpi_lifecycle_smoke.py
  tests/test_mpi_lifecycle.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Document what concurrent use is supported, not only what is not
  doc/sources/parallelism.rst
Due: .ci/pipeline/docs.yml

Make the polars test imports optional so the cp314t job can collect
  onedal/tests/utils/_dataframes_support.py
  requirements-test-free-threaded.txt
  sklearnex/linear_model/tests/test_mixed_inputs.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix memory leaks in base1 arrays
  onedal/datatypes/numpy/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

FIX: Fix debug compilation with `-O0` flag (#3394)
  scripts/CMakeLists.txt
  setup.py
Due: .ci/pipeline/nightly.yml

force array_api_dispatch for non-numpy array API frameworks (#3332)
  doc/sources/contributor-reference.rst
  onedal/datatypes/_data_conversion.py
  onedal/tests/utils/_dataframes_support.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
  sklearnex/cluster/tests/test_dbscan.py
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/conftest.py
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/dummy/tests/test_dummy.py
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/linear_model/tests/test_incremental_linear.py
  sklearnex/linear_model/tests/test_incremental_ridge.py
  sklearnex/linear_model/tests/test_linear.py
  sklearnex/linear_model/tests/test_logreg.py
  sklearnex/linear_model/tests/test_ridge.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/preview/covariance/tests/test_covariance.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/preview/preprocessing/tests/test_data.py
  sklearnex/spmd/basic_statistics/tests/test_basic_statistics_spmd.py
  sklearnex/spmd/basic_statistics/tests/test_incremental_basic_statistics_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/spmd/linear_model/tests/test_logistic_regression_spmd.py
  sklearnex/spmd/preprocessing/tests/test_data_spmd.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

drop mpi4py import
  sklearnex/spmd/cluster/tests/test_kmeans_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Control preview centralized test runs
  doc/sources/tests.rst
  sklearnex/preview/__init__.py
  sklearnex/tests/test_common.py
  sklearnex/tests/test_monkeypatch.py
  sklearnex/tests/test_n_jobs_support.py
  sklearnex/tests/test_patching.py
  sklearnex/tests/utils/__init__.py
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestion from @ethanglaser
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

fix potential use-after-free in array views
  onedal/datatypes/numpy/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

fall back to sklearn on single-column data
  doc/sources/algorithms.rst
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Drop the Python critical sections and the finalize() lock
  generator/wrapper_gen.py
  src/gbt_model_builder.pyx
  src/log_reg_model_builder.pyx
Due: .ci/pipeline/nightly.yml

resolve kmeans spmd example issues: (#3400)
  sklearnex/cluster/k_means.py
  sklearnex/spmd/cluster/kmeans.py
  sklearnex/spmd/cluster/tests/test_kmeans_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Stop third-party docs outages from failing the docs build
  doc/sources/conf.py
Due: .ci/pipeline/docs.yml

more memory safety
  onedal/datatypes/numpy/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

another fix
  onedal/datatypes/numpy/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

clearer types
  onedal/datatypes/numpy/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

fix
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

document differences in __version__
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

avoid fallback during tests
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use named arg
  sklearnex/tests/utils/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't check for daal4py patching
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

pass correct number of columns
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
