Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Update logistic_regression.py
  sklearnex/spmd/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add root CLAUDE.md and minor setup.py agentic enhancements
  CLAUDE.md
  setup.py
Due: .ci/pipeline/nightly.yml

Expand project_urls in setup.py
  setup.py
Due: .ci/pipeline/nightly.yml

Update requirements-doc.txt
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

fix warning on unused parameter on sklearn fallbacks (#3197)
  sklearnex/neighbors/common.py
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

skip test that fails due to tolerances
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Utilize native `to_table` functionality in `onedal.basic_statistics.IncrementalBasicStatistics` (#3207)
  onedal/basic_statistics/incremental_basic_statistics.py
  onedal/basic_statistics/tests/test_incremental_basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[maintenance] Remove unused memory leak testing SYCL function (#2887 followup) (#3203)
  onedal/common/policy.cpp
  onedal/common/sycl_interfaces.cpp
  onedal/common/sycl_interfaces.hpp
Due: .ci/pipeline/nightly.yml

Update forest.py (#3205)
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

[maintenance] remove unused functions from `onedal.utils.validation` (#3209)
  onedal/utils/validation.py
Due: .ci/pipeline/nightly.yml

[maintenance] Remove onedal mixins (#3210)
  onedal/cluster/dbscan.py
  onedal/cluster/kmeans.py
  onedal/common/_estimator_checks.py
  onedal/common/_mixin.py
  onedal/neighbors/neighbors.py
  onedal/svm/tests/test_csr_svm.py
Due: .ci/pipeline/nightly.yml

[maintenance] fix C++ codecov coverage (#3212)
  .github/scripts/generate_coverage_reports.sh
  scripts/CMakeLists.txt
Due: .ci/pipeline/nightly.yml

[maintenance] remove unused `k_means` function from `onedal.cluster` (#3215)
  onedal/cluster/__init__.py
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

address comments
  conda-recipe/bld.bat
  conda-recipe/meta.yaml
  conda-recipe/pack.bat
Due: .ci/pipeline/nightly.yml

skip test that fails due to tolerances (#3224)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

capitalize full sycl name
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[maintenance] Remove unnecessary base class in `onedal.cluster.KMeans` (#3216)
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

capitalize full sycl name (#3226)
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

torch dtype test update
  onedal/tests/utils/_dataframes_support.py
Due: .ci/pipeline/nightly.yml

[maintenance] Remove `_check_array` function from the `onedal` module (#3217)
  onedal/cluster/kmeans_init.py
  onedal/covariance/covariance.py
  onedal/datatypes/tests/test_data.py
  onedal/primitives/kernel_functions.py
  onedal/utils/validation.py
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Update knn_classification.py
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update neighbors.py
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

remove keywords changes
  setup.py
Due: .ci/pipeline/nightly.yml

Additional deselection related to forest splitter
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

torch specifically for array_api_dispatch
  onedal/tests/utils/_dataframes_support.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix reference to torch when not installed
  sklearnex/svm/tests/test_svm.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
