Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Update __init__.py
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

relative imports
  onedal/__init__.py
  onedal/cluster/__init__.py
  onedal/cluster/dbscan.py
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_init.py
  onedal/common/_backend.py
  onedal/common/hyperparameters.py
  onedal/covariance/covariance.py
  onedal/covariance/incremental_covariance.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/_dlpack.py
  onedal/decomposition/incremental_pca.py
  onedal/decomposition/pca.py
  onedal/ensemble/forest.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/logistic_regression.py
  onedal/neighbors/neighbors.py
  onedal/primitives/get_tree.py
  onedal/primitives/kernel_functions.py
  onedal/spmd/basic_statistics/incremental_basic_statistics.py
  onedal/spmd/decomposition/incremental_pca.py
  onedal/spmd/ensemble/forest.py
  onedal/spmd/linear_model/incremental_linear_model.py
  onedal/svm/svm.py
  onedal/utils/_sycl_queue_manager.py
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

Drop array_api_strict from PCA transform_output tests
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Guard dpnp transform_output cases on SYCL-enabled build
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Gate dpnp cases on _dpc_backend, not is_sycl_device_available
  sklearnex/cluster/tests/test_kmeans.py
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Add array_api_strict back to PCA transform_output tests
  sklearnex/decomposition/tests/test_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update contributor-reference.rst
  doc/sources/contributor-reference.rst
Due: .ci/pipeline/docs.yml

[maintenance] Remove unnecessary inheritance in `onedal.neighbors` Estimators (#3230)
  onedal/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

Update logistic_regression.py (#3218)
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/nightly.yml

add section about REBAR (#3301)
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

remove fallbacks to sklearn after GPU failures (#3275)
  sklearnex/linear_model/linear.py
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

FIX: Fix dtype of coefficients from LogisticRegression being hardcoded to float64 (#3295)
  daal4py/sklearn/linear_model/logistic_path.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove invalid comment
  doc/sources/unsupported.rst
Due: .ci/pipeline/docs.yml

DOC: Document unsupported options from scikit-learn (#3236)
  doc/sources/config-contexts.rst
  doc/sources/unsupported.rst
Due: .ci/pipeline/docs.yml

DOC: Link to scikit-learn optimization guide (#3257)
  doc/sources/parallelism.rst
  doc/sources/serialization.rst
  doc/sources/tutorials.rst
Due: .ci/pipeline/docs.yml

DOC: Document more internal testing utilities (#3140)
  doc/sources/contributor-reference.rst
Due: .ci/pipeline/docs.yml

Update neighbors.py
  onedal/spmd/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

[CI, fix] Change import of importlib to importlib.util in onedal due to it being not always loaded (#3303)
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

[maintenance] Move `support_input_format`,`support_sycl_format` from `onedal._device_offload` to `sklearnex._device_offload` (#3266)
  onedal/_device_offload.py
  onedal/spmd/decomposition/pca.py
  sklearnex/_device_offload.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/decomposition/pca.py
  sklearnex/dummy/_dummy.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/ridge.py
  sklearnex/model_selection/split.py
  sklearnex/preview/covariance/covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Apply suggestion from @david-cortes-intel
  dependencies-dev
Due: .ci/pipeline/nightly.yml

Update neighbors.py (#3304)
  onedal/spmd/neighbors/neighbors.py
Due: .ci/pipeline/nightly.yml

address comments
  daal4py/sklearn/utils/validation.py
  sklearnex/_device_offload.py
  sklearnex/_utils.py
  sklearnex/ensemble/_forest.py
  sklearnex/neighbors/common.py
  sklearnex/tests/test_patching.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

[maintenance] Drop use of `daal_check_version` in `onedal` module (#3271)
  doc/sources/contributor-reference.rst
  onedal/__init__.py
  onedal/cluster/__init__.py
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_init.py
  onedal/common/hyperparameters.py
  onedal/covariance/covariance.py
  onedal/covariance/incremental_covariance.py
  onedal/dal.cpp
  onedal/ensemble/forest.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update kmeans_init.py
  onedal/cluster/kmeans_init.py
Due: .ci/pipeline/nightly.yml

Update __init__.py
  onedal/spmd/cluster/__init__.py
Due: .ci/pipeline/nightly.yml

relint codebase with 20.1.8 clang-format
  .pre-commit-config.yaml
  onedal/common/dispatch_utils.hpp
  onedal/datatypes/numpy/data_conversion.cpp
  src/daal4py.cpp
Due: .ci/pipeline/nightly.yml

fix change in permissions
  src/daal4py.cpp
Due: .ci/pipeline/nightly.yml

Update select_sklearn_tests.py
  .ci/scripts/select_sklearn_tests.py
Due: .ci/pipeline/nightly.yml

[enhancement] force all intra-onedal module imports to being relative (#3302)
  onedal/__init__.py
  onedal/cluster/__init__.py
  onedal/cluster/dbscan.py
  onedal/cluster/kmeans.py
  onedal/cluster/kmeans_init.py
  onedal/common/_backend.py
  onedal/common/hyperparameters.py
  onedal/covariance/covariance.py
  onedal/covariance/incremental_covariance.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/_dlpack.py
  onedal/decomposition/incremental_pca.py
  onedal/decomposition/pca.py
  onedal/ensemble/forest.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/logistic_regression.py
  onedal/neighbors/neighbors.py
  onedal/primitives/get_tree.py
  onedal/primitives/kernel_functions.py
  onedal/spmd/basic_statistics/incremental_basic_statistics.py
  onedal/spmd/decomposition/incremental_pca.py
  onedal/spmd/ensemble/forest.py
  onedal/spmd/linear_model/incremental_linear_model.py
  onedal/svm/svm.py
  onedal/utils/_sycl_queue_manager.py
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

Update __init__.py (#3308)
  onedal/spmd/cluster/__init__.py
Due: .ci/pipeline/nightly.yml

Update test_data.py
  sklearnex/preview/preprocessing/tests/test_data.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _data.py
  sklearnex/preview/preprocessing/_data.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
