Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Update base.py
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_run_to_run_stability.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_config.py
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_patching.py
  sklearnex/tests/test_patching.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update k_means.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update _array_api.py
  onedal/utils/_array_api.py
Due: .ci/pipeline/nightly.yml

Update _device_offload.py
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

Update _device_offload.py
  sklearnex/_device_offload.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

chore: improve override_raw_input explanation
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

update catboost and remove numpy workarounds
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

enable black for python3.13
  pyproject.toml
Due: .ci/pipeline/nightly.yml

bring back workaround for xgboost on py39
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

bring back workaround for pandas on py39
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

bring back more workarounds
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

fix
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

test more combinations
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

local verify doclinks
  sklearnex/base.py
  sklearnex/linear_model/coordinate_descent.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix doclink
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

bring back pytest workaround
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

Workaround to multiclass SVM example failures on AVX2
  examples/daal4py/svm_multiclass.py
Due: .ci/pipeline/nightly.yml

another attempt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

remove also from docs
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

fix+note
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

mention logreg in sklearnex
  doc/sources/daal4py.rst
Due: .ci/pipeline/docs.yml

move comment to separate line
  daal4py/mb/gbt_convertors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

update docs
  doc/sources/model_builders.rst
Due: .ci/pipeline/docs.yml

remove separate d4p docs
  .ci/pipeline/docs.yml
  doc/README.md
  doc/daal4py/Makefile
  doc/daal4py/_static/style.css
  doc/daal4py/_templates/layout.html
  doc/daal4py/algorithms.rst
  doc/daal4py/conf.py
  doc/daal4py/contents.rst
  doc/daal4py/d4p-kmeans-scale.jpg
  doc/daal4py/d4p-linreg-scale.jpg
  doc/daal4py/data.rst
  doc/daal4py/examples.rst
  doc/daal4py/helpers.rst
  doc/daal4py/index.rst
  doc/daal4py/make.bat
  doc/daal4py/model-builders.rst
  doc/daal4py/note.rst
  doc/daal4py/scaling.rst
  doc/daal4py/sklearn.rst
  doc/daal4py/streaming.rst
  doc/daal4py/third-party-programs.txt
  setup.cfg
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  deselected_tests.yaml
  onedal/_device_offload.py
  sklearnex/_device_offload.py
  sklearnex/base.py
  sklearnex/linear_model/coordinate_descent.py
  sklearnex/manifold/t_sne.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
