Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

more tests
  sklearnex/neighbors/tests/test_neighbors.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add device compatibility checks for PCA
  sklearnex/decomposition/pca.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add device compatibility checks for covariance
  sklearnex/covariance/incremental_covariance.py
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/covariance/tests/test_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

implement everything follows X for BasicStatistics
  onedal/basic_statistics/incremental_basic_statistics.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't issue warning on sample_weights
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

check for namespace and device compatibility
  sklearnex/cluster/k_means.py
  sklearnex/cluster/tests/test_kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

restore docutils
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

ci: enable Coverity C++ build coverage in nightly scan (#2533)
  .ci/pipeline/nightly.yml
Due: .ci/pipeline/nightly.yml

loosen tolerances for float32 (#3133)
  onedal/linear_model/tests/test_incremental_linear_regression.py
  onedal/linear_model/tests/test_linear_regression.py
Due: .ci/pipeline/nightly.yml

add device compatibility checks for PCA (#3134)
  sklearnex/decomposition/pca.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add device compatibility checks for covariance (#3135)
  sklearnex/covariance/incremental_covariance.py
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/preview/covariance/covariance.py
  sklearnex/preview/covariance/tests/test_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

don't issue warning on sample_weights (#3148)
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unnecessary assertion
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  onedal/cluster/hdbscan.cpp
  onedal/cluster/hdbscan.py
  sklearnex/cluster/hdbscan.py
  sklearnex/cluster/tests/test_hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

dpcpproot dll logic in third_party.py for dpctl
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

revert last and try in infra instead
  onedal/utils/_third_party.py
Due: .ci/pipeline/nightly.yml

temp: skip all forest tests/examples to gauge status
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/spmd/ensemble/tests/test_forest_spmd.py
  tests/run_examples.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

revert previous
  sklearnex/ensemble/tests/test_forest.py
  sklearnex/spmd/ensemble/tests/test_forest_spmd.py
  tests/run_examples.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  onedal/cluster/hdbscan.py
Due: .ci/pipeline/nightly.yml

use data in CSR format
  sklearnex/linear_model/logistic_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  sklearnex/cluster/hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for tests
  sklearnex/cluster/hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  onedal/cluster/hdbscan.cpp
Due: .ci/pipeline/nightly.yml

Apply black formatting to HDBSCAN cluster files
  onedal/cluster/hdbscan.py
  onedal/cluster/tests/test_hdbscan.py
  sklearnex/cluster/hdbscan.py
  sklearnex/cluster/tests/test_hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _data.py
  sklearnex/preview/preprocessing/_data.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  onedal/cluster/__init__.py
  onedal/cluster/hdbscan.cpp
  onedal/cluster/tests/test_hdbscan.py
  onedal/dal.cpp
  onedal/spmd/cluster/__init__.py
  sklearnex/cluster/__init__.py
  sklearnex/cluster/hdbscan.py
  sklearnex/cluster/tests/test_hdbscan.py
  sklearnex/dispatcher.py
  sklearnex/spmd/cluster/__init__.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  onedal/cluster/__init__.py
  onedal/cluster/tests/test_hdbscan.py
  onedal/spmd/cluster/__init__.py
  sklearnex/cluster/__init__.py
  sklearnex/cluster/tests/test_hdbscan.py
  sklearnex/dispatcher.py
  sklearnex/spmd/cluster/__init__.py
  sklearnex/tests/test_run_to_run_stability.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fake commit
  .ci/pipeline/ci.yml
Due: .ci/pipeline/nightly.yml

Apply suggestions from code review
  .ci/pipeline/build-and-test-lnx.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Apply suggestion from @ethanglaser
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

update install_dpcpp.sh
  .ci/scripts/install_dpcpp.sh
Due: .ci/pipeline/nightly.yml

install dal-gpu
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

fixes
  onedal/cluster/hdbscan.cpp
  onedal/dal.cpp
Due: .ci/pipeline/nightly.yml

temporarily install dal and dal-gpu from intel together
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

fixes
  doc/sources/algorithms.rst
  onedal/cluster/hdbscan.py
  onedal/spmd/cluster/hdbscan.py
  sklearnex/cluster/hdbscan.py
  sklearnex/spmd/cluster/hdbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update dppy to 2026.0 versions for github actions
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update dppy to 2026.0 versions for github actions (#3153)
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

make deselections more specific
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

update python version used for docs
  .github/workflows/docs-release.yml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
