Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

Update .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/build-and-test-win.yml
Due: .ci/pipeline/nightly.yml

Deselections for 2026.0
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

fix: refactoring
  onedal/cluster/kmeans.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: remove comments
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: refacotring
  onedal/cluster/kmeans.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: n_init try to get from skleranex fist due to refacotring
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

fix: revert the get namespace
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

Align conda build numpy with dependencies-dev
  .github/renovate.json
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

Deprecate raw inputs (#2915)
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: n_init
  onedal/cluster/kmeans.py
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

set numpy to v2+ and catboost python limit
  .github/renovate.json
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

Swap DAAL_C11_OVERRIDE for override
  src/daal4py.cpp
  src/npy4daal.h
Due: .ci/pipeline/nightly.yml

fix: n_init
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: init
  onedal/cluster/kmeans.py
Due: .ci/pipeline/nightly.yml

solve conflicts
  onedal/basic_statistics/basic_statistics.py
  onedal/basic_statistics/incremental_basic_statistics.py
  sklearnex/_utils.py
  sklearnex/basic_statistics/basic_statistics.py
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/basic_statistics/tests/test_basic_statistics.py
  sklearnex/basic_statistics/tests/test_incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

roll back change
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

suggest llvm-tools
  doc/sources/building-from-source.rst
Due: .ci/pipeline/docs.yml

set numpy to v2+ and catboost python limit
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

set numpy to v2+ and catboost python limit (#2929)
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

fix: performance
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add validation
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: validate data
  sklearnex/neighbors/knn_regression.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: validate data
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: validate data
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: doc wont exit after build error
  doc/build-doc.sh
Due: .ci/pipeline/docs.yml

Update sklearnex/AGENTS.md
  sklearnex/AGENTS.md
Due: .ci/pipeline/nightly.yml

Update .github/instructions/tests.instructions.md
  .github/instructions/tests.instructions.md
Due: .ci/pipeline/nightly.yml

Update tests/AGENTS.md
  tests/AGENTS.md
Due: .ci/pipeline/nightly.yml

Apply suggestion from @napetrov
  sklearnex/AGENTS.md
Due: .ci/pipeline/nightly.yml

fix validate
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: doc wont exit after build error (#2931)
  doc/build-doc.sh
Due: .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
