Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

Fix versioning in pca.cpp
  onedal/decomposition/pca.cpp
Due: .ci/pipeline/nightly.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

Fix DAAL versions checks in tests
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/covariance/tests/test_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Create pyrightconfig.json
  pyrightconfig.json
Due: .ci/pipeline/nightly.yml

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: .ci/pipeline/nightly.yml

downgrade cython for public CI
  dependencies-dev
Due: .ci/pipeline/nightly.yml

oops
  onedal/ensemble/forest.py
Due: .ci/pipeline/nightly.yml

Update dependencies-dev
  dependencies-dev
Due: .ci/pipeline/nightly.yml

fix: address comments
  doc/sources/algorithms.rst
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: increoemtn notes
  sklearnex/basic_statistics/incremental_basic_statistics.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/linear_model/incremental_linear.py
  sklearnex/linear_model/incremental_ridge.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: verbose
  doc/sources/algorithms.rst
Due: .ci/pipeline/docs.yml

Update sycl.cpp
  onedal/common/sycl.cpp
Due: .ci/pipeline/nightly.yml

Update test_config.py
  sklearnex/tests/test_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update _sycl_queue_manager.py
  onedal/utils/_sycl_queue_manager.py
Due: .ci/pipeline/nightly.yml

Update build-and-test-lnx.yml
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

Update _config.py
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update validation.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update pca.py
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

starting point
  .ci/pipeline/conda-recipe-lnx.yml
  .ci/pipeline/conda-recipe-win.yml
  .ci/scripts/run_sklearn_tests.sh
  .github/workflows/ci.yml
  .github/workflows/openssf-scorecard.yml
  README.md
  daal4py/sklearn/utils/validation.py
  deselected_tests.yaml
  onedal/_device_offload.py
  onedal/datatypes/__init__.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/table.cpp
  onedal/tests/utils/_dataframes_support.py
  setup.py
  sklearnex/utils/validation.py
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update requirements-test.txt
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

fix: forest dpctl predict queue misalignment
  onedal/ensemble/forest.py
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
