Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

fix imports
  sklearnex/utils/tests/test_class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Create __init__.py
  onedal/dummy/__init__.py
Due: .ci/pipeline/nightly.yml

Update _dummy.py
  sklearnex/dummy/_dummy.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix signature
  sklearnex/utils/tests/test_class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix issue
  sklearnex/utils/tests/test_class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update __init__.py
  onedal/__init__.py
Due: .ci/pipeline/nightly.yml

add directory to setup.py
  setup.py
Due: .ci/pipeline/nightly.yml

fix kwargs
  sklearnex/utils/tests/test_class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes for sklearn 1.6
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update test_class_weight.py
  sklearnex/utils/tests/test_class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove hashable dependence
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

change get_namespace call
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes to unique checks
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix another mistake
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: fresh start and try step by step again
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: just get rid of the daal4py functions
  onedal/neighbors/neighbors.py
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

introduce class_count kwarg
  onedal/svm/svm.py
Due: .ci/pipeline/nightly.yml

fix: remove ck feature names
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update class_weight.py
  sklearnex/utils/class_weight.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

start adapting for onedal
  onedal/svm/tests/test_csr_svm.py
Due: .ci/pipeline/nightly.yml

fix: format
  onedal/neighbors/neighbors.py
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes?
  onedal/svm/svm.py
  onedal/svm/tests/test_nusvc.py
Due: .ci/pipeline/nightly.yml

fix tests onedal.svm
  onedal/svm/tests/test_svc.py
Due: .ci/pipeline/nightly.yml

[maintenance] prepare next release for sklearn 1.8 API breaking changes (#2578)
  .ci/scripts/select_sklearn_tests.py
  daal4py/mb/__init__.py
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/monkeypatch/tests/_models_info.py
  daal4py/sklearn/utils/validation.py
  deselected_tests.yaml
  onedal/datatypes/_dlpack.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
  sklearnex/svm/_common.py
  sklearnex/tests/test_patching.py
  tests/test_model_builders.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix: add valudate tests to violation array
  sklearnex/tests/test_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test corrections
  onedal/svm/svm.py
  onedal/svm/tests/test_nusvr.py
  onedal/svm/tests/test_svc.py
  sklearnex/svm/_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Described data copy cases
  doc/sources/input-types.rst
Due: .ci/pipeline/docs.yml

fix: dpn't delete check featuer names
  sklearnex/neighbors/_lof.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix score tests
  onedal/svm/tests/test_nusvr.py
Due: .ci/pipeline/nightly.yml

further score removal
  onedal/svm/tests/test_nusvc.py
Due: .ci/pipeline/nightly.yml

fix more tests
  onedal/svm/tests/test_nusvc.py
Due: .ci/pipeline/nightly.yml

fixes
  onedal/svm/tests/test_nusvc.py
  onedal/svm/tests/test_nusvr.py
Due: .ci/pipeline/nightly.yml

try to fix issues
  onedal/svm/svm.py
  onedal/svm/tests/test_nusvr.py
Due: .ci/pipeline/nightly.yml

try to compromise
  onedal/svm/svm.py
Due: .ci/pipeline/nightly.yml

updates
  onedal/svm/svm.py
  onedal/svm/tests/test_nusvc.py
Due: .ci/pipeline/nightly.yml

support empty kneighbors()
  onedal/neighbors/neighbors.py
  onedal/spmd/neighbors/neighbors.py
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add local_trees_mode details to tuning guide
  doc/sources/guide/acceleration.rst
Due: .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
