Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md

remove unnecessary conditions
  daal4py/sklearn/linear_model/logistic_path.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

experiment
  daal4py/sklearn/linear_model/logistic_path.py
  deselected_tests.yaml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

note about the icd package under conda (#2644)
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Enable common arguments for pytest
  conda-recipe/run_test.sh
Due: .ci/pipeline/nightly.yml

Update common.hpp
  onedal/datatypes/common.hpp
Due: .ci/pipeline/nightly.yml

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Due: .ci/pipeline/nightly.yml

Update _device_offload.py
  onedal/_device_offload.py
Due: .ci/pipeline/nightly.yml

Store pytest verbosity args in common file
  .ci/scripts/run_sklearn_tests.py
  .pytest-verbosity-args
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
Due: .ci/pipeline/nightly.yml

Fix typos in script
  conda-recipe/run_test.sh
Due: .ci/pipeline/nightly.yml

Linting
  .ci/scripts/run_sklearn_tests.py
Due: .ci/pipeline/nightly.yml

Exception for license check
  .github/.licenserc.yaml
Due: .ci/pipeline/nightly.yml

bring back deselections
  daal4py/sklearn/linear_model/logistic_path.py
  deselected_tests.yaml
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

try making test run faster
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update dpc installation
  .ci/pipeline/build-and-test-lnx.yml
  .ci/scripts/install_dpcpp.sh
Due: .ci/pipeline/nightly.yml

Include pytest args file in conda-recipe testing
  conda-recipe/meta.yaml
Due: .ci/pipeline/nightly.yml

require numpy>=2.0.0 for all py versions
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

implement decision function for GPU with array api
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Revert pip install dpcpp-cpp-rt
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

try again
  onedal/_device_offload.py
  onedal/tests/test_common.py
  onedal/utils/_array_api.py
  sklearnex/decomposition/pca.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/coordinate_descent.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/neighbors/common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

upgrade pandas
  requirements-test.txt
Due: .ci/pipeline/nightly.yml

FIX, MAINT: Offload LogisticRegression to sklearn when oneDAL is not used, fix various issues (#2639)
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/linear_model/tests/test_logreg.py
  deselected_tests.yaml
  doc/sources/algorithms.rst
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

prevent logloss from turning to inf in predictions
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fixes
  onedal/_device_offload.py
  sklearnex/decomposition/pca.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix KMeans transform issue
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

formatting
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

further fixes
  sklearnex/cluster/k_means.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Change entry point to pass args to sklearn tests
  .ci/scripts/run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.sh
Due: .ci/pipeline/nightly.yml

Fix typo
  .ci/pipeline/build-and-test-lnx.yml
Due: .ci/pipeline/nightly.yml

Update incremental_covariance.py
  onedal/covariance/incremental_covariance.py
Due: .ci/pipeline/nightly.yml

Update incremental_covariance.py
  sklearnex/covariance/incremental_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update covariance.py
  sklearnex/preview/covariance/covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update install_dpcpp.sh
  .ci/scripts/install_dpcpp.sh
Due: .ci/pipeline/nightly.yml

stopping point
  onedal/datatypes/_sycl_usm.py
  sklearnex/linear_model/coordinate_descent.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml
