Repository uxlfoundation/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

.ci/pipeline/docs.yml:
  jobs:
  - job: Docs
    pool:
      vmImage: ubuntu-24.04
    steps:
    - script: 'bash .ci/scripts/describe_system.sh
  
        '
      displayName: System info
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
        addToPath: true
  ...

.ci/pipeline/nightly.yml:
  jobs:
  - job: Jupyter
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'conda update -y -q conda
  
        conda create -y -q -n CB -c conda-forge python=$(python.version) dal-devel impi-devel
  
        '
      displayName: Conda create
  ...

fix(ensemble): keep forest predict_proba rows summing to 1
  sklearnex/ensemble/_forest.py
  sklearnex/ensemble/tests/test_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove workaround after proper fix
  sklearnex/ensemble/_forest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update ci.yml
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update activate_components.bat
  .github/scripts/activate_components.bat
Due: .ci/pipeline/nightly.yml

Update activate_components.sh
  .github/scripts/activate_components.sh
Due: .ci/pipeline/nightly.yml

tests: deselect test_set_estimator_drop on CPU as well as GPU
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

tests: shorten the test_set_estimator_drop deselection comment
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

tests: deselect test_set_estimator_drop on CPU as well as GPU (#3452)
  deselected_tests.yaml
Due: .ci/pipeline/nightly.yml

[CI, fix] Add MKL dependency install for oneDAL nightly-based CIs (#3451)
  .github/scripts/activate_components.bat
  .github/scripts/activate_components.sh
  .github/workflows/ci.yml
Due: .ci/pipeline/nightly.yml

Update _config.py
  sklearnex/_config.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

fix intercept checks for multi-output
  sklearnex/linear_model/_base_linear_model.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update array_api.rst
  doc/sources/array_api.rst
Due: .ci/pipeline/docs.yml

Update AGENTS.md
  sklearnex/AGENTS.md
Due: .ci/pipeline/nightly.yml

Update _config.py
  onedal/_config.py
Due: .ci/pipeline/nightly.yml

Update run_xpu_tests.py
  .circleci/run_xpu_tests.py
Due: .ci/pipeline/nightly.yml

Update AGENTS.md
  AGENTS.md
Due: .ci/pipeline/nightly.yml

use sklearn tools to compare namespaces
  sklearnex/linear_model/tests/test_linear_common.py
  sklearnex/tests/utils/__init__.py
  sklearnex/tests/utils/misc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

use torch_xpu_available
  sklearnex/linear_model/tests/test_linear_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

cover variables not copied by clone
  sklearnex/linear_model/_base_linear_model.py
  sklearnex/linear_model/tests/test_linear_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

missing words
  doc/sources/unsupported.rst
Due: .ci/pipeline/docs.yml

Update conftest.py
  sklearnex/conftest.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

test also with multiple targets
  sklearnex/linear_model/tests/test_linear_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

assert that moves do not modify original estimator
  sklearnex/linear_model/tests/test_linear_common.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

add license header
  sklearnex/tests/utils/misc.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

remove unused import
  sklearnex/linear_model/_base_linear_model.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update base.py
  sklearnex/base.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update basic_statistics.py
  sklearnex/spmd/basic_statistics/basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update incremental_basic_statistics.py
  sklearnex/spmd/basic_statistics/incremental_basic_statistics.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update dbscan.py
  sklearnex/spmd/cluster/dbscan.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update kmeans.py
  sklearnex/spmd/cluster/kmeans.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update covariance.py
  sklearnex/spmd/covariance/covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Update incremental_covariance.py
  sklearnex/spmd/covariance/incremental_covariance.py
Due: .ci/pipeline/docs.yml, .ci/pipeline/nightly.yml

Path conditions:
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md, .github/workflows/docs-release.yml, sklearnex/**/*.py, daal4py/**/*.py, examples/notebooks/*.ipynb
  .ci/pipeline/nightly.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml, .github/Pull_Request_template.md
